<div class="wrapper">
    <p class="back" (click)="back()">
        <mat-icon>keyboard_backspace</mat-icon>
        Back
    </p>

    <div class="header">
        <div class="header-container">
            <div class="reg_buss">GTin: {{ datas?.payer?.state_tin }}</div>
            <div class="soft_pattern">{{ datas?.payer?.taxpayer_name }}</div>
            <div class="reg_buss">Registered Taxpayer</div>
        </div>
        <div>
            <button mat-button class="delete" (click)="deleteAss()">
                <span *ngIf="!isdelete">Delete</span>
                <div *ngIf="isdelete" class="loader">
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                </div>
            </button>
        </div>
    </div>

    <!-- table container -->

    <div class="table-container">
        <div class="PayE" *ngIf="datas?.da_type == 'self'">Direct Assessment (Self assessment)</div>
        <div class="PayE" *ngIf="datas?.da_type == 'boj'">Direct Assessment (Best of Judgment))</div>

        <div
            class="left_right_container">
            <!--  -->
            <div class="column">
                <div class="column1">
                    <div class="employee-salary">Description</div>
                    <div class="left_right">
                        <div class="left">
                            <div class="title">Assessment Period</div>
                            <div class="title">Tax Type</div>
                            <div class="title">Currency</div>
                            <div class="title">Date of assessment</div>
                            <div class="title">Status</div>
                            <div class="title2">TOTAL Tax Due</div>
                        </div>
                    </div>
                </div>

                <div class="column2">
                    <div class="deduction">Amount</div>
                    <div class="left_right">
                        <div class="left2">
                            <div class="title">{{ datas?.assessment?.assessment_month }}</div>
                            <div class="title" style="text-transform: uppercase;">{{ datas?.da_type }}</div>
                            <div class="title">NGN</div>
                            <div class="title">{{ datas?.assessment?.created_at | date:'medium' }}</div>
                            <div class="title" *ngIf="datas?.assessment?.remitted == true" style="color: #038541;">Paid</div>
                            <div class="title" *ngIf="datas?.assessment?.remitted == false" style="color: #DD5F5F;">Not-Paid</div>
                            <div class="title">NGN {{ formatMoney(datas?.assessment?.assessment_total || 0) }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="clear: both"></div>

        <div class="generate-button">
            <button mat-button (click)="openDialog(datas, 'gen-bill')">Generate Notice</button>
            <button mat-button>Generate Bill</button>
        </div>

    </div>

    <div style="clear: both; padding-top: 3rem"></div>
</div>
