$wrapper-back: #f5f7fa;
$soft-pattern-font: normal normal normal 15px/19px Montserrat;
$soft-pattern-color: #3c66a3;
$tin-color: #565656;
$reg-buss-font: normal normal normal 15px/19px Montserrat;
$white: #ffffff;

.wrapper {
  background: $wrapper-back;
  overflow: auto;
  min-height: 100vh;
  padding-left: 20px;

  .back {
    margin-top: 1.5rem;
    color: $soft-pattern-color;
    font: $soft-pattern-font;
    font-weight: 500;
    cursor: pointer;
  }

  .back mat-icon {
    vertical-align: middle;
  }

  .header {
    margin-top: 2rem;
    background: rgba(60, 102, 163, 0.05);
    width: 85%;
    padding: 1rem;
    opacity: 1;

    .soft_pattern {
      font: $soft-pattern-font;
      letter-spacing: 0px;
      color: $soft-pattern-color;
      font-weight: 500;
      opacity: 1;
    }

    .reg_buss {
      font: $reg-buss-font;
      letter-spacing: 0px;
      color: $tin-color;
      font-weight: 500;
      margin-top: 10px;
      margin-bottom: 10px;
      opacity: 1;
    }
  }

  .left_right_container {
    display: flex;
    gap: 5%;
  }

  .table-container {
    margin-top: 1rem;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 2rem;
    width: 90%;
    background: $white 0% 0% no-repeat padding-box;
  }

  .PayE {
    font: normal normal normal 14px/16px Montserrat;
    letter-spacing: 0px;
    color: #565656;
    font-weight: 550;
    margin-top: 1rem;
    margin-bottom: 2rem;
    opacity: 1;
  }

  .column {
    width: 55%;
  }

  .column1 {
    float: left;
    width: 50%;
  }

  .column2 {
    float: right;
    width: 50%;
  }

  .employee-salary,
  .deduction {
    background: #697692 0% 0% no-repeat padding-box;
    opacity: 1;
    padding: 0.6rem 15px;
    font: normal normal normal 14px/17px Montserrat;
    font-weight: 500;
    letter-spacing: 0px;
    color: $white;
    opacity: 1;
  }

  .left_right {
    display: flex;
  }

  .left {
    float: left;
    width: 100%;
  }

  .left2 {
    float: left;
    width: 100%;
  }

  .title {
    font: normal normal normal 13px/16px Montserrat;
    font-weight: 500;
    letter-spacing: 0px;
    color: #565656;
    opacity: 1;
    vertical-align: middle;
    padding: 15px;
    height: 1rem;
    display: flex;
    justify-content: left;
    align-items: center;
  }

  .title2 {
    font: normal normal normal 13px/16px Montserrat;
    font-weight: 600;
    letter-spacing: 0px;
    color: #565656;
    opacity: 1;
    vertical-align: middle;
    text-transform: uppercase;
    padding: 15px;
    height: 2rem;
    display: flex;
    justify-content: left;
    align-items: center;
  }

  .right_container {
    border: 1px solid #707070;
    text-align: center;
    width: 45%;
    padding: 1rem;
    margin-top: -4.8rem;
  }

  .right_action {
    font: normal normal normal 15px/20px Montserrat;
    font-weight: 500;
    letter-spacing: 0px;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 2.5rem;
  }

  .right_edit {
    padding: 0.7rem;
    width: 8rem;
    border: 1px solid #309485;
    text-transform: capitalize;
    font: normal normal normal 15px/20px Montserrat;
    letter-spacing: 0px;
    border-radius: 10px;
    color: #3c66a3;
  }

  .right_bill {
    padding: 0.7rem;
    width: 8rem;
    margin-top: 30px;
    background: #3c66a3 0% 0% no-repeat padding-box;
    text-transform: capitalize;
    border-radius: 10px;
    color: $white;
    opacity: 1;
    font: normal normal normal 15px/20px Montserrat;
    letter-spacing: 0px;
  }
}

@media (max-width: 1300px) {
  .wrapper {
    .column {
      width: 65%;
    }
  }
}

@media (max-width: 1050px) {
  .wrapper {
    .column {
      width: 95%;
    }
  }
}
