<div class="generate-dialog" *ngIf="data.type =='generate_bill'">
    <div class="payee_cancel_button">
        <button mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <div id="print-section" class="print-section">
        <div class="title-header">BUSINESS PAY AS YOU EARN BILL</div>

        <div mat-dialog-content>

            <div class="generate_container">
                <div class="generate_left">
                    <div class="left-column">
                        <span class="status">Bill status</span>
                        <span class="pending">Pending</span>
                    </div>
                    <div class="tin">TIN: IRM1244325</div>
                    <div class="com_name">Softpattern Pattern Technology</div>
                    <div class="reg_buss">Registered Business</div>
                </div>
                <div class="generate_right">

                    <div class="column">
                        <div class="column1">
                            <div class="employee-salary">Description</div>
                            <div class="left_right">
                                <div class="left">
                                    <div class="title">Assessment Period</div>
                                    <div class="title">Tax Type</div>
                                    <div class="title">No. Of employee</div>
                                    <div class="title">Currency</div>
                                    <div class="title">Date of assessment</div>
                                    <div class="title">Total monthly Gross</div>
                                    <div class="title">Total Taxable Income</div>
                                    <div class="title">Consolidated relief allowance</div>
                                    <div class="title">Monthly tax Liability</div>
                                    <div class="title2">TOTAL PAYE PAYABLE</div>
                                </div>
                            </div>

                        </div>

                        <div class="column2">
                            <div class="deduction">Amount</div>
                            <div class="left_right">
                                <div class="left2">
                                    <div class="title">January</div>
                                    <div class="title">PAYE</div>
                                    <div class="title">2</div>
                                    <div class="title">NGN</div>
                                    <div class="title">01/12/2020</div>
                                    <div class="title">NGN 10,000</div>
                                    <div class="title">NGN 10,000</div>
                                    <div class="title">NGN 5,000</div>
                                    <div class="title">NGN 5,000</div>
                                    <div class="title2">NGN 10,000</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div style="clear: both;"></div>

                </div>
            </div>

        </div>
        <div>
            <div class="card-actions">
                <div class="print_p">
                    <button mat-button class="print" [useExistingCss]="true" printSectionId="print-section" ngxPrint>
                        <img src="assets/images/print.svg" alt="">
                        print
                    </button>
                </div>
                <div class="pay-now">
                    <div class="note">NOTE : generated assessment will expire in 48 Hours (14/11/2018, 9:30am),
                        payment can be paid using payment mobile App or use payment Platform.
                    </div>
                    <button mat-button class="print2">
                        <img src="assets/images/Iconmaterial-payment.svg" alt="">
                        pay now
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>


<!-- upload file layout -->

<div class="upload_file-dialog" *ngIf="data.type =='upload_file'">
    <div class="upload_cancel_button">
        <button mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </div>


    <div mat-dialog-content>
        <div class="upload_title">Upload Employee Data</div>
        <div class="upload_sub_title">Upload Employeee in the accept format that clearly
            shows the details and emumerations of employees
        </div>
        <div class="blue_title">Download file format here</div>

        <div class="upload_choose">Download file format here</div>

        <form [formGroup]="uploadForm" class="upload_form">
            <p>
                <mat-radio-group matInput formControlName="con">
                    <p>
                        <mat-radio-button value="true" class="radio_button">Consolidated</mat-radio-button>
                        <button mat-button style="margin-left: 20px;" (click)="download('con')">Download format</button>
                    </p>
                    <p>
                        <mat-radio-button value="false" class="radio_button">Non- Consolidated</mat-radio-button>
                        <button mat-button style="margin-left: 20px;" (click)="download('non')">Download format</button>
                    </p>
                </mat-radio-group>
            </p>
        </form>

        <div class="upload_container">
            <input type="file" class="upload-file-input" (change)="onFileSelected($event)" #fileUpload accept=".csv" />

            <div class="upload_csv" (click)="fileUpload.click()">
                <div>
                    <img src="assets/images/8726296_receipt_alt_icon.svg" alt="">
                </div>
                <div style="margin-left: 40px;">
                    <div *ngIf="!fileName" class="browse_p">
                        <span class="browse1">DRAG YOUR FILE HERE OR</span> <span class="browse2">BROWSE</span>
                    </div>
                    <div *ngIf="!fileName" class="supported">Supported file type: CSV</div>
                    <div *ngIf="!fileName" class="file_size">The file size can be up to 20MB</div>
                    <div *ngIf="fileName" class="file_name">{{fileName || "No file uploaded yet."}}</div>
                </div>
            </div>

        </div>

        <div class="upload_continue_p">
            <button mat-button class="upload_continue" (click)="continue()">Continue</button>
        </div>

    </div>

</div>



<!-- Manual upload layout -->

<div class="manual_file-dialog" *ngIf="data.type == 'manual' ">
    <div class="upload_cancel_button">
        <button mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <div class="manual_title">Softpattern Pattern Technology</div>
    <div class="manual_tin">Tax ID: 34546678844</div>

    <div mat-dialog-content class="manual_container">

        <div>
            <div class="manual_filling">Manual Employee filing</div>
            <div class="manual_verify">Kindly verify the employee Tin before you proceed</div>

            <form [formGroup]="manualForm" class="manual_form">

                <mat-form-field class="half-width" appearance="outline">
                    <mat-label>TIN</mat-label>
                    <input matInput formControlName="tin">
                </mat-form-field>

                <button mat-button class="upload_continue" mat-dialog-close
                    [routerLink]="['/dashboard/dashboard3/taxpayer/payee/manual-input']">Continue</button>
            </form>
        </div>

    </div>

</div>