.generate-dialog {
  margin: auto;
  width: 30rem;
  padding-left: 2.5rem;
  padding-right: 2rem;
}

.gen_logo_p {
  text-align: center;
}

.gen_logo_p img {
  width: 100px;
  height: 100px;
}

.payee_cancel_button {
  text-align: right;
  color: #3c66a3;
}

.title-header {
  text-transform: uppercase;
  font: normal normal normal 15px/19px Montserrat;
  font-weight: 500;
  letter-spacing: 0px;
  color: #3c66a3;
  text-transform: uppercase;
  opacity: 1;
  text-align: center;
  margin-bottom: 20px;
}

.generate_left {
  float: left;
  width: 33%;
}

.generate_center {
  float: right;
  width: 33%;
}

.left-column {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.tin {
  font: normal normal normal 15px/19px Montserrat;
  font-weight: 500;
  letter-spacing: 0px;
  margin-top: 5px;
  color: #565656;
  opacity: 1;
}

.gen-success {
  color: #038541;
}

.gen-failed {
  color: #e9322c;
}

.column {
  width: 23rem;
  margin: auto;
}

.column1 {
  float: left;
  width: 50%;
}

.column2 {
  float: right;
  width: 50%;
}

.employee-salary,
.deduction {
  background: #697692 0% 0% no-repeat padding-box;
  opacity: 1;
  padding: 0.6rem 15px;
  font: normal normal normal 14px/17px Montserrat;
  font-weight: 500;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

.left_right {
  display: flex;
}

.left {
  float: left;
  width: 100%;
}

.left2 {
  float: left;
  width: 100%;
}

.title {
  font: normal normal normal 13px/16px Montserrat;
  font-weight: 500;
  letter-spacing: 0px;
  color: #565656;
  opacity: 1;
  vertical-align: middle;
  padding: 15px;
  height: 1rem;
}

.title2 {
  font: normal normal normal 13px/16px Montserrat;
  font-weight: 600;
  letter-spacing: 0px;
  color: #565656;
  opacity: 1;
  vertical-align: middle;
  text-transform: uppercase;
  height: 1rem;
  padding: 15px;
}

.print_p {
  margin-bottom: 2rem;
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.print {
  font: normal normal normal 15px/19px Montserrat;
  font-weight: 500;
  letter-spacing: 0px;
  color: #b9a005;
  opacity: 1;
  text-transform: capitalize;
  padding: 0.4rem;
}

.print_delete {
  color: #dd5f5f;
  vertical-align: middle;
}

.loader-spin {
  color: #dd5f5f;
  animation: spin 3s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.note {
  margin-top: 1rem;
  font: italic normal normal 13px/15px Montserrat;
  letter-spacing: 0px;
  font-weight: 500;
  color: #565656;
  opacity: 1;
}

/* generate notice bill */

.notice-generate_bill {
  width: 35rem;
  padding: 2rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-image: url("/assets/images/MaskGroup10.png");
}
.notice-gen_logo {
  text-align: left;
}

.notice-gen_logo img {
  width: 90px;
  height: 90px;
}

.notice-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.notice-header2 {
  margin-bottom: 1.5rem;
}

.notice-title {
  font: normal normal normal 14px/20px Montserrat;
  font-weight: 500;
  letter-spacing: 0px;
  color: #565656;
  margin-top: 5px;
  opacity: 1;
}

.notice-header2-title {
  font: normal normal normal 17px/21px Montserrat;
  font-weight: 550;
  letter-spacing: 0px;
  color: #565656;
  opacity: 1;
}

.notice-header2-body {
  font: normal normal normal 14px/30px Montserrat;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 35px;
  color: #565656;
  opacity: 1;
}

.notice-header3 {
  margin-bottom: 1.5rem;
}

.notice-thankyou {
  font: normal normal normal 14px/20px Montserrat;
  font-weight: 500;
  letter-spacing: 0px;
  color: #565656;
  opacity: 1;
}

.notice-header4 {
  font: normal normal normal 17px/21px Montserrat;
  font-weight: 550;
  letter-spacing: 0px;
  color: #565656;
  opacity: 1;
  padding-bottom: 0.7rem;
  border-bottom: 2px solid #565656;
}

.notice-column {
  width: 100%;
  padding-bottom: 1rem;
  border-bottom: 2px solid #565656;
}

.titlec {
  font: normal normal normal 13px/16px Montserrat;
  font-weight: 500;
  letter-spacing: 0px;
  color: #565656;
  opacity: 1;
  vertical-align: middle;
  padding: 15px;
  height: 1rem;
}

.notice-print_p {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notice-print {
  font: normal normal normal 15px/19px Montserrat;
  font-weight: 500;
  letter-spacing: 0px;
  color: #b9a005;
  opacity: 1;
  text-transform: capitalize;
  padding: 0.4rem;
}

/* Upload file css */

.upload_file-dialog {
  width: 30rem;
  padding-left: 5rem;
  margin-right: 3rem;
}

.upload_cancel_button {
  text-align: right;
  color: #2aa977;
}

.upload_title {
  font: normal normal normal 16px/20px Montserrat;
  font-weight: 550;
  letter-spacing: 0px;
  text-transform: capitalize;
  margin-top: 10px;
  color: #565656;
  opacity: 1;
}

.upload_sub_title {
  font: normal normal normal 14px/16px Montserrat;
  letter-spacing: 0px;
  font-weight: 500;
  color: #565656;
  margin-top: 5px;
  opacity: 1;
}

.blue_title {
  font: normal normal normal 14px/16px Montserrat;
  font-weight: 550;
  letter-spacing: 0px;
  color: #3c66a3;
  margin-top: 5px;
  opacity: 1;
}

.upload_choose {
  font: normal normal normal 14px/16px Montserrat;
  letter-spacing: 0px;
  font-weight: 550;
  color: #000000;
  opacity: 1;
  margin-top: 15px;
}

.upload_form {
  margin-top: 20px;
  margin-left: 10px;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color: #3c66a3;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #ffffff; /*inner circle color change*/
}

::ng-deep
  .mat-radio-button.mat-accent.mat-radio-checked
  .mat-radio-outer-circle {
  border-color: #3c66a3; /*outer ring color change*/
  background: #3c66a3;
}

.upload-file-input {
  display: none;
}

.upload_csv {
  display: flex;
  justify-content: left;
  align-items: center;
  border: 1px solid #707070;
  padding: 1rem;
  margin-top: 1rem;
}

.browse1 {
  font: normal normal 600 14px/17px Montserrat;
  letter-spacing: 0px;
  text-transform: uppercase;
  opacity: 1;
}

.browse2 {
  font: normal normal 600 14px/17px Montserrat;
  letter-spacing: 0px;
  text-transform: uppercase;
  color: #3c66a3;
  opacity: 1;
}

.supported {
  font: normal normal normal 14px/17px Montserrat;
  letter-spacing: 0px;
  font-weight: 500;
  color: #000000;
  opacity: 1;
}

.file_size {
  font: normal normal normal 14px/17px Montserrat;
  letter-spacing: 0px;
  color: #000000;
  font-weight: 500;
  opacity: 1;
}

.file_name {
  font: normal normal normal 18px/25px Montserrat;
  letter-spacing: 0px;
  color: #000000;
  font-weight: 550;
  opacity: 1;
}

.upload_continue_p {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.upload_continue {
  background: #b9a005 0% 0% no-repeat padding-box;
  border-radius: 10px;
  padding: 0.8rem;
  width: 8rem;
  text-align: center;
  opacity: 1;
  font: normal normal normal 14px/16px Montserrat;
  letter-spacing: 0px;
  color: #ffffff;
  font-weight: 500;
}

.error-response {
  color: #e9322c;
  padding: 0.6rem;
  border: 1px solid #e9322c;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font: normal normal normal 15px/19px Montserrat;
  letter-spacing: 0px;
  font-weight: 500;
}

/* Manual upload css */

.manual_file-dialog {
  width: 30rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.manual_title {
  font: normal normal normal 16px/25px Montserrat;
  letter-spacing: 0px;
  font-weight: 500;
  color: #3c66a3;
  opacity: 1;
}

.manual_tin {
  font: normal normal normal 15px/30px Montserrat;
  letter-spacing: 0px;
  font-weight: 500;
  color: #565656;
  opacity: 1;
}

.manual_container {
  margin-top: 1rem;
  margin-bottom: 2rem;
  background: #f5f7fa 0% 0% no-repeat padding-box;
  border-radius: 20px;
  padding: 1rem;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.manual_filling {
  font: normal normal normal 17px/25px Montserrat;
  font-weight: 500;
  letter-spacing: 0px;
  color: #565656;
  text-align: left;
  opacity: 1;
}

.manual_verify {
  font: normal normal normal 13px/19px Montserrat;
  letter-spacing: 0px;
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 20px;
  color: #565656;
  opacity: 1;
}

.half-width {
  margin-right: 15px;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #37a85d !important;
  background-color: #ffffff !important;
}

::ng-deep
  .mat-form-field-appearance-outline.mat-focused
  .mat-form-field-outline-thick {
  color: #37a85d;
}

::ng-deep .mat-input-element {
  caret-color: #37a85d;
}

::ng-deep .mat-form-field-label {
  color: #565656;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #565656;
}

::ng-deep .mat-form-field-underline,
::ng-deep .mat-form-field-ripple {
  background: #3c66a3;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color: #3c66a3;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #ffffff; /*inner circle color change*/
}

::ng-deep
  .mat-radio-button.mat-accent.mat-radio-checked
  .mat-radio-outer-circle {
  border-color: #3c66a3; /*outer ring color change*/
  background: #3c66a3;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em 0 0.5em 0;
}

.bubble {
  animation: expand 0.75s ease-in-out infinite;
  border-radius: 20px;
  display: inline-block;
  transform-origin: center center;
  margin: 0 3px;
  width: 7px;
  height: 7px;
}

.bubble:nth-child(1) {
  background: #ffffff;
}

.bubble:nth-child(2) {
  animation-delay: 180ms;
  background: #ffffff;
}

.bubble:nth-child(3) {
  animation-delay: 360ms;
  background: #ffffff;
}

.bubble:nth-child(4) {
  animation-delay: 540ms;
  background: #ffffff;
}

@keyframes expand {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.55);
  }
}

@media print {
  .print_p,
  .notice-print_p {
    display: none;
  }
}
