<div class="generate-dialog" *ngIf="data.type === 'generate_bill'">

    <div mat-dialog-content class="print-section" id="print-section">
        <div>
            <div class="gen_logo_p">
                <img class="logo" src="assets/images/gombelogo.png" alt="IRM"/>
            </div>

            <div class="generate_container">
                <div class="gen-left-container" style="margin-bottom: 1.5rem;">
                    <div class="generate_left">
                        <div class="tin">GTin: {{ data.data.payer.state_tin }}</div>
                        <div class="tin">Taxpayer Name: {{ data.data.payer.taxpayer_name }}</div>
                        <div class="tin">Revenue office: {{ data.data.payer.location.name }}</div>
                        <div class="tin">Date of assessment {{ data.data.assessment.created_at | date:"medium" }}</div>
                        <div class="tin">Assessment period: {{ data.data.assessment.assessment_year}}</div>
                    </div>

                    <div class="generate_center">
                        <div class="tin" style="text-transform: uppercase;">
                            Assessment Type: {{ data.data.assessment.assess_type}}
                        </div>
                        <div class="tin">Assessment No. {{ data.data.assessment.id}}</div>
                        <div class="tin">Bill No.. {{ data.data.bill_code }}</div>
                        <div class="tin">Bill Staus: 
                            <span *ngIf="data.data.bill_status" class="gen-success">Paid</span>
                            <span *ngIf="!data.data.bill_status" class="gen-failed">Not-paid</span>
                        </div>
                    </div>

                    <div class="generate_center">
                        <qr-code value="{{data.data.bill_code}}"
                            size="150"
                            errorCorrectionLevel="H"
                            centerImageSrc="undefined"
                            centerImageSize="undefined">
                        </qr-code>
                    </div>
                    <div style="clear: both;"></div>
                </div>

                <div class="gen_table">
                    <div class="column">
                        <div class="column1">
                            <div class="employee-salary">Description</div>
                            <div class="left_right">
                                <div class="left">
                                    <div class="title">Assessment Period</div>
                                    <div class="title">Tax Type</div>
                                    <div class="title">No. Of employee</div>
                                    <div class="title">Currency</div>
                                    <div class="title">Date of assessment</div>
                                    <div class="title">Total Taxable Income</div>
                                    <div class="title2">TOTAL PAYE PAYABLE</div>
                                </div>
                            </div>

                        </div>

                        <div class="column2">
                            <div class="deduction">Amount</div>
                            <div class="left_right">
                                <div class="left2">
                                    <div class="title">{{ data.data.assessment.assessment_month }}</div>
                                    <div class="title" style="text-transform: uppercase;">
                                        {{ data.data.assessment.assess_type }}
                                    </div>
                                    <div class="title">{{ data.data.assessment.employee_total }}</div>
                                    <div class="title">NGN</div>
                                    <div class="title">{{ data.data.assessment.created_at | date:"medium" }}</div>
                                    <div class="title">NGN {{ formatMoney(data.data.assessment.assessment_total || 0) }}</div>
                                    <div class="title">NGN {{ formatMoney(data.data.bill_total || 0) }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="clear: both;"></div>
                </div>
            </div>

            <div class="card-actions">
                <div class="note">NOTE : generated assessment will expire in 48 Hours (14/11/2018, 9:30am),
                    payment can be paid using payment mobile App or use payment Platform.
                </div>
    
                <div class="print_p">
                    <button mat-button class="print" [useExistingCss]="true" printSectionId="print-section" ngxPrint>
                        <img src="assets/images/Page-1.svg" alt="">
                        print
                    </button>
                    <button mat-button class="print">
                        <img src="assets/images/Iconmaterial-payment.svg" alt="">
                        pay now
                    </button>
                    <button mat-button class="print" mat-dialog-close>
                        <i class="fa fa-times fa-lg" aria-hidden="true"></i>
                        Close
                    </button>
                    <button mat-button class="print_delete" (click)="deleteBill()">
                        <i *ngIf="!isdelete" class="fa fa-trash-o fa-lg" aria-hidden="true"></i>
                        <span *ngIf="!isdelete"> Delete</span>
                        <i *ngIf="isdelete" class="fa fa-circle-o-notch fa-lg loader-spin" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- upload file layout -->

<div class="upload_file-dialog" *ngIf="data.type === 'upload_file'">
    <div class="upload_cancel_button">
        <button mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </div>


    <div mat-dialog-content>
        <div class="upload_title">Upload Employee Data</div>
        <div class="upload_sub_title">Upload Employeee in the accept format that clearly
            shows the details and emumerations of employees
        </div>
        <div class="blue_title">Download file format here</div>

        <form [formGroup]="uploadForm" class="upload_form">
            <p>
                <mat-radio-group matInput formControlName="con">
                    <p>
                        <mat-radio-button value="true" class="radio_button">Consolidated</mat-radio-button>
                        <button mat-button style="margin-left: 20px; font: normal normal normal 14px/16px Montserrat; color: #3c66a3;" (click)="download('con')">
                            Download Format
                        </button>
                    </p>
                    <p>
                        <mat-radio-button value="false" class="radio_button">Non- Consolidated</mat-radio-button>
                        <button mat-button style="margin-left: 20px; font: normal normal normal 14px/16px Montserrat; color: #3c66a3;" (click)="download('non')">
                            Download Format
                        </button>
                    </p>
                </mat-radio-group>
            </p>
        </form>

        <div class="upload_container">
            <input type="file" class="upload-file-input" (change)="onFileSelected($event)" #fileUpload accept=".csv" />

            <div class="upload_csv" (click)="fileUpload.click()">
                <div>
                    <img src="assets/images/8726296_receipt_alt_icon.svg" alt="">
                </div>
                <div style="margin-left: 40px;">
                    <div *ngIf="!fileName" class="browse_p">
                        <span class="browse1"><span class="browse2">upload</span> YOUR FILE HERE OR</span>
                    </div>
                    <div *ngIf="!fileName" class="supported">Supported file type: CSV</div>
                    <!-- <div *ngIf="!fileName" class="file_size">The file size can be up to 20MB</div> -->
                    <div *ngIf="fileName" class="file_name">{{fileName || "No file uploaded yet."}}</div>
                </div>
            </div>

        </div>

        <div *ngIf="err" class="error-response">{{ err }}</div>

        <div class="upload_continue_p">
            <button mat-button class="upload_continue" (click)="continue()">
                <span *ngIf="!uploadLoading">Continue</span>
                <div *ngIf="uploadLoading" class="loader">
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                </div>
            </button>
        </div>
    </div>
</div>



<!-- Manual upload layout -->

<div class="manual_file-dialog" *ngIf="data.type === 'manual' ">
    <div class="upload_cancel_button">
        <button mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <div class="manual_title">Softpattern Pattern Technology</div>
    <div class="manual_tin">Tax ID: 34546678844</div>

    <div mat-dialog-content class="manual_container">

        <div>
            <div class="manual_filling">Manual Employee filing</div>
            <div class="manual_verify">Kindly verify the employee Tin before you proceed</div>

            <form [formGroup]="manualForm" class="manual_form">

                <mat-form-field class="half-width" appearance="outline">
                    <mat-label>TIN</mat-label>
                    <input matInput formControlName="tin">
                </mat-form-field>

                <button mat-button class="upload_continue" mat-dialog-close
                    [routerLink]="['/dashboard/dashboard3/taxpayer/payee/manual-input']">Continue</button>
            </form>
        </div>
    </div>
</div>


<!-- generate notice bill -->
<div class="notice-generate_bill" mat-dialog-content *ngIf="data.type === 'gen-bill'" id="printSeaction">
    <div class="notice-gen_logo">
        <img class="notice-logo" src="assets/images/gombelogo.png" alt="IRM"/>
    </div>
    <div class="notice-header">
        <div>
            <div class="notice-title">GTIN: {{ data.data.company.company.state_tin }}</div>
            <div class="notice-title">Taxpayer Name: {{ data.data.company.company.taxpayer_name }}</div>
            <div class="notice-title">Address: {{ data.data.company.company.address }}</div>
        </div>
        <div>
            <div class="notice-title">Revenue office: {{ data.data.company.company.location.name }}</div>
            <div class="notice-title">Date of assessment: {{ data.data.data.assessment_date | date:"medium" }}</div>
            <div class="notice-title">Assessment period: {{ data.data.data.assessment_year }}</div>
        </div>
    </div>

    <div class="notice-header2">
        <div class="notice-header2-title">Notice Assessment</div>
        <div class="notice-header2-body">
            These notice explain the result of our Assessment of your person income return.
             We have calculated your Total tax due And you can find the result below
        </div>
    </div>

    <div class="notice-header3">
        <div class="notice-thankyou">Thank you</div>
        <div class="notice-thankyou">Mallam TATA</div>
        <div class="notice-thankyou">Director of revenue</div>
    </div>

    <div class="notice-header4">Summary of Assessment</div>
    <div class="notice-column">
        <div class="column1">
            <div class="left_right">
                <div class="left">
                    <div class="titlec">Assessment Period</div>
                    <div class="titlec">Tax Type</div>
                    <div class="titlec">No. Of employee</div>
                    <div class="titlec">Currency</div>
                    <div class="titlec">Date of assessment</div>
                    <div class="titlec">Total Taxable Income</div>
                    <div class="title2">TOTAL PAYE PAYABLE</div>
                </div>
            </div>

        </div>

        <div class="column2">
            <div class="left_right">
                <div class="left2">
                    <div class="titlec">{{ data.data.data.assessment_month }}</div>
                    <div class="titlec" style="text-transform: uppercase;">{{ data.data.data.assess_type }}</div>
                    <div class="titlec">{{ data.data.data.employee_total }}</div>
                    <div class="titlec">NGN</div>
                    <div class="titlec">{{ data.data.data.assessment_date | date:"medium" }}</div>
                    <div class="titlec">NGN {{ formatMoney(data.data.data.assessment_total || 0) }}</div>
                    <div class="titlec">NGN {{ formatMoney(data.data.data.assessment_total || 0) }}</div>
                </div>
            </div>
        </div>

        <div style="clear: both;"></div>

    </div>

    <div class="card-actions">
        <div class="notice-print_p">
            <button mat-button class="notice-print" [useExistingCss]="true" printSectionId="printSeaction" ngxPrint>
                <img src="assets/images/Page-1.svg" alt="">
                print
            </button>
            <!-- <button mat-button class="notice-print">
                <img src="assets/images/Iconmaterial-payment.svg" alt="">
                pay now
            </button> -->
        </div>
    </div>
</div>