<div class="header">
    <div class="tin">TIN: IRM1233456</div>
    <div class="soft_pattern">Softpattern Pattern Technology <span class="material-icons">home</span></div>
    <div class="reg_buss">Registered Business</div>

    <div class="buttons_p">
        <button mat-button class="buttons1">Use file Format</button>
        <button mat-button class="buttons2">Input Manually</button>
    </div>
</div>

<div class="header2">
    <div class="float">
        <div class="csv"><span class="material-icons">home</span> Upload CSV File</div>
        <div class="check">Check all <span class="material-icons">home</span></div>
        <div style="clear: both;"></div>
    </div>

    <div class="lists">
        List of added Employee(s)
    </div>

    <div class="main">
        <div class="sn">S/N</div>
        <div class="tin">TIN</div>
        <div class="name">Name of Employee</div>
        <div class="gross_income">
            <div>Cross income (-N-)</div>
            <div>Per Annual</div>
        </div>
        <div class="tax_free">
            <div>Tax free Income (-N-)</div>
            <div>Per Annual</div>
        </div>
        <div class="taxable_income">
            <div>Taxable Income (-N-)</div>
            <div>Per Annual</div>
        </div>
    </div>
    
    <div class="main2">
        <div class="up_csv">
            <div class="no_data">No data yet</div>
            <div class="upload_csv_file"><span class="material-icons">home</span> Upload CSV File</div>
        </div>
    </div>

</div>
