<div class="header">
    <div class="tin">TIN: {{data2?.payer.tin}}</div>
    <div class="soft_pattern"> {{data2?.organisation_name}} <span class="material-icons">close_fullscreen</span></div>
    <div class="reg_buss">Registered Business</div>

    <div class="buttons_p">
        <button mat-button class="buttons1" [class.active]="viewMode == 'file'" (click)="viewMode = 'file'">Use file Format</button>
        <button mat-button class="buttons2" [class.active]="viewMode == 'input'" (click)="viewMode = 'input'">Input Manually</button>
    </div>
</div>


<div [ngSwitch]="viewMode">
    <div *ngSwitchCase="'file'" class="file">

        <div class="header2">
            <div class="float">
                <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>

                <div class="csv">
                    <span (click)="fileUpload.click()">
                        <span class="material-icons">upload_file</span> 
                        Upload CSV File <span class="no_csv" *ngIf="fileName">{{fileName || "No file uploaded yet."}}</span>
                    </span>
                </div>

                <div class="check">Check all <span class="material-icons">dashboard_customize</span></div>
                <div style="clear: both;"></div>
            </div>

            <div class="lists">
                List of added Employee(s)
            </div>

            <div *ngIf="type == false">
                <div class="main">
                    <div class="sn">S/N</div>
                    <div class="tin">TIN</div>
                    <div class="name">Name of Employee</div>
                    <div class="gross_income">
                        <div>Gross income (-N-)</div>
                        <div>Per Annual</div>
                    </div>
                    <div class="tax_free">
                        <div>Tax free Income (-N-)</div>
                        <div>Per Annual</div>
                    </div>
                    <div class="taxable_income">
                        <div>Taxable Income (-N-)</div>
                        <div>Per Annual</div>
                    </div>
                </div>
                
                <div class="main2">
                    <div class="up_csv">
                        <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>
                        
                        <div class="no_data" *ngIf="!fileName">No data yet</div>
                            <div class="upload_csv_file">
                                <span (click)="fileUpload.click()">
                                <span class="material-icons">upload_file</span>
                                    Upload CSV File 
                                    <span class="no_csv" *ngIf="fileName">{{fileName || "No file uploaded yet."}}</span>
                                </span>
                            </div>
                        <div style="text-align: center;" *ngIf="fileName">
                            <button mat-button class="extract_data" (click)="UploadFIle()">
                                <span *ngIf="!upLoading">Extract Data</span>
                                <div class="loader" *ngIf="upLoading">
                                    <div class="bubble"></div>
                                    <div class="bubble"></div>
                                    <div class="bubble"></div>
                                    <div class="bubble"></div>
                                </div>
                            </button>
                        </div>

                    </div>
                </div>
            </div>

            <div *ngIf="type == true">

                <div class="table-container">
                    <div class="table-responsive">
                        <table datatable [dtOptions]="dtOptions" class="row-border table table-striped table-hover table-borderless">
                            <thead>
                            <tr>
                                <th>S/N</th>
                                <th>TIN</th>
                                <th>Name of Employee</th>
                                <th>
                                    <div>Gross income (-N-)</div>
                                    <div>Per Annual</div>
                                </th>
                                <th>
                                    <div>Tax free Income (-N-)</div>
                                    <div>Per Annual</div>
                                </th>
                                <th>
                                    <div>Taxable Income (-N-)</div>
                                    <div>Per Annual</div>
                                </th>
                                <th> </th>
                                <th> </th>
                            </tr>
                            </thead>
                            <!-- payee -->
                            <tbody *ngIf="datas?.length != 0">
                                <tr *ngFor="let data of datas; let i=index">
                                    <td class="align-middle">{{i+1}}</td>
                                    <td class="align-middle">{{ data.employeeTin }}</td>
                                    <td class="align-middle">{{ data.employee }}</td>
                                    <td class="align-middle">{{ formatMoney(data.gross) }}</td>
                                    <td class="align-middle">{{ formatMoney(data.compute_annualtax) }}</td>
                                    <td class="align-middle">{{ formatMoney(data.compute_taxable) }}</td>
                                    <td class="check align-middle" (click)="OpenDialog(data, 'payee2')">
                                        check 
                                        <mat-icon class="table-icon">dashboard_customize</mat-icon>
                                    </td>
                                    <td class="align-middle">
                                        <mat-icon class="table-icon-delete">delete_forever</mat-icon>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="datas?.length == 0">
                                <tr>
                                    <td colspan="3" class="no-data-available">No data!</td>
                                    <td colspan="3" class="no-data-available">No data!</td>
                                    <td colspan="3" class="no-data-available">No data!</td>
                                    <td colspan="3" class="no-data-available">No data!</td>
                                    <td colspan="3" class="no-data-available">No data!</td>
                                    <td colspan="3" class="no-data-available">No data!</td>
                                    <td colspan="3" class="no-data-available">No data!</td>
                                    <td colspan="3" class="no-data-available">No data!</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>


<div [ngSwitch]="viewMode">
    <div *ngSwitchCase="'input'" class="input">

        <div class="input-header">
            <div class="emp_bas">
                Employee Basic details
            </div>
            <div class="body">
                <form novalidate [formGroup]="feedbackForm" #fform="ngForm">
                        <!-- emp_name -->
                        <mat-form-field class="half-full" appearance="outline">
                            <mat-label>Names of employees</mat-label>
                            <input matInput formControlName="name" required>
                            <mat-error>{{formErrors.name}}</mat-error>
                        </mat-form-field>
                        <!-- tin_emp -->
                        <mat-form-field class="half-width" appearance="outline">
                            <mat-label>(TIN) of employee</mat-label>
                            <input matInput formControlName="tin" required>
                            <mat-error>{{formErrors.tin}}</mat-error>
                        </mat-form-field>
                        <!-- year_emp -->
                        <mat-form-field class="half-width" appearance="outline">
                            <mat-label>Year of Employment</mat-label>
                            <mat-select matInput formControlName="year" required>
                                <mat-option *ngFor="let y of year" value="{{y.id}}|{{y.year}}">
                                    {{y.year}}
                                </mat-option>
                            </mat-select>
                            <mat-error>{{formErrors.year}}</mat-error>
                            <mat-hint align="end" (click)="AddYear()" *ngIf="yearError && !yearLoading" style="color: red;"><button>Reload</button></mat-hint>
                            <mat-hint align="end" *ngIf="yearLoading">Loading...</mat-hint>
                        </mat-form-field>
                        <!-- position -->
                        <mat-form-field class="half-width" appearance="outline">
                            <mat-label>Position (optional)</mat-label>
                            <input matInput formControlName="position">
                            <mat-error>{{formErrors.position}}</mat-error>
                        </mat-form-field>
                </form>
            </div>
            <div class="emp_bas2">
                Employee Income Package (Monthly)
            </div>
            <div class="body2">
                <form novalidate [formGroup]="feedbackForm1" #fform1="ngForm">
                    <p>
                        <!-- basic -->
                        <mat-form-field class="half-width2" appearance="outline">
                            <mat-label>Basic (-N-)</mat-label>
                            <input matInput formControlName="basic" required>
                            <mat-error>{{formErrors.basic}}</mat-error>
                        </mat-form-field>
                        <!-- transport -->
                        <mat-form-field class="half-width2" appearance="outline">
                            <mat-label>Housing (-N-)</mat-label>
                            <input matInput formControlName="housing" required>
                            <mat-error>{{formErrors.housing}}</mat-error>
                        </mat-form-field>
                        <!-- transport -->
                        <mat-form-field class="half-width2" appearance="outline">
                            <mat-label>Transport (-N-)</mat-label>
                            <input matInput formControlName="transport" required>
                            <mat-error>{{formErrors.transport}}</mat-error>
                        </mat-form-field>
                        <!-- other -->
                        <mat-form-field class="half-width2" appearance="outline">
                            <mat-label>Other allowances (-N-)</mat-label>
                            <input matInput formControlName="other">
                        </mat-form-field>

                        <button mat-button class="add" [disabled]="fform1.form.invalid || fform.form.invalid || disabled === true" (click)="onSubmit()">
                            <span class="material-icons" *ngIf="!loading">add</span>
                            <span *ngIf="!loading" class="add_text">Add employee</span>
                            <div *ngIf="loading" class="loader">
                                <div class="bubble"></div>
                                <div class="bubble"></div>
                                <div class="bubble"></div>
                                <div class="bubble"></div>
                            </div>
                        </button>
                    <!-- </p> -->
                </form>
            </div>
        </div>

        <div class="header2">
    
            <div class="lists">
                List of added Employee(s)
            </div>

            <div *ngIf="type2 == false">
                <div class="main">
                    <div class="sn">S/N</div>
                    <div class="tin">TIN</div>
                    <div class="name">Name of Employee</div>
                    <div class="gross_income">
                        <div>Gross income (-N-)</div>
                    </div>
                    <div class="tax_free">
                        <div>Tax free Income (-N-)</div>
                    </div>
                    <div class="taxable_income">
                        <div>Taxable Income</div>
                    </div>
                </div>
                
                <div class="main2">
                    <div class="up_csv">
                        <div class="no_data" (click)="type = !type">No data yet</div>
                    </div>
                </div>
            </div>

            <div *ngIf="type2 == true">

                <div class="table-container">
                    <div class="table-responsive">
                        <table datatable [dtOptions]="dtOptions" class="row-border table table-striped table-hover table-borderless">
                            <thead>
                            <tr>
                                <th>S/N</th>
                                <th>TIN</th>
                                <th>Name of Employee</th>
                                <th>
                                    <div>Gross income (-N-)</div>
                                </th>
                                <th>
                                    <div>Tax free Income (-N-)</div>
                                </th>
                                <th>
                                    <div>Taxable Income</div>
                                </th>
                                <th> </th>
                                <th> </th>

                            </tr>
                            </thead>
                            <!-- payee -->
                            <tbody *ngIf="datas?.length != 0">
                                <tr *ngFor="let data of datas; let i=index">
                                    <td class="align-middle">{{i+1}}</td>
                                    <td class="align-middle">{{ data.employeeTin }}</td>
                                    <td class="align-middle">{{ data.employee }}</td>
                                    <td class="align-middle">{{ data.gross }}</td>
                                    <td class="align-middle">{{ data.compute_annualtax }}</td>
                                    <td class="align-middle">{{ data.compute_taxable }}</td>
                                    <td class="check align-middle" (click)="OpenDialog(data, 'payee2')">
                                        check 
                                        <mat-icon class="table-icon">open_with</mat-icon>
                                    </td>
                                    <td class="align-middle">
                                        <mat-icon class="table-icon-delete">delete_forever</mat-icon>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="datas?.length == 0">
                                <tr>
                                    <td colspan="3" class="no-data-available">No data!</td>
                                    <td colspan="3" class="no-data-available">No data!</td>
                                    <td colspan="3" class="no-data-available">No data!</td>
                                    <td colspan="3" class="no-data-available">No data!</td>
                                    <td colspan="3" class="no-data-available">No data!</td>
                                    <td colspan="3" class="no-data-available">No data!</td>
                                    <td colspan="3" class="no-data-available">No data!</td>
                                    <td colspan="3" class="no-data-available">No data!</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

        </div>
        <!-- end of header2 -->
    </div>
</div>

<div class="buttons">
    <button mat-button class="verify2" (click)="back()">Back</button>
    <button mat-button class="verify" (click)="Continue()">Continue</button>
</div>