$header-color: 1px solid #B9A005;
$header-back: #f6fbf6;
$ind-back: #ffffff 0% 0% no-repeat padding-box;
$white: #ffffff;
$ind-border: 1px solid #B9A005;
$ind-font: normal normal normal 12px/15px Montserrat;
$ind-color: #565656;
$create-back: #B9A005 0% 0% no-repeat padding-box;
$active-back: #387499 0% 0% no-repeat padding-box;
$select-color: #565656;
$form-color: #565656;
$label-color: #565656;
$session-h2-font: normal normal 15px/19px Montserrat;
$session-h2-color: #3C66A3;
$verify-hover-b: #B9A005 0% 0% no-repeat padding-box;
$verify-hover-box: 0px 3px 6px #00000029;
$radio-color: #3c66a3;
$back-border: 1px solid #B9A005;
$back-color: #B9A005;
$continue-back: #B9A005 0% 0% no-repeat padding-box;

.wrapper {
  padding-left: 20px;
}

.header {
  padding: 1em 1em 0 1em;
  margin-top: 1rem;
  opacity: 1;
  width: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    border-radius: 50%;
    display: block;
    width: 170px;
    height: 170px;
  }

}

.session {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 10px;
  padding: 1em 1em 0 1em;
  margin-top: 2rem;
  opacity: 1;
  width: 50rem;
  padding-left: 20px;
  overflow: hidden;

  .session-header {
    font: $session-h2-font;
    letter-spacing: 0px;
    color: $session-h2-color;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 2rem;
    opacity: 1;
  }

  input[type="text"] {
    background: $label-color;
  }

  ::ng-deep .mat-select-arrow {
    color: $select-color;
    opacity: 1;
  }

  .form1 {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  mat-error {
    text-transform: capitalize;
    font: normal normal normal 13px/20px Montserrat;
    letter-spacing: 0px;
  }

  mat-form-field {
    color: 1px solid $form-color;
  }

  .half-width {
    width: 100%;
  }

  ::ng-deep .mat-step-header .mat-step-icon-selected,
  .mat-step-header .mat-step-icon-state-done,
  .mat-step-header .mat-step-icon-state-edit {
    background-color: $form-color;
  }

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: $form-color;
  }

  ::ng-deep
    .mat-form-field-appearance-outline.mat-focused
    .mat-form-field-outline-thick {
    color: $form-color;
  }

  ::ng-deep .mat-input-element {
    caret-color: $form-color;
  }

  ::ng-deep .mat-form-field-label {
    color: $label-color;
  }

  ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: $label-color;
  }

  ::ng-deep .mat-form-field-underline,
  ::ng-deep .mat-form-field-ripple {
    background: $radio-color;
  }

  ::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color: $radio-color;
  }

  ::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: $white; /*inner circle color change*/
  }

  ::ng-deep .mat-datepicker-toggle,
  .mat-datepicker-content .mat-calendar-next-button,
  .mat-datepicker-content .mat-calendar-previous-button {
    color: black;
  }

  ::ng-deep
    .mat-radio-button.mat-accent.mat-radio-checked
    .mat-radio-outer-circle {
    border-color: $radio-color; /*outer ring color change*/
    background: $radio-color;
  }

  .hint-error {
    color: #f44336;
    text-transform: capitalize;
  }

}

@mixin theme($back, $color, $font, $border) {
  letter-spacing: 0px;
  font: $font;
  background: $back;
  border: $border;
  border-radius: 10px;
  color: $color;
  font-weight: 500;
  opacity: 1;
  padding: 1rem;
}

.final_submit {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  padding-left: 20px;
}

.verify {
  width: 150px;
  @include theme(
    $back: $continue-back,
    $color: $white,
    $font: $ind-font,
    $border: unset
  );
}

.verify:disabled {
  color: $white;
}

.verify2 {
  margin-right: 20px;
  width: 150px;
  font-weight: 500;
  @include theme(
    $back: $white,
    $color: $back-color,
    $font: $ind-font,
    $border: $back-border
  );
}

.verify:hover,
.verify2:hover {
  background: $verify-hover-b;
  box-shadow: $verify-hover-box;
  color: $white;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em 0 0.5em 0;
}

.bubble {
  animation: expand 0.75s ease-in-out infinite;
  border-radius: 20px;
  display: inline-block;
  transform-origin: center center;
  margin: 0 3px;
  width: 7px;
  height: 7px;
}

.bubble:nth-child(1) {
  background: $white;
}

.bubble:nth-child(2) {
  animation-delay: 180ms;
  background: $white;
}

.bubble:nth-child(3) {
  animation-delay: 360ms;
  background: $white;
}

.bubble:nth-child(4) {
  animation-delay: 540ms;
  background: $white;
}

@keyframes expand {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.55);
  }
}

@media (max-width: 1400px) {
  .session {
    width: 95%;
    overflow-x: hidden;
  }

  .header {
    width: 95%;
    overflow-x: hidden;
  }
}
