<div class="wrapper">

    <div class="header" *ngIf="!update && payer_data.photo ">
        <img [src]="displayImage(payer_data?.photo)" alt="">
    </div>

    <!-- session 1 -->
    <div class="session">
        <div class="session-header" *ngIf="!update">Create individual Taxpayer Account</div>
        <div class="session-header" *ngIf="update">Update individual Taxpayer Account</div>

        <form #card class="form1" id="ngForm" novalidate 
        [formGroup]="feedbackForm1" #fform1="ngForm" fxLayoutGap="15px">
            <p>
                <!-- title -->
                <mat-form-field class="half-width" appearance="outline">
                    <mat-label>Title</mat-label>
                    <mat-select matInput formControlName="title">
                        <mat-option value="mr">Mr.</mat-option>
                        <mat-option value="mrs">Mrs.</mat-option>
                    </mat-select>
                </mat-form-field>
            </p>

            <p>
                <!-- tin -->
                <mat-form-field class="half-width" appearance="outline">
                    <mat-label>JTBTIN (Optional)</mat-label>
                    <input matInput formControlName="tin">
                    <mat-error>{{formErrors.tin}}</mat-error>
                </mat-form-field>
            </p>

            <p>
                <!-- firstname -->
                <mat-form-field class="half-width" appearance="outline">
                    <mat-label>First name</mat-label>
                    <input matInput formControlName="firstname" required>
                    <mat-error>{{formErrors.firstname}}</mat-error>
                </mat-form-field>
            </p>

            <p>
                <!-- surname -->
                <mat-form-field class="half-width" appearance="outline">
                    <mat-label>Surname</mat-label>
                    <input matInput formControlName="surname" required>
                    <mat-error>{{formErrors.surname}}</mat-error>
                </mat-form-field>
            </p>

            <p>
                <!-- gender -->
                <mat-form-field class="half-width" appearance="outline">
                    <mat-label>Gender</mat-label>
                    <mat-select matInput formControlName="gender" required>
                        <mat-option value="male">Male</mat-option>
                        <mat-option value="female">Female</mat-option>
                    </mat-select>
                    <mat-error>{{formErrors.gender}}</mat-error>
                </mat-form-field>
            </p>

            <p>
                <!-- birth -->
                <mat-form-field class="half-width" appearance="outline">
                    <mat-label>Date of Birth</mat-label>
                    <input matInput formControlName="birth" [matDatepicker]="picker" placeholder="DD/MM/YY" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error>{{formErrors.birth}}</mat-error>
                </mat-form-field>
            </p>

            <p>
                <!-- state -->
                <mat-form-field class="half-width" appearance="outline">
                    <mat-label>State of Origin</mat-label>
                    <mat-select matInput formControlName="state" #singleSelect required>
                        <mat-option>
                            <ngx-mat-select-search [formControl]="bankCtrl" [searching]="searching" placeholderlabel="search state..." noentriesfoundlabel="no matching state found"></ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let option of filteredBanks | async" [value]="option.name">
                            <span>{{option.name}}</span>
                        </mat-option>
                    </mat-select>
                    <mat-error>{{formErrors.state}}</mat-error>
                    <mat-hint align="end" (click)="addState()" *ngIf="stateError && !stateLoading">
                        <button>Reload</button>
                    </mat-hint>
                    <mat-hint *ngIf="stateLoading">Loading...</mat-hint>
                </mat-form-field>
            </p>

            <p>
                <!-- lga -->
                <mat-form-field class="half-width" appearance="outline">
                    <mat-label>LGA of residence</mat-label>
                    <mat-select matInput formControlName="lga" #singleSelect required id="lga">
                        <mat-option>
                            <ngx-mat-select-search [formControl]="bankCtrl2" [searching]="searching2" placeholderlabel="search LGA..." noentriesfoundlabel="no matching lga found"></ngx-mat-select-search>
                        </mat-option>
                        <mat-option
                            *ngFor="let lgaOption of filteredBanks2 | async" [value]="lgaOption.id">
                            {{lgaOption.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error>{{formErrors.lga}}</mat-error>
                    <mat-hint *ngIf="!lga" align="end">Select state to get LGA</mat-hint>
                    <mat-hint align="end" (click)="addLga(lga.id)" *ngIf="lgaError && !lgaLoading">
                        <button>Reload</button>
                    </mat-hint>
                    <mat-hint *ngIf="lgaLoading" align="end">Loading...</mat-hint>
                </mat-form-field>
            </p>

            <p>
                <!-- occupation -->
                <mat-form-field class="half-width" appearance="outline">
                    <mat-label>Occupation/provisions</mat-label>
                    <mat-select matInput formControlName="occupation" required>
                        <mat-option *ngFor="let c of list_occupation" [value]="c.id">{{c.name}}</mat-option>
                    </mat-select>
                    <mat-hint align="end" (click)="addOccupation()" *ngIf="occError && !occLoading">
                        <button>Reload</button>
                    </mat-hint>
                    <mat-hint *ngIf="occLoading" align="end">Loading...</mat-hint>
                    <mat-error>{{formErrors.occupation}}</mat-error>
                </mat-form-field>
            </p>
            
            <p>
                <!-- phone -->
                <mat-form-field class="half-width" appearance="outline">
                    <mat-label>Contact number</mat-label>
                    <input matInput formControlName="contact" type="tel" required>
                    <mat-error>{{formErrors.contact}}</mat-error>
                </mat-form-field>
            </p>

            <p>
                <!-- email -->
                <mat-form-field class="half-width" appearance="outline">
                    <mat-label>Email Address</mat-label>
                    <input matInput formControlName="contact_email" type="email" email required>
                    <mat-error>{{formErrors.contact_email}}</mat-error>
                </mat-form-field>
            </p>

            <p>
                <!-- address -->
                <mat-form-field class="half-width" appearance="outline">
                    <mat-label>Residential Address</mat-label>
                    <input matInput formControlName="address" required>
                    <mat-error>{{formErrors.address}}</mat-error>
                </mat-form-field>
            </p>

            <p>
                <!-- office -->
                <mat-form-field class="half-width" appearance="outline">
                    <mat-label>Select Tax Office</mat-label>
                    <mat-select matInput formControlName="office" #singleSelect required>
                        <mat-option>
                            <ngx-mat-select-search [formControl]="bankCtrl3" [searching]="searching3" placeholderlabel="search Offices..." noentriesfoundlabel="no matching office found">
                            </ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let option of filteredBanks3 | async" [value]="option.id">
                            <span>{{option.name}}</span>
                        </mat-option>
                    </mat-select>
                    <mat-error>{{formErrors.office}}</mat-error>
                    <mat-hint align="end" (click)="addLocation()" *ngIf="stateError2 && !stateLoading2" style="color: red;">
                        <button>Reload</button>
                    </mat-hint>
                    <mat-hint *ngIf="stateLoading2" align="end">Loading...</mat-hint>
                </mat-form-field>
            </p>

            <p>
                <!-- employment status -->
                <mat-form-field class="half-width" appearance="outline">
                    <mat-label>Employment status</mat-label>
                    <mat-select matInput [formControl]="floatLabelControl">
                        <mat-option value="employed">Employed</mat-option>
                        <mat-option value="unemployed">Unemployed</mat-option>
                        <mat-option value="retired">Retired</mat-option>
                    </mat-select>
                </mat-form-field>
            </p>

        </form>

    </div>


    <div class="final_submit" *ngIf="!update">
        <button mat-button class="verify2" (click)="back()">Back</button>
        <button type="submit" form="ngForm" mat-button class="verify" (click)="submit()">
            <span *ngIf="!loading">Continue</span>
            <div *ngIf="loading" class="loader">
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
            </div>
        </button>
    </div>

    <div class="final_submit" *ngIf="update">
        <button mat-button class="verify2" (click)="back()">Back</button>
        <button form="ngForm" mat-button class="verify" (click)="submitUpdate()">
            <span *ngIf="!Updateloading">Update</span>
            <div *ngIf="Updateloading" class="loader">
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
            </div>
        </button>
    </div>

</div>
