<div class="payee_wrapper">

    <div class="header">
        <div class="soft_pattern">
            {{ datas[0]?.owner?.taxpayer_name || datas?.taxpayer_name }}
            <span class="material-icons-round icons-rounded" *ngIf="datas[0]?.owner?.is_verified || datas?.is_verified">verified_user</span>
        </div>
        <div class="reg_buss">GTin: {{ datas[0]?.owner?.state_tin || datas?.state_tin }}</div>
    </div>

    <div class="container">
        <button mat-button="mat-button" class="button" [class.active]="viewMode === 'detail'">
            Vehicle Details
        </button>
        <button mat-button="mat-button" class="button" [class.active]="viewMode === 'assessment'">
            Old user details
        </button>
    </div>

    <div
        class="container2">
        <!--  -->
        <div [ngSwitch]="viewMode">
            <div *ngSwitchCase="'detail'" class="verify">
                <app-vehicle-reg-details></app-vehicle-reg-details>
            </div>
        </div>
        <!--  -->
        <div [ngSwitch]="viewMode">
            <div *ngSwitchCase="'assessment'" class="verify">
                <app-vehicle-new-reg-assessment></app-vehicle-new-reg-assessment>
            </div>
        </div>
    </div>

</div>
