<div class="wrapper">

    <div class="header">
        <div class="soft_pattern">{{ datas2?.organisation_name }}</div>
        <div class="reg_buss">Tax ID: {{ datas2.tin }}</div>

        <div class="header-container">
            <div>
                <span class="assess">Assessment for 2022</span>
                <span class="change">Change Year</span>
            </div>
            <div class="gross">Gross Annual Pay (4000)</div>
            <div class="annual">Annual tax Liability (4000)</div>
        </div>


    </div>

    <div>
        <div class="verify">

            <mat-toolbar class="header2">
                <div class="indcom">
                    Employee(s)
                </div>
                <div class="spacer"></div>
                <div class="search_icon_p">
                    <form class="search-form">
                        <input [ngModel]="search" (ngModelChange)="modelChange($event)" name="search" type="text"
                            class="input">
                    </form>
                    <mat-icon class="search_icon">search</mat-icon>
                </div>
            </mat-toolbar>

            <div class="table-container">
                <div class="table-responsive">
                    <table datatable [dtOptions]="dtOptions"
                        class="row-border table table-striped table-hover table-borderless">
                        <thead>
                            <tr>
                                <th>S/N</th>
                                <th>Months</th>
                                <th>No. Of employee</th>
                                <th>Monthly tax Liabilities</th>
                                <th>Status</th>
                                <th>Action</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <!-- individual -->
                        <tbody *ngIf="datas?.length != 0">
                            <tr *ngFor="let data of datas; let i=index">
                                <td class="align-middle">{{i+1}}</td>
                                <td class="align-middle">{{ data.tin }}</td>
                                <td class="align-middle">{{ data.organisation_name }}</td>
                                <td class="align-middle">{{ data?.created_at | date:'yyyy-MM-dd' }}</td>
                                <td class="align-middle">{{ data.phone }}</td>
                                <td (click)="view(data)" class="align-middle" style="color: #3EA84E; cursor: pointer;">
                                    View
                                </td>
                                <td (click)="OpenDialog(data, 'generate_bill')" class="align-middle" style="color: #3EA84E; cursor: pointer;">
                                    Generate Bill
                                </td>
                                <td (click)="reAccess(data)" class="align-middle green" style="color: #3EA84E; cursor: pointer;">Re(Assess)</td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="datas?.length == 0">
                            <tr>
                                <td class="no-data-available">No data!</td>
                                <td class="no-data-available">No data!</td>
                                <td class="no-data-available">No data!</td>
                                <td class="no-data-available">No data!</td>
                                <td class="no-data-available">No data!</td>
                                <td class="no-data-available">No data!</td>
                                <td class="no-data-available">No data!</td>
                                <td class="no-data-available">No data!</td>
                            </tr>
                        </tbody>

                        <div *ngIf="isLoading" class="loader loading">
                            <div class="bubble"></div>
                            <div class="bubble"></div>
                            <div class="bubble"></div>
                            <div class="bubble"></div>
                        </div>

                        <button mat-raised-button class="reload" (click)="reload()">
                            <span *ngIf="!is_reload">RELOAD</span>
                            <div *ngIf="is_reload" class="loader">
                                <div class="bubble"></div>
                                <div class="bubble"></div>
                                <div class="bubble"></div>
                                <div class="bubble"></div>
                            </div>
                        </button>
                    </table>
                </div>
            </div>
        </div>
    </div>


</div>