<div class="wrapper">

    <div class="header-company">
        <div class="soft_pattern">
            {{ datas?.company?.organisation_name }}
            <span class="material-icons-round icons-rounded" *ngIf="datas?.company?.is_verified">verified_user</span>
        </div>
        <div class="reg_buss">GTin: {{ datas?.company?.state_tin }}</div>
    </div>

    <div class="header_p">
        Employee Basic details
    </div>
    <div class="header">
        <p class="back" (click)="back()">
            <mat-icon>keyboard_backspace</mat-icon> Back
        </p>

        <form novalidate id="ngForm" [formGroup]="feedbackForm" #fform="ngForm">
            <p>
                <!-- TIN -->
                <mat-form-field class="half-width" appearance="outline">
                    <mat-label>(Tax Payer) of employee</mat-label>
                    <input matInput formControlName="tin" required type="tel">
                    <mat-error>{{formErrors.tin}}</mat-error>
                </mat-form-field>

                <!-- Names of employees -->
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Names of employees</mat-label>
                    <input matInput formControlName="name" required>
                    <mat-error>{{formErrors.name}}</mat-error>
                </mat-form-field>

                <!-- Position (optional) -->
                <mat-form-field class="half-width" appearance="outline">
                    <mat-label>Position (optional)</mat-label>
                    <input matInput formControlName="position">
                </mat-form-field>

                <!-- Filing Year -->
                <mat-form-field class="half-width" appearance="outline">
                    <mat-label>Filing Year</mat-label>
                    <mat-select matInput formControlName="year">
                        <mat-option *ngFor="let y of years;" [value]="y.id">{{ y.year }}</mat-option>
                    </mat-select>
                    <mat-error>{{formErrors.year}}</mat-error>
                </mat-form-field>
            </p>

            <!-- Current employer -->
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Current employer</mat-label>
                <input matInput formControlName="company_name" required>
                <mat-error>{{formErrors.company_name}}</mat-error>
            </mat-form-field>
        </form>
    </div>

    <!-- table container -->
    <div class="table-container">

        <div class="column1">
            <div class="employee-salary">Employee(s) Salaries</div>
            <div class="left_right">
                <div class="left">
                    <div class="title">Is consolidated?</div>
                    <div class="title" *ngIf="form.value.floatLabelControl === 'true'">Consolidated Gross</div>
                    <div class="title" *ngIf="form.value.floatLabelControl === 'false'">Basic</div>
                    <div class="title" *ngIf="form.value.floatLabelControl === 'false'">Housing</div>
                    <div class="title" *ngIf="form.value.floatLabelControl === 'false'">Transportation</div>
                    <div class="title">Annual Gross Pay</div>
                    <div class="title">Taxable Income</div>
                    <div class="title">Annual Tax Liability</div>
                    <div class="title">Monthly Tax Liability</div>
                </div>
                <div class="right">
                    <div class="sub-title">
                        <form [formGroup]="form">
                            <mat-radio-group formControlName="floatLabelControl">
                                <mat-radio-button value="true" class="radio_button">Yes</mat-radio-button>
                                <mat-radio-button value="false">No</mat-radio-button>
                            </mat-radio-group>
                        </form>
                    </div>
                    <!-- gross -->
                    <div class="sub-title" *ngIf="form.value.floatLabelControl === 'true' ">
                        <form>
                            <input name="consolidate"
                                type="number" class="consolidate_input" [(ngModel)]="consolidate">
                        </form>
                    </div>
                    <!-- basic -->
                    <div class="sub-title" *ngIf="form.value.floatLabelControl === 'false' ">
                        <form>
                            <input name="basic"
                                type="number" class="consolidate_input" [(ngModel)]="basic">
                        </form>
                    </div>
                    <!-- housing -->
                    <div class="sub-title" *ngIf="form.value.floatLabelControl === 'false' ">
                        <form>
                            <input name="housing"
                                type="number" class="consolidate_input" [(ngModel)]="housing">
                        </form>
                    </div>
                    <!-- tp -->
                    <div class="sub-title" *ngIf="form.value.floatLabelControl === 'false' ">
                        <form>
                            <input name="tp"
                                type="number" class="consolidate_input" [(ngModel)]="tp">
                        </form>
                    </div>
                    <div class="sub-title">{{formatMoney(acceptedData?.gross_income || 0)}} (NGN)</div>
                    <div class="sub-title">{{formatMoney(acceptedData?.compute_taxable || 0)}} (NGN)</div>
                    <div class="sub-title">{{formatMoney(acceptedData?.compute_annualtax || 0)}} (NGN)</div>
                    <div class="sub-title">{{formatMoney(acceptedData?.compute_montax || 0)}} (NGN)</div>
                </div>
            </div>
        </div>

        <div class="column2">
            <div class="deduction">Deductions</div>
            <div class="left_right">
                <div class="left2">
                    <div class="title">Register PENCOM?</div>
                    <div class="title">Register NHF?</div>
                    <div class="title">HMO</div>
                    <div class="title">Other deductions</div>
                    <div class="title">Consolidated relief allowance</div>
                </div>
                <div class="right2">
                    <div class="sub-title">
                        <form [formGroup]="form2">
                            <mat-radio-group formControlName="floatLabelControl2">
                                <mat-radio-button value="true" class="radio_button">Yes</mat-radio-button>
                                <mat-radio-button value="false">No</mat-radio-button>
                            </mat-radio-group>
                            <span style="margin-left: 10px;">{{formatMoney(acceptedData?.compute_pension || 0)}} (NGN)</span>
                        </form>
                    </div>
                    <div class="sub-title">
                        <form [formGroup]="form3">
                            <mat-radio-group formControlName="floatLabelControl3">
                                <mat-radio-button value="true" class="radio_button">Yes</mat-radio-button>
                                <mat-radio-button value="false">No</mat-radio-button>
                            </mat-radio-group>
                            <span style="margin-left: 10px;">{{formatMoney(acceptedData?.compute_nhf || 0)}} (NGN)</span>
                        </form>
                    </div>
                    <div class="sub-title">
                        <form>
                            <input name="hmo"
                                type="number" class="consolidate_input"  [(ngModel)]="hmo">
                        </form>
                    </div>
                    <div class="sub-title">
                        <form>
                            <input name="other"
                                type="number" class="consolidate_input" [(ngModel)]="other">
                        </form>
                    </div>
                    <div class="sub-title">{{formatMoney(acceptedData?.compute_cra || 0)}} (NGN)</div>
                </div>
            </div>
        </div>

        <div style="clear: both; padding-top: 3rem;"></div>

        <div class="continue_p"  *ngIf="!update">
            <button type="submit" mat-button form="ngForm" class="continue" (click)="onSubmit()">
                <span *ngIf="!loading">Save</span>
                <div *ngIf="loading" class="loader">
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                </div>
            </button>
        </div>
        <!-- update -->
        <div class="continue_p" *ngIf="update">
            <button type="submit" mat-button form="ngForm" class="continue" (click)="onUpdate()">
                <span *ngIf="!loading">Update</span>
                <div *ngIf="loading" class="loader">
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                </div>
            </button>
        </div>
    </div>
</div>