$header-color: 1px solid #42A845;
$header-back: rgba(62,95,168,0.05);
$ind-back: #FFFFFF 0% 0% no-repeat padding-box;
$white: #FFFFFF;
$ind-border: 1px solid #45A841;
$ind-font: normal normal normal 12px/15px Montserrat;
$ind-color: #565656;
$create-back: transparent linear-gradient(180deg, #3E5FA8 0%, #2AA977 100%) 0% 0% no-repeat padding-box;
$active-back: #387499 0% 0% no-repeat padding-box;
$select-color: #3EA84E;
$form-color: #37A85D;
$label-color: #565656;
$session-h2-font: normal normal 15px/19px Montserrat;
$session-h2-color: #8650AE;
$verify-hover-b: transparent linear-gradient(180deg, #4BE63D 0%, #2AA977 100%) 0% 0% no-repeat padding-box;
$verify-hover-box: 0px 3px 6px #00000029;
$radio-color: #3C66A3;
$back-border: 1px solid #40A84A;
$back-color: #44A843;
$continue-back: transparent linear-gradient(150deg, #3E5FA8 0%, #2AA977 100%) 0% 0% no-repeat padding-box;
$nin-back: transparent linear-gradient(180deg, #4BE63D 0%, #2AA977 100%) 0% 0% no-repeat padding-box;
$nin-shadow: 0px 3px 6px #00000029;
$lock: #37A85C;
$drop-down: #3E538F;


.header {
    background: $header-back;
    padding: 1em 1em 0 1em;
    margin-top: 1rem;
    opacity: 1;
    width: 50rem;

    @mixin theme($back, $color, $font, $border) {
        letter-spacing: 0px;
        font: $font;
        background: $back;
        border: $border;
        border-radius: 10px;
        color: $color;
        font-weight: 500;
        opacity: 1;
        padding: 1rem;
    }


    .verify {
        margin-left: 20px;
        width: 150px;
        @include theme($back: $create-back, $color: $white, $font: $ind-font, $border: unset);
    }

    .verify:hover {
        background: $verify-hover-b;
        box-shadow: $verify-hover-box;
    }

    .loader {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5em 0 0.5em 0;
       }
      
    
      .bubble {
        animation: expand .75s ease-in-out infinite;
        border-radius: 20px;
        display: inline-block;
        transform-origin: center center;
        margin: 0 3px;
        width: 7px;
        height: 7px;
      }
    
      
      .bubble:nth-child(1) {
        background: $white;
      }
      
      .bubble:nth-child(2) {
        animation-delay: 180ms;
        background: $white;
      }
      
      .bubble:nth-child(3) {
        animation-delay: 360ms;
        background: $white;
      }
      
      .bubble:nth-child(4) {
        animation-delay: 540ms;
        background: $white;
      }
      
      @keyframes expand {
        0% {
          transform: scale(1);
        }
        25% {
          transform: scale(1.55);
        }
      }

    input[type=text] {
        background: $label-color;
      } 

      ::ng-deep .mat-select-arrow {
        color: $select-color;
        opacity: 1;
    }
    
    mat-form-field {
        color: 1px solid $form-color;
        width: 250px;
    }
    
    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
        color: $form-color;
    }
    
    ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
        color: $form-color;
    }
    
    ::ng-deep .mat-input-element {
        caret-color: $form-color;
    }
       
    ::ng-deep .mat-form-field-label {
        color: $label-color;
    }
    
    ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
        color: $label-color;
    }

}

.session {
    background: $header-back;
    padding: 1em 1em 0 1em;
    margin-top: 2rem;
    margin-bottom: 2rem;
    opacity: 1;
    width: 50rem;

    .session-header {
        font: $session-h2-font;
        letter-spacing: 0px;
        color: $session-h2-color;
        font-weight: bold;
        opacity: 1;
    }


    input[type=text] {
        background: $label-color;
      } 

      ::ng-deep .mat-select-arrow {
        color: $select-color;
        opacity: 1;
    }

    .form1 {
        margin-top: 1rem;
    }
    
    mat-form-field {
        color: 1px solid $form-color;
    }

    @mixin form($width) {
        width: $width;
        margin-right: 2%;
    }

    .half-width {
        @include form($width: 20%)
    }

    .half-width2 {
        @include form($width: 30%)
    }

    .half-width3 {
        @include form($width: 27.3%)
    }

    .half-full {
        @include form($width: 54%)
    }

    .full-half {
        @include form($width: 64%)
    }

    .full {
        @include form($width: 86%)
    }

    .nin-width {
        @include form($width: 40%)
    }

    .radio_button {
        margin-left: 30px;
    }

    .lock {
        color: $lock;
    }

    .drop_down {
        color: $drop-down;
    }

    .final_submit {
        margin-top: 3rem;
        padding-bottom: 3rem;

        @mixin theme($back, $color, $font, $border) {
            letter-spacing: 0px;
            font: $font;
            background: $back;
            border: $border;
            border-radius: 10px;
            color: $color;
            font-weight: 500;
            opacity: 1;
            padding: 1rem;
        }
        
        .verify {
            width: 150px;
            font-weight: 500;
            @include theme($back: $continue-back, $color: $white, $font: $ind-font, $border: unset);
        }
        
        .verify:disabled{
            color: $white;
        }
        
        .verify2 {
            margin-right: 20px;
            width: 150px;
            @include theme($back: $white, $color: $back-color, $font: $ind-font, $border: $back-border);
        }
        
        .verify:hover, .verify2:hover {
            background: $verify-hover-b;
            box-shadow: $verify-hover-box;
            color: $white;
        }
        
        .loader {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.5em 0 0.5em 0;
           }
          
        
          .bubble {
            animation: expand .75s ease-in-out infinite;
            border-radius: 20px;
            display: inline-block;
            transform-origin: center center;
            margin: 0 3px;
            width: 7px;
            height: 7px;
          }
        
          
          .bubble:nth-child(1) {
            background: $white;
          }
          
          .bubble:nth-child(2) {
            animation-delay: 180ms;
            background: $white;
          }
          
          .bubble:nth-child(3) {
            animation-delay: 360ms;
            background: $white;
          }
          
          .bubble:nth-child(4) {
            animation-delay: 540ms;
            background: $white;
          }
          
          @keyframes expand {
            0% {
              transform: scale(1);
            }
            25% {
              transform: scale(1.55);
            }
          }

    }

    
    ::ng-deep .mat-step-header .mat-step-icon-selected,
    .mat-step-header .mat-step-icon-state-done,
    .mat-step-header .mat-step-icon-state-edit {
        background-color: $form-color;
    }
    
    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
        color: $form-color;
    }
    
    ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
        color: $form-color;
    }
    
    ::ng-deep .mat-input-element {
        caret-color: $form-color;
    }
       
    ::ng-deep .mat-form-field-label {
        color: $label-color;
    }
    
    ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
        color: $label-color;
    }

    ::ng-deep .mat-form-field-underline,
    ::ng-deep .mat-form-field-ripple {
        background: $radio-color;
    }

    ::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
        background-color: $radio-color;
    }
  
    ::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
        background-color: $white;   /*inner circle color change*/
    }
  
    ::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
        border-color:$radio-color; /*outer ring color change*/
        background: $radio-color;
    }

    // ::ng-deep .mat-calendar-body-selected {
    //     background-color: $back-color;
    // }

    // ::ng-deep .mat-calendar-body-selected:hover {
    //     background-color: $header-color;
    // }

}



@media (max-width: 1170px) {
    .session {
        width: 95%;
        overflow-x: hidden;
    }

    .header {
        width: 95%;
        overflow-x: hidden;
    }
}