<div class="wrapper2">
    <div class="button">
        <div class="logo_p">
            <img class="logo" [routerLink]="['/preview']" src="assets/images/gombelogo.png" alt="IRM"/>

            <button mat-icon-button (click)="onPublicHeaderToggleSidenav()" class="hambugger">
                <mat-icon>menu</mat-icon>
            </button>
        </div>

        <p class="back" (click)="PayeeBack()">
            <mat-icon>keyboard_backspace</mat-icon>
            Back
        </p>

        <p class="pay_as_you_earn" [routerLink]="['dashboard2/taxpayer']">Enumeration</p>

        <p class="dash-text" [routerLink]="['dashboard2/taxpayer']" routerLinkActive="active">
            Registered Payers
        </p>
        <p class="dash-text2" (click)="openDialog()">
            Asset Capturing
        </p>
    </div>
</div>
