@import "~bootstrap/dist/css/bootstrap.css";

$tin-font: normal normal normal 15px/19px Montserrat;
$tin-color: #565656;
$soft-pattern-font: normal normal normal 15px/19px Montserrat;
$soft-pattern-color: #3C66A3;
$reg-buss-font: normal normal normal 15px/19px Montserrat;
$white: #FFFFFF;
$csv-check-font: normal normal medium 12px/15px Montserrat;
$csv-check-color: #38729B;
$thead: #FFFFFF 0% 0% no-repeat padding-box;
$thead-text: normal normal normal 12px/15px Montserrat;
$thead-text-color: #3C66A3;
$tbody-back: normal normal normal 15px/19px Montserrat;
$tbody-color: #565656;
$buttons1-font: normal normal normal 12px/15px Montserrat;
$panel-color: #3C66A3;
$create-back: transparent linear-gradient(180deg, #3E5FA8 0%, #2AA977 100%) 0% 0% no-repeat padding-box;
$header-back: rgba(62,95,168,0.05);
$wrapper-back: #F5F7FA;
$continue-back: transparent linear-gradient(150deg, #3E5FA8 0%, #2AA977 100%) 0% 0% no-repeat padding-box;
$ind-font: normal normal normal 12px/15px Montserrat;
$back-border: 1px solid #40A84A;
$back-color: #44A843;
$verify-hover-b: transparent linear-gradient(180deg, #4BE63D 0%, #2AA977 100%) 0% 0% no-repeat padding-box;
$verify-hover-box: 0px 3px 6px #00000029;
$total-color: #FF0031;
$total-font: normal normal normal 17px/20px Montserrat;


.header {
    .tin {
        font: $tin-font;
        letter-spacing: 0px;
        color: $tin-color;
        font-weight: 500;
        opacity: 1;
    }

    .soft_pattern {
        font: $soft-pattern-font;
        letter-spacing: 0px;
        color: $soft-pattern-color;
        font-weight: 500;
        opacity: 1;
    }

    .reg_buss {
        font: $reg-buss-font;
        letter-spacing: 0px;
        color: $tin-color;
        font-weight: 500;
        opacity: 1;
    }

    .material-icons {
        vertical-align: middle;
    }
}

.header2 {
    width: 90%;
    margin-top: 3rem;

    .float {
        margin-bottom: .5rem;
    }

    .csv {
        float: left;
    }

    .check {
        float: right;
    }

    .csv, .check {
        font: $csv-check-font;
        letter-spacing: 0px;
        color: $csv-check-color;
        font-weight: 500;
        cursor: pointer;
        opacity: 1;
    }

    .material-icons {
        vertical-align: middle;
    }

    .no_data {
        font: $buttons1-font;
        letter-spacing: 0px;
        font-weight: 500;
        text-align: center;
        color: $tin-color;
        opacity: 1;
    }

    .table-container {
        margin-bottom: 2rem;
    
        table {
            border: none;
            margin-bottom: 1rem;
        }

        .make_bold {
            font-weight: bold;
            color: $panel-color !important;
        }

        thead {
            border: none;
        }

        thead tr {
            background: $thead;
            width: inherit;
            font: $thead-text;
            letter-spacing: 0px;
            color: $thead-text-color;
        }

        .check {
            font: $thead-text;
            letter-spacing: 0px;
            color: $thead-text-color !important;
        }

        tbody tr {
            font: $tbody-back;
            letter-spacing: 0px;
            color: $tbody-color;
        }

        tr th {
            padding-top: 1rem !important;
            padding-bottom: 1rem !important;
            font: $buttons1-font;
            letter-spacing: 0px;
            color: $soft-pattern-color;
            font-weight: 500;
            opacity: 1;
        }

        .table-icon {
            color: $panel-color;
        }

        ::ng-deep .dataTables_wrapper .dataTables_filter {
            display: none;
        }

        ::ng-deep .dataTables_wrapper .dataTables_paginate .paginate_button.current {
            color: $white !important;
            background: $create-back !important;
            border: unset;
        }

        ::ng-deep .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
            color: $white !important;
            background: $create-back !important;
            border: unset;
        }

        ::ng-deep table.dataTable thead .sorting {
            background-image: unset !important;
        }

        ::ng-deep table.dataTable thead .sorting_asc {
            background-image: unset !important;
        }

        ::ng-deep .table-striped > tbody > tr:nth-of-type(odd) {
            background: $header-back;
        }

        // ::ng-deep .table-striped > tbody > .make_bold:nth-of-type(odd) {
        //     color: $panel-color !important;
        // }

        ::ng-deep .table-striped:hover > tbody:hover > tr:nth-of-type(even):hover {
            background: $wrapper-back !important;
        }

        ::ng-deep .dataTables_wrapper .dataTables_length select {
            display: none;
        }

        ::ng-deep .dataTables_wrapper .dataTables_length label {
            display: none;
        }
    }

    .total {
        text-align: right;
    }

    .total_paye, .total_paye2 {
        font: $total-font;
        letter-spacing: 0px;
        color: $total-color;
        font-weight: 500;
        opacity: 1;
    }

    .total_paye2 {
        margin-left: 1.5rem;
        border-radius: 100%;
        border: 2px solid #30B46C;
        opacity: 1;
        padding: 1rem;
    }

    .buttons {
        text-align: right;
        margin-top: 3rem;
        margin-bottom: 4rem;
    }

    @mixin theme($back, $color, $font, $border) {
        letter-spacing: 0px;
        font: $font;
        background: $back;
        border: $border;
        border-radius: 10px;
        color: $color;
        font-weight: 500;
        opacity: 1;
        padding: 1rem;
    }
    
    .verify {
        width: 150px;
        @include theme($back: $continue-back, $color: $white, $font: $ind-font, $border: unset);
    }
    
    .verify:disabled{
        color: $white;
    }
    
    .verify2 {
        margin-right: 20px;
        width: 150px;
        font-weight: 500;
        @include theme($back: $white, $color: $back-color, $font: $ind-font, $border: $back-border);
    }
    
    .verify:hover, .verify2:hover {
        background: $verify-hover-b;
        box-shadow: $verify-hover-box;
        color: $white;
    }

}
