<div class="header">
    <div class="tin">TIN: {{data2?.payer.tin}}</div>
    <div class="soft_pattern">{{data2?.organisation_name}} <span class="material-icons">close_fullscreen</span></div>
    <div class="reg_buss">Registered Business</div>

</div>

<div class="header2">
    <div class="float">
        <div class="csv">List of added Employee(s)</div>
        <div class="check">Check all <span class="material-icons">dashboard_customize</span></div>
        <div style="clear: both;"></div>
    </div>

    <div class="table-container">
        <div class="table-responsive">
            <table datatable [dtOptions]="dtOptions" class="row-border table table-striped table-hover table-borderless">
                <thead>
                    <tr>
                        <th class="align-middle">S/N</th>
                        <th class="align-middle">TIN</th>
                        <th class="align-middle">Name of Employee</th>
                        <th class="align-middle">
                            <div>Gross income (-N-)</div>
                            <div>Per Annual</div>
                        </th>
                        <th class="align-middle">
                            <div>Taxable Income (-N-)</div>
                            <div>Per Annual</div>
                        </th>
                        <th class="align-middle">
                            <div class="make_bold">Pay E (&#8358;)</div>
                            <div class="make_bold">Per Annual</div>
                        </th>
                        <th> </th>

                    </tr>
                </thead>
                <!-- individual -->
                <tbody *ngIf="datas?.length != 0">
                    <tr *ngFor="let data of datas; let i=index">
                        <td class="align-middle">{{i+1}}</td>
                        <td class="align-middle">{{ data.employeeTin }}</td>
                        <td class="align-middle">{{ data.employee }}</td>
                        <td class="align-middle">{{ data.gross }}</td>
                        <td class="align-middle">{{ data.compute_annualtax }}</td>
                        <td class="make_bold align-middle">{{ data.compute_taxable }}</td>
                        <td class="check align-middle">
                            check 
                            <mat-icon class="table-icon">dashboard_customize</mat-icon>
                        </td>
                    </tr>
                </tbody>
                <tbody *ngIf="datas?.length == 0">
                    <tr>
                        <td colspan="3" class="no-data-available">No data!</td>
                        <td colspan="3" class="no-data-available">No data!</td>
                        <td colspan="3" class="no-data-available">No data!</td>
                        <td colspan="3" class="no-data-available">No data!</td>
                        <td colspan="3" class="no-data-available">No data!</td>
                        <td colspan="3" class="no-data-available">No data!</td>
                        <td colspan="3" class="no-data-available">No data!</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="total">
        <span class="total_paye">Total Employee PayE</span>
        <span class="total_paye2">(&#8358;) 10,000,000.00</span>
    </div>

    <div class="buttons">
        <button mat-button class="verify2" (click)="back()">Back</button>
        <button mat-button class="verify" (click)="Continue()">Generate Bill</button>
    </div>


</div>
