<div class="wrapper">

    <div class="header" *ngIf="!update">
        <div class="nin-text">CAC Registration number</div>
        <div class="header-text">
            <div class="nin-number">44561244325</div>
            <button mat-button class="header-change">change</button>
        </div>
    </div>

    <!-- session1 -->
    <div class="session">

        <div class="session-header">Section 1: Organisation Details</div>

        <form #card class="form1" novalidate [formGroup]="feedbackForm3" #fform3="ngForm" (ngSubmit)="onSubmit3()">
            <p>
                <!-- com_name -->
                <mat-form-field class="full" appearance="outline">
                    <mat-label>Name of Organisation</mat-label>
                    <input matInput formControlName="org_name" required>
                    <mat-error>{{formErrors.org_name}}</mat-error>
                    <mat-hint *ngIf="org_nameError" class="hint-error">{{org_nameError}}</mat-hint>
                </mat-form-field>
            </p>
            <p>
                <!-- nature_bus -->
                <mat-form-field class="half-width" appearance="outline">
                    <mat-label>Nature of Business</mat-label>
                    <input matInput formControlName="nature_bus" required>
                    <mat-error>{{formErrors.nature_bus}}</mat-error>
                    <mat-hint *ngIf="nature_busError" class="hint-error">{{nature_busError}}</mat-hint>
                </mat-form-field>
                <!-- num_emp -->
                <mat-form-field class="half-width" appearance="outline">
                    <mat-label>Number of Employee</mat-label>
                    <input matInput formControlName="num_emp" type="number" required>
                    <mat-error>{{formErrors.num_emp}}</mat-error>
                    <mat-hint *ngIf="num_empError" class="hint-error">{{num_empError}}</mat-hint>
                </mat-form-field>
                <!-- date_est -->
                <mat-form-field class="half-width" appearance="outline">
                    <mat-label>Date of establishment</mat-label>
                    <input matInput formControlName="date_est" [matDatepicker]="picker2" placeholder="DD/MM/YY"
                        required>
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                    <mat-error>{{formErrors.date_est}}</mat-error>
                    <mat-hint *ngIf="date_estError" class="hint-error">{{date_estError}}</mat-hint>
                </mat-form-field>
                <!-- contact_num -->
                <mat-form-field class="half-width" appearance="outline">
                    <mat-label>Contact number</mat-label>
                    <input matInput formControlName="contact_num" type="tel" required>
                    <mat-error>{{formErrors.contact_num}}</mat-error>
                    <mat-hint *ngIf="contact_numError" class="hint-error">{{contact_numError}}</mat-hint>
                </mat-form-field>
            </p>
            <p>
                <!-- email -->
                <mat-form-field class="full-half" appearance="outline">
                    <mat-label>Email Address</mat-label>
                    <input matInput formControlName="email" email required>
                    <mat-error>{{formErrors.email}}</mat-error>
                    <mat-hint *ngIf="emailError" class="hint-error">{{emailError}}</mat-hint>
                </mat-form-field>
                <!-- alt_num -->
                <mat-form-field class="half-width" appearance="outline">
                    <mat-label>Alt.contact number</mat-label>
                    <input matInput formControlName="alt_num" type="tel">
                </mat-form-field>
            </p>
            <p>
                <!-- website -->
                <mat-form-field class="full-half" appearance="outline">
                    <mat-label>Office Website(if any)</mat-label>
                    <input matInput formControlName="website" type="url">
                </mat-form-field>
            </p>
        </form>

    </div>



    <!-- session2 -->
    <div class="session">
        <div class="session-header">Section 2: Head office Address</div>

        <form class="form1" novalidate [formGroup]="feedbackForm2" #fform2="ngForm" (ngSubmit)="onSubmit2()">
            <p>
                <!-- house -->
                <mat-form-field class="half-width" appearance="outline">
                    <mat-label>House No.</mat-label>
                    <input matInput formControlName="house" type="tel" required>
                    <mat-error>{{formErrors.house}}</mat-error>
                    <mat-hint *ngIf="houseError" class="hint-error">{{houseError}}</mat-hint>
                </mat-form-field>
                <!-- street -->
                <mat-form-field class="full-half" appearance="outline">
                    <mat-label>Estate/Street</mat-label>
                    <input matInput formControlName="street" required>
                    <mat-hint *ngIf="streetError" class="hint-error">{{streetError}}</mat-hint>
                    <mat-error>{{formErrors.street}}</mat-error>
                </mat-form-field>
            </p>
            <p>
                <!-- state_red -->
                <mat-form-field class="half-width3" appearance="outline">
                    <mat-label>State of Residence</mat-label>
                    <mat-select matInput formControlName="state_red" #singleSelect required>
                        <mat-option>
                            <ngx-mat-select-search [formControl]="bankCtrl3" [searching]="searching3"
                                placeholderLabel="search state..." noEntriesFoundLabel="no matching state found">
                            </ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let option of filteredBanks3 | async" [value]="option.id">
                            <span>{{option.name}}</span>
                        </mat-option>
                    </mat-select>
                    <mat-hint *ngIf="state_redError" class="hint-error">{{state_redError}}</mat-hint>
                    <mat-hint align="end" (click)="AddState()" *ngIf="stateError2 && !stateLoading2"
                        style="color: red;"><button>Reload</button></mat-hint>
                    <mat-hint align="end" *ngIf="stateLoading2">Loading...</mat-hint>
                </mat-form-field>
                <!-- lga_red -->
                <mat-form-field class="half-width3" appearance="outline">
                    <mat-label>LGA of Residence</mat-label>
                    <mat-select matInput formControlName="lga_red" #singleSelect required>
                        <mat-option>
                            <ngx-mat-select-search [formControl]="bankCtrl4" [searching]="searching4"
                                placeholderLabel="search LGA..." noEntriesFoundLabel="no matching lga found">
                            </ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let option of filteredBanks4 | async" [value]="option.id">
                            <span>{{option.name}}</span>
                        </mat-option>
                    </mat-select>
                    <mat-hint *ngIf="!lga2" align="end">Select state to get LGA</mat-hint>
                    <mat-hint *ngIf="lga_redError" class="hint-error">{{lga_redError}}</mat-hint>
                    <mat-hint align="end" (click)="AddLga2(lga2.id)" *ngIf="lgaError2 && !lgaLoading2"
                        style="color: red;"><button>Reload</button></mat-hint>
                    <mat-hint align="end" *ngIf="lgaLoading2">Loading...</mat-hint>
                </mat-form-field>
                <!-- zipcode -->
                <mat-form-field class="half-width3" appearance="outline">
                    <mat-label>Zip Code</mat-label>
                    <input matInput formControlName="zipcode" type="number" required>
                    <mat-error>{{formErrors.zipcode}}</mat-error>
                    <mat-hint *ngIf="zipcodeError" class="hint-error">{{zipcodeError}}</mat-hint>
                </mat-form-field>
            </p>

            <div class="session-header" style="margin-bottom: 30px;">Contact Information</div>

            <p style="margin-top: 1rem;">
                <!-- phone -->
                <mat-form-field class="half-width2" appearance="outline">
                    <mat-label>Contact number</mat-label>
                    <input matInput formControlName="contact" type="tel" required>
                    <mat-error>{{formErrors.contact}}</mat-error>
                    <mat-hint *ngIf="contactError" class="hint-error">{{contactError}}</mat-hint>
                </mat-form-field>
                <!-- email -->
                <mat-form-field class="half-full" appearance="outline">
                    <mat-label>Email Address</mat-label>
                    <input matInput type="email" formControlName="contact_email" email required>
                    <mat-error>{{formErrors.contact_email}}</mat-error>
                    <mat-hint *ngIf="contact_emailError" class="hint-error">{{contact_emailError}}</mat-hint>
                </mat-form-field>
            </p>

        </form>
        <div style="margin-top: 30px;"></div>
    </div>

    <div class="final_submit" *ngIf="!update">
        <button mat-button class="verify2" (click)="back()">Back</button>
        <button mat-button class="verify" (click)="Submit()">
            <span *ngIf="!loading2">Continue</span>
            <div *ngIf="loading2" class="loader">
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
            </div>
        </button>
    </div>

    <div class="final_submit" *ngIf="update">
        <button mat-button class="verify2" (click)="back()">Back</button>
        <button mat-button class="verify" (click)="SubmitUpdate()">
            <span *ngIf="!Updateloading">Update</span>
            <div *ngIf="Updateloading" class="loader">
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
            </div>
        </button>
    </div>

</div>