<div class="wrapper">

    <div *ngIf="data.type =='ind'">
        <div class="header">
            <div>
                <div class="leftt1 left1">Matthew Olayinka Adeboye</div>
                <div class="rightt1 right1">TIN: 334337434344</div>
            </div><br>
            <div>
                <div class="leftt2 left2">Registered Taxpayer</div>        
                <div class="rightt2 right2">Tax ID: 334337434344</div>
            </div><br>
        </div>
        <mat-dialog-content class="mat-typography ind_com">

            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th class="title">Registered DateDate</th>
                        <th class="sub_title">2017-12-25</th>
                        <th></th>
                        <th class="title">Last PayE payment:</th>
                        <th class="sub_title">No record</th>
                    </tr>
                    <tr>
                        <th class="title">No. Of Dependent</th>
                        <th class="sub_title">No record</th>
                        <th></th>
                        <th></th>
                        <th class="pay_history">
                            <span class="material-icons icon">access_time</span>
                            <span class="title2">View PayE History</span>
                        </th>
                    </tr>
                    <tr>
                        <th class="title">Address</th>
                        <th class="sub_title">TONGA 1, STREET ARAB ROAD KUBWA ABUJA.</th>
                    </tr>
                    <tr>
                        <th class="title">Gender</th>
                        <th class="sub_title">Male</th>
                    </tr>
                    <tr>
                        <th class="title">Phone Number</th>
                        <th class="sub_title">07067069872</th>
                    </tr>
                    <tr>
                        <th class="title">Occupation</th>
                        <th class="sub_title">No record</th>
                    </tr>
                    <tr>
                        <th class="title">Email</th>
                        <th class="sub_title">emma@gmail.com</th>
                    </tr>
                    <tr>
                        <th class="title">Marital status</th>
                        <th class="sub_title">No record</th>
                    </tr>
                    <tr>
                        <th class="title">Nigerian</th>
                        <th class="sub_title">No record</th>
                    </tr>
                </thead>
            </table>

            <div class="button_p">
                <button mat-button class="back" mat-dialog-close>Back</button>
                <button mat-button class="continue" [routerLink]="['/dashboard3/taxpayer/payee']" mat-dialog-close>Continue</button>
            </div>

        </mat-dialog-content>
        <mat-dialog-actions>
          </mat-dialog-actions>

    </div>

    <div *ngIf="data.type =='com'">
        <div class="header">
                <div>
                    <div class="leftt1 left1">Softpattern Pattern Technology</div>
                    <div class="rightt1 right1">TIN 334337434344</div>
                </div><br>
                <div>
                    <div class="leftt2 left2">Registered Business</div>        
                    <div class="rightt2 right2">Reg No: 334337434344</div>
                </div><br>
                <div class="right right3">Taxpayer ID: 334337434344</div>
            </div>
            <mat-dialog-content class="mat-typography ind_com">

                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th class="title">Date Establishment</th>
                            <th class="sub_title">2017-12-25</th>
                            <th></th>
                            <th class="title">Last PayE payment:</th>
                            <th class="sub_title">No record</th>
                        </tr>
                        <tr>
                            <th class="title">Number of staff</th>
                            <th class="sub_title">No record</th>
                            <th></th>
                            <th></th>
                            <th class="pay_history">
                                <span class="material-icons icon">access_time</span>
                                <span class="title2">View PayE History</span>
                            </th>
                        </tr>
                        <tr>
                            <th class="title">Address</th>
                            <th class="sub_title">TONGA 1, STREET ARAB ROAD KUBWA ABUJA.</th>
                        </tr>
                        <tr>
                            <th class="title">Director</th>
                            <th class="sub_title">Matthew Adeboye</th>
                        </tr>
                        <tr>
                            <th class="title">Phone Number</th>
                            <th class="sub_title">07067069872</th>
                        </tr>
                    </thead>
                </table>

                <div class="button_p">
                    <button mat-button class="back" mat-dialog-close>Back</button>
                    <button mat-button class="continue" [routerLink]="['/dashboard3/taxpayer/payee']" mat-dialog-close>Continue</button>
                </div>

            </mat-dialog-content>
            <mat-dialog-actions>
            </mat-dialog-actions>
    </div>


        <div *ngIf="data.type =='payee'">
            <div class="header">
                    <div>
                        <div class="leftt1 left1">Softpattern Pattern Technology</div>
                        <div class="rightt1 right1">TIN 334337434344</div>
                    </div><br>
                    <div>
                        <div class="leftt2 left2">Registered Business</div>        
                        <div class="rightt2 right2">Reg No: 334337434344</div>
                    </div><br>
                    <div class="right right3">Taxpayer ID: 334337434344</div>
                </div>
                <mat-dialog-content class="mat-typography ind_com">
    
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th class="title">Date Establishment</th>
                                <th class="sub_title">2017-12-25</th>
                                <th></th>
                                <th class="title">Last PayE payment:</th>
                                <th class="sub_title">No record</th>
                            </tr>
                            <tr>
                                <th class="title">Number of staff</th>
                                <th class="sub_title">No record</th>
                                <th></th>
                                <th></th>
                                <th class="pay_history">
                                    <span class="material-icons icon">access_time</span>
                                    <span class="title2">View PayE History</span>
                                </th>
                            </tr>
                            <tr>
                                <th class="title">Address</th>
                                <th class="sub_title">TONGA 1, STREET ARAB ROAD KUBWA ABUJA.</th>
                            </tr>
                            <tr>
                                <th class="title">Director</th>
                                <th class="sub_title">Matthew Adeboye</th>
                            </tr>
                            <tr>
                                <th class="title">Phone Number</th>
                                <th class="sub_title">07067069872</th>
                            </tr>
                        </thead>
                    </table>
    
                    <div class="button_p">
                        <button mat-button class="back" mat-dialog-close>Back</button>
                        <button mat-button class="continue" mat-dialog-close>Continue</button>
                    </div>
    
                </mat-dialog-content>
                <mat-dialog-actions>
                </mat-dialog-actions>
    </div>

</div>