<div class="wrapper">

    <!-- if is company -->
    <div *ngIf="data.type =='ind'">
        <div class="header">
            <div>
                <div class="leftt1 left1">Matthew Olayinka Adeboye</div>
                <div class="rightt1 right1">TIN: 334337434344</div>
            </div><br>
            <div>
                <div class="leftt2 left2">Registered Taxpayer</div>        
                <div class="rightt2 right2">Tax ID: 334337434344</div>
            </div><br>
        </div>
        <mat-dialog-content class="mat-typography ind_com">

            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th class="title">Registered DateDate</th>
                        <th class="sub_title">2017-12-25</th>
                        <th></th>
                        <th class="title">Last PayE payment:</th>
                        <th class="sub_title">No record</th>
                    </tr>
                    <tr>
                        <th class="title">No. Of Dependent</th>
                        <th class="sub_title">No record</th>
                        <th></th>
                        <th></th>
                        <th class="pay_history">
                            <span class="material-icons icon">access_time</span>
                            <span class="title2">View PayE History</span>
                        </th>
                    </tr>
                    <tr>
                        <th class="title">Address</th>
                        <th class="sub_title">TONGA 1, STREET ARAB ROAD KUBWA ABUJA.</th>
                    </tr>
                    <tr>
                        <th class="title">Gender</th>
                        <th class="sub_title">Male</th>
                    </tr>
                    <tr>
                        <th class="title">Phone Number</th>
                        <th class="sub_title">07067069872</th>
                    </tr>
                    <tr>
                        <th class="title">Occupation</th>
                        <th class="sub_title">No record</th>
                    </tr>
                    <tr>
                        <th class="title">Email</th>
                        <th class="sub_title">emma@gmail.com</th>
                    </tr>
                    <tr>
                        <th class="title">Marital status</th>
                        <th class="sub_title">No record</th>
                    </tr>
                    <tr>
                        <th class="title">Nigerian</th>
                        <th class="sub_title">No record</th>
                    </tr>
                </thead>
            </table>

            <div class="button_p">
                <button mat-button class="back" mat-dialog-close>Back</button>
                <button mat-button class="continue" [routerLink]="['/dashboard3/taxpayer/payee']" mat-dialog-close>Continue</button>
            </div>

        </mat-dialog-content>
        <mat-dialog-actions>
          </mat-dialog-actions>

    </div>


    <!-- if is business -->
    <div *ngIf="data.type =='com'">
        <div class="header">
                <div>
                    <div class="leftt1 left1">Softpattern Pattern Technology</div>
                    <div class="rightt1 right1">TIN 334337434344</div>
                </div><br>
                <div>
                    <div class="leftt2 left2">Registered Business</div>        
                    <div class="rightt2 right2">Reg No: 334337434344</div>
                </div><br>
                <div class="right right3">Taxpayer ID: 334337434344</div>
            </div>
            <mat-dialog-content class="mat-typography ind_com">

                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th class="title">Date Establishment</th>
                            <th class="sub_title">2017-12-25</th>
                            <th></th>
                            <th class="title">Last PayE payment:</th>
                            <th class="sub_title">No record</th>
                        </tr>
                        <tr>
                            <th class="title">Number of staff</th>
                            <th class="sub_title">No record</th>
                            <th></th>
                            <th></th>
                            <th class="pay_history">
                                <span class="material-icons icon">access_time</span>
                                <span class="title2">View PayE History</span>
                            </th>
                        </tr>
                        <tr>
                            <th class="title">Address</th>
                            <th class="sub_title">TONGA 1, STREET ARAB ROAD KUBWA ABUJA.</th>
                        </tr>
                        <tr>
                            <th class="title">Director</th>
                            <th class="sub_title">Matthew Adeboye</th>
                        </tr>
                        <tr>
                            <th class="title">Phone Number</th>
                            <th class="sub_title">07067069872</th>
                        </tr>
                    </thead>
                </table>

                <div class="button_p">
                    <button mat-button class="back" mat-dialog-close>Back</button>
                    <button mat-button class="continue" [routerLink]="['/dashboard3/taxpayer/payee']" mat-dialog-close>Continue</button>
                </div>

            </mat-dialog-content>
            <mat-dialog-actions>
            </mat-dialog-actions>
    </div>

    <!-- if is payee -->
        <div *ngIf="data.type =='payee'">
            <div class="header">
                    <div>
                        <div class="leftt1 left1">Softpattern Pattern Technology</div>
                        <div class="rightt1 right1">TIN 334337434344</div>
                    </div><br>
                    <div>
                        <div class="leftt2 left2">Registered Business</div>        
                        <div class="rightt2 right2">Reg No: 334337434344</div>
                    </div><br>
                    <div class="right right3">Taxpayer ID: 334337434344</div>
                </div>
                <mat-dialog-content class="mat-typography ind_com">
    
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th class="title">Date Establishment</th>
                                <th class="sub_title">2017-12-25</th>
                                <th></th>
                                <th class="title">Last PayE payment:</th>
                                <th class="sub_title">No record</th>
                            </tr>
                            <tr>
                                <th class="title">Number of staff</th>
                                <th class="sub_title">No record</th>
                                <th></th>
                                <th></th>
                                <th class="pay_history">
                                    <span class="material-icons icon">access_time</span>
                                    <span class="title2">View PayE History</span>
                                </th>
                            </tr>
                            <tr>
                                <th class="title">Address</th>
                                <th class="sub_title">TONGA 1, STREET ARAB ROAD KUBWA ABUJA.</th>
                            </tr>
                            <tr>
                                <th class="title">Director</th>
                                <th class="sub_title">Matthew Adeboye</th>
                            </tr>
                            <tr>
                                <th class="title">Phone Number</th>
                                <th class="sub_title">07067069872</th>
                            </tr>
                        </thead>
                    </table>
    
                    <div class="button_p">
                        <button mat-button class="back" mat-dialog-close>Back</button>
                        <button mat-button class="continue" mat-dialog-close>Continue</button>
                    </div>
    
                </mat-dialog-content>
                <mat-dialog-actions>
                </mat-dialog-actions>
    </div>


    <!--  payee employee -->

    <div *ngIf="data.type =='payee2'" class="payee2">
            <div class="header2">
                
                <div class="header-text">individual employee breakdown of pay</div>
                <div class="payee_clearfix">
                    <div class="col-xl-3 col-lg-3 col-md-3">
                        <div class="dark">TIN 334337434344</div>
                        <div class="blue">Softpattern Pattern Technology</div>
                        <div class="dark">Registered Business</div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3">
                        <div class="dark">TIN 334337434344</div>
                        <div class="blue">Matthew Adeboye Micheal</div>
                        <div class="dark">Employee - designer</div>   
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3">
                        <div class="dark">Date - 
                            <span class="blue">2020</span> <span class="blue">2021</span> <span class="blue">2022</span>
                        </div>
                    </div>
                </div>

            </div>
            <div style="clear: both;"></div>
            <div class="clear-both"></div>
                
            <mat-dialog-content class="mat-typography table-content">
                <div class="table_headline">All Payment Applicable</div>
                <table class="table table-borderless table-striped">
                    <thead>
                        <tr>
                            <th>Items</th>
                            <th>Monthly (&#8358;)</th>
                            <th>Annual (&#8358;)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="align-middle">Basic (B)</td>
                            <td class="align-middle">33,333,000.00</td>
                            <td class="align-middle">33,333,000.00</td>
                        </tr>
                        <tr>
                            <td class="align-middle">House (H)</td>
                            <td class="align-middle">33,333,000.00</td>
                            <td class="align-middle">33,333,000.00</td>
                        </tr>
                        <tr>
                            <td class="align-middle">Transport (T)</td>
                            <td class="align-middle">33,333,000.00</td>
                            <td class="align-middle">33,333,000.00</td>
                        </tr>
                        <tr>
                            <td class="align-middle">Other allowance</td>
                            <td class="align-middle">33,333,000.00</td>
                            <td class="align-middle">33,333,000.00</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="align-middle total_gross">Total Gross</td>
                            <td class="align-middle total_gross">33,333,000.00</td>
                        </tr>
                    </tbody>
                    <tr>
                        <td></td>
                        <td class="align-middle total_gross">Consolated Relief <span class="material-icons">error_outline</span></td>
                        <td class="align-middle total_gross">33,333,000.00</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="align-middle total_gross">Exemptions <span class="material-icons">error_outline</span></td>
                        <td class="align-middle total_gross">33,333,000.00</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="align-middle total_gross">Tax Free Pay <span class="material-icons">error_outline</span></td>
                        <td class="align-middle total_gross">33,333,000.00</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="align-middle total_gross">Taxable Income <span class="material-icons">error_outline</span></td>
                        <td class="align-middle total_gross">33,333,000.00</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="align-middle total_blue_gross">Pay-E <span class="material-icons">error_outline</span></td>
                        <td class="align-middle total_blue_gross">93,333,000.00</td>
                    </tr>
                </table>

            </mat-dialog-content>
    </div>

</div>