<div class="wrapper">

    <div>
        <div class="verify">
            <div class="header2">

                <div class="indcom">
                {{ stat?.name }}
                </div>

                <div class="search_icon_header">
                    <form class="search-form_header">
                        <button matSuffix mat-icon-button class="form-icon_header">
                            <mat-icon>search</mat-icon>
                        </button>
                        <input [ngModel]="search" (ngModelChange)="modelChange($event)" name="search" type="text" placeholder="Search for TaxID, Tax name., etc">
                    </form>
                </div>
        
                <div class="dashboard_select">
                    <select class="form-select form-select2" placeholder="Filters">
                        <option class="option-white" disabled>Filters333333331</option>
                        <option selected>Filters</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                    <button matSuffix mat-icon-button class="form-dashboard_select">
                        <span class="material-icons-outlined icons-rounded">filter_alt</span>
                    </button>
                </div>
            </div>

            <div class="table-container">
                <div class="table-responsive">
                    <table datatable [dtOptions]="dtOptions"
                        class="row-border table table-striped table-hover table-borderless">
                        <thead>
                            <tr>
                                <th class="align-middle text-center">S/N</th>
                                <th class="align-middle text-center">Engine capacity/ Vehicle type</th>
                                <th class="align-middle text-center">Amount</th>
                                <th class="align-middle text-center">Duration</th>
                            </tr>
                        </thead>
                        <!-- individual -->
                        <tbody *ngIf="datas?.length !== 0">
                            <tr *ngFor="let data of datas; let i=index">
                                <td class="align-middle text-center">{{i+1}}</td>
                                <td class="align-middle text-center">{{ data?.name }}</td>
                                <td class="align-middle text-center">{{ formatMoney(data?.amount) }}</td>
                                <td class="align-middle text-center">{{ data?.duration }}</td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="datas?.length === 0">
                            <tr>
                                <td class="no-data-available text-center">No data!</td>
                                <td class="no-data-available text-center">No data!</td>
                                <td class="no-data-available text-center">No data!</td>
                                <td class="no-data-available text-center">No data!</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>