<div class="wrapper">

    <!-- session1 -->
    <div class="session">

        <div class="session-header" *ngIf="!update">Create Business Taxpayer Account</div>
        <div class="session-header" *ngIf="update">Update Business Taxpayer Account</div>

        <form #card fxLayoutGap="15px" class="form1" id="ngForm" 
            novalidate [formGroup]="feedbackForm3" #fform3="ngForm">
            <p>
                <!-- cac -->
                <mat-form-field class="half-width" appearance="outline">
                    <mat-label>CAC registration number</mat-label>
                    <input matInput formControlName="cac" required>
                    <mat-error>{{ formErrors.cac }}</mat-error>
                </mat-form-field>
            </p>

            <p>
                <!-- tin -->
                <mat-form-field class="half-width" appearance="outline">
                    <mat-label>JTBTIN (Optional)</mat-label>
                    <input matInput formControlName="tin">
                    <mat-error>{{ formErrors.tin }}</mat-error>
                </mat-form-field>
            </p>

            <p>
                <!-- com_name -->
                <mat-form-field class="half-width" appearance="outline">
                    <mat-label>Company name</mat-label>
                    <input matInput formControlName="org_name" required>
                    <mat-error>{{ formErrors.org_name }}</mat-error>
                </mat-form-field>
            </p>

            <p>
                 <!-- date_est -->
                 <mat-form-field class="half-width" appearance="outline">
                    <mat-label>Date of establishment</mat-label>
                    <input matInput formControlName="date_est" [matDatepicker]="picker2" placeholder="DD/MM/YY" required>
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                    <mat-error>{{ formErrors.date_est }}</mat-error>
                </mat-form-field>
            </p>

            <p>
                <!-- contact_num -->
                <mat-form-field class="half-width" appearance="outline">
                    <mat-label>Contact number</mat-label>
                    <input matInput formControlName="contact_num" required>
                    <mat-error>{{ formErrors.contact_num }}</mat-error>
                </mat-form-field>
            </p>

            <p>
                <!-- conpany_type -->
                <mat-form-field class="half-width" appearance="outline">
                    <mat-label>Business sector</mat-label>
                    <input matInput formControlName="company_type" required>
                    <mat-error>{{ formErrors.company_type }}</mat-error>
                </mat-form-field>
            </p>

            <p>
                <!-- address -->
                <mat-form-field class="half-width" appearance="outline">
                    <mat-label>Address</mat-label>
                    <input matInput formControlName="address" required>
                    <mat-error>{{formErrors.address}}</mat-error>
                </mat-form-field>
            </p>

            <p>
                <!-- email -->
                <mat-form-field class="half-width" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" email required>
                    <mat-error>{{formErrors.email}}</mat-error>
                </mat-form-field>
            </p>

            <p>
                 <!-- office -->
                 <mat-form-field class="half-width" appearance="outline">
                    <mat-label>Select Tax Office</mat-label>
                    <mat-select matInput formControlName="office" #singleSelect required>
                        <mat-option>
                            <ngx-mat-select-search [formControl]="bankCtrl3" [searching]="searching3" placeholderlabel="search office..." noentriesfoundlabel="no matching office found">
                            </ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let option of filteredBanks3 | async" [value]="option.id">
                            <span>{{option.name}}</span>
                        </mat-option>
                    </mat-select>
                    <mat-error>{{formErrors.office}}</mat-error>
                    <mat-hint align="end" (click)="addState()" *ngIf="stateError2 && !stateLoading2">
                        <button>Reload</button>
                    </mat-hint>
                    <mat-hint align="end" *ngIf="stateLoading2">Loading...</mat-hint>
                </mat-form-field>
            </p>

            <p>
                <!-- lga -->
                <mat-form-field class="half-width" appearance="outline">
                    <mat-label>LGA</mat-label>
                    <mat-select matInput formControlName="lga" #singleSelect required>
                        <mat-option>
                            <ngx-mat-select-search [formControl]="bankCtrl4" [searching]="searching4" placeholderlabel="search LGA..." noentriesfoundlabel="no matching lga found"></ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let option of filteredBanks4 | async" [value]="option.id">
                            <span>{{option.name}}</span>
                        </mat-option>
                    </mat-select>
                    <mat-error>{{formErrors.lga}}</mat-error>
                    <mat-hint align="end" (click)="addLga2(lga2.id)" *ngIf="lgaError2 && !lgaLoading2" style="color: red;">
                        <button>Reload</button>
                    </mat-hint>
                    <mat-hint align="end" *ngIf="lgaLoading2">Loading...</mat-hint>
                </mat-form-field>
            </p>


            <div class="final_submit" *ngIf="!update">
                <button type="button" mat-button class="verify2" (click)="back()">Back</button>
                <button type="submit" form="ngForm" mat-button class="verify" (click)="submit()">
                    <span *ngIf="!loading">Continue</span>
                    <div *ngIf="loading" class="loader">
                        <div class="bubble"></div>
                        <div class="bubble"></div>
                        <div class="bubble"></div>
                        <div class="bubble"></div>
                    </div>
                </button>
            </div>
        
            <div class="final_submit" *ngIf="update">
                <button type="button" mat-button class="verify2" (click)="back()">Back</button>
                <button type="submit" form="ngForm" mat-button class="verify" (click)="submitUpdate()">
                    <span *ngIf="!Updateloading">Update</span>
                    <div *ngIf="Updateloading" class="loader">
                        <div class="bubble"></div>
                        <div class="bubble"></div>
                        <div class="bubble"></div>
                        <div class="bubble"></div>
                    </div>
                </button>
            </div>

        </form>

    </div>

</div>
