<div class="wrapper">

    <div class="gen_table" style="margin-top: 2rem;">
        <form novalidate="novalidate" [formGroup]="feedbackForm" id="ngForm" #fform="ngForm" (ngSubmit)="onSubmit()">
            <p>
                <!-- name -->
                <mat-form-field class="half-width" appearance="outline">
                    <mat-label>Full name</mat-label>
                    <input matInput formControlName="name" required>
                        <mat-error>{{ formErrors.name }}</mat-error>
                    </mat-form-field>
                    <!-- tin -->
                    <mat-form-field class="half-width" appearance="outline">
                        <mat-label>GTin</mat-label>
                        <input matInput formControlName="tin" type="tel" required>
                        <mat-error>{{formErrors.tin}}</mat-error>
                    </mat-form-field>
                </p>
                <p>
                    <!-- number -->
                    <mat-form-field class="half-width" appearance="outline">
                        <mat-label>Contact Number</mat-label>
                        <input matInput formControlName="number" type="tel" required>
                            <mat-error>{{formErrors.number}}</mat-error>
                        </mat-form-field>
                        <!-- address -->
                        <mat-form-field class="half-width" appearance="outline">
                            <mat-label>Address</mat-label>
                            <input matInput formControlName="address" required>
                                <mat-error>{{formErrors.address}}</mat-error>
                            </mat-form-field>
                        </p>

                        <div class="final_submit">
                            <button mat-button="mat-button" class="verify2" type="button" (click)="back()">Back</button>
                            <button type="submit" mat-button="mat-button" class="verify">
                                <span *ngIf="!loading">Save and continue</span>
                                <div *ngIf="loading" class="loader">
                                    <div class="bubble"></div>
                                    <div class="bubble"></div>
                                    <div class="bubble"></div>
                                    <div class="bubble"></div>
                                </div>
                            </button>
                        </div>

                    </form>
                    <div style="clear: both;"></div>

                </div>
            </div>
