<div class="wrapper">

    <!--  payee employee -->

    <div *ngIf="data.type =='payee2'" class="payee2" id="print-section2">
        <div class="header2">

            <div class="header-text">individual employee breakdown of pay</div>
            <div class="payee_clearfix">
                <div class="column1 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="dark">Tax ID: {{data.data2.payer.tin}}</div>
                    <div class="blue">{{data.data2.organisation_name}}</div>
                    <div class="dark">Registered Business</div>
                </div>
                <div class="column2 col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="dark">Tax ID {{data.data.employeeTin}}</div>
                    <div class="blue">{{data.data.employee}}</div>
                    <div class="dark">Employee - {{data.data.employee_position}}</div>
                </div>
                <div class="column3 col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="dark">Date -
                        <span class="blue_year">{{data.data.taxYear}}</span>
                        <!-- <span class="blue_year">2021</span> <span class="dark">2022</span> -->
                    </div>
                </div>
            </div>

        </div>
        <div style="clear: both;"></div>
        <div class="clear-both"></div>

        <mat-dialog-content class="mat-typography table-content">
            <div class="table_headline">All Payment Applicable</div>
            <table class="table table-borderless table-striped">
                <thead class="payee_table_strip">
                    <tr>
                        <th>Items</th>
                        <th>Monthly (&#8358;)</th>
                        <th>Annual (&#8358;)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="align-middle">Basic (B)</td>
                        <td class="align-middle">{{formatMoney(data.data.basic)}}</td>
                        <td class="align-middle">33,333,000.00</td>
                    </tr>
                    <tr>
                        <td class="align-middle">House (H)</td>
                        <td class="align-middle">{{formatMoney(data.data.housing)}}</td>
                        <td class="align-middle">33,333,000.00</td>
                    </tr>
                    <tr>
                        <td class="align-middle">Transport (T)</td>
                        <td class="align-middle">{{formatMoney(data.data.tp)}}</td>
                        <td class="align-middle">33,333,000.00</td>
                    </tr>
                    <!-- <tr>
                        <td class="align-middle">Other allowance</td>
                        <td class="align-middle"></td>
                        <td class="align-middle"></td>
                    </tr> -->
                    <tr>
                        <td></td>
                        <td class="align-middle total_gross">Total Gross</td>
                        <td class="align-middle total_gross">{{formatMoney(data.data.gross)}}</td>
                    </tr>
                </tbody>
                <tr>
                    <td></td>
                    <td class="align-middle total_gross">Consolated Relief <span
                            class="material-icons error_icon">error_outline</span></td>
                    <td class="align-middle total_gross">33,333,000.00</td>
                </tr>
                <tr>
                    <td></td>
                    <td class="align-middle total_gross">Exemptions <span
                            class="material-icons error_icon">error_outline</span></td>
                    <td class="align-middle total_gross">33,333,000.00</td>
                </tr>
                <tr>
                    <td></td>
                    <td class="align-middle total_gross">Tax Free Pay <span
                            class="material-icons error_icon">error_outline</span></td>
                    <td class="align-middle total_gross">{{formatMoney(data.data.compute_annualtax)}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td class="align-middle total_gross">Taxable Income <span
                            class="material-icons error_icon">error_outline</span></td>
                    <td class="align-middle total_gross">33,333,000.00</td>
                </tr>
                <tr>
                    <td></td>
                    <td class="align-middle total_blue_gross">Pay-E <span
                            class="material-icons error_icon">error_outline</span></td>
                    <td class="align-middle total_blue_gross">93,333,000.00</td>
                </tr>
            </table>

        </mat-dialog-content>

        <div style="text-align: right;">
            <button mat-button class="gross_print_p" [useExistingCss]="true" printSectionId="print-section2" ngxPrint>
                <mat-icon class="gross_print">print</mat-icon>
                Print
            </button>
        </div>
    </div>


    <!-- generate bill -->

    <div *ngIf="data.type =='gen_bill'" class="gen_bill_p" id="print-section">
        <div class="header3">

            <div class="header-text">business pay as you earn bill</div>
            <div class="payee_clearfix">
                <div class="column_gen1 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div>
                        <span class="blue">Bill status</span> <span class="gen_pending">Pending</span>
                    </div><br>
                    <div class="dark">Tax ID: 334337434344</div>
                    <div class="blue">Softpattern Pattern Technology</div>
                    <div class="dark">Registered Business</div>
                </div>
                <div class="column_gen2 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <!-- <div class="brn_image"><img src="assets/images/login_left.svg" alt=""></div> -->
                    <div class="dark">BRN3244YH4H</div>
                    <div class="dark">(&#8358;) 12,000,000.00</div>
                </div>
            </div>

        </div>
        <div style="clear: both;"></div>
        <div class="clear-both2"></div>

        <mat-dialog-content class="mat-typography table-content2">
            <div class="table_headline">All Payment Applicable</div>
            <table class="table table-borderless table-striped">
                <thead class="payee_table_strip">
                    <tr>
                        <th>Items</th>
                        <th>Duration(Month)</th>
                        <th>No. Of Employee</th>
                        <th>Total Pay-E Applicable</th>
                    </tr>
                </thead>
                <br>
                <tbody>
                    <tr class="gen_body_text">
                        <td class="align-middle">Yearly Pay-E</td>
                        <td class="align-middle">12 month</td>
                        <td class="align-middle">12</td>
                        <td class="align-middle">(&#8358;) 12,000,000.00</td>
                    </tr>
                </tbody>
                <br>
                <tr class="gen_total_p">
                    <td></td>
                    <td></td>
                    <td class="gen_total align-middle">Total Employee Pay-E</td>
                    <td class="align-middle">
                        <button mat-button class="gen_total_round" style="padding: 1rem;">
                            (&#8358;) 12,000,000.00
                        </button>
                    </td>
                </tr>
            </table>

            <div class="gen_main">
                <div class="col4 col-xl-2 col-lg-1 col-md-1 col-sm-1 col-xs-1">
                    fefwe
                </div>
                <div class="col5 col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
                    <div class="gen_main_f">
                        Kindly login to your portal to check breakdown
                    </div>
                    <div class="gen_main_s">
                        NOTE : generated assessment will expire in 48 Hours (14/11/2018, 9:30am),
                        payment can be paid using payment mobile App or use payment Platform.
                    </div>
                </div>
                <div class="col6 col-xl-3 col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <button mat-button class="gen_print_p" [useExistingCss]="true" printSectionId="print-section"
                        ngxPrint>
                        <mat-icon class="gen_print">print</mat-icon>
                        Print
                    </button>
                    <button mat-button class="gen_print_p">
                        <mat-icon class="gen_print">credit_card</mat-icon>
                        Pay Now
                    </button>
                </div>
            </div>

        </mat-dialog-content>



    </div>

    <!-- delete payer -->

    <div *ngIf="data.type =='delete-payer'" class="delete-payer">
        <h5 mat-dialog-title class="delete-payer-text">Delete employee with Tax ID: <span
                class="delete-payer-tin">{{data.data.state_tin}}</span></h5>
        <div mat-dialog-content class="delete-payer-text">Do you really want to delete these Payer? This process cannot
            be undone.</div>
        <div mat-dialog-actions>
            <div class="align-delete-payer">
                <button mat-button mat-dialog-close class="cancel-payer-button">Cancel</button>
                <button mat-button class="delete-payer-button" (click)="deletePayer()">
                    <span *ngIf="!isdelete" class="add_text">Delete</span>
                    <div *ngIf="isdelete" class="loader_delete">
                        <div class="bubble_delete"></div>
                        <div class="bubble_delete"></div>
                        <div class="bubble_delete"></div>
                        <div class="bubble_delete"></div>
                    </div>
                </button>
            </div>
        </div>
        <div *ngIf="confirmUploadErr"  class="payee-error-response">{{ confirmUploadErr }}</div>
    </div>



    <!-- delete payee -->

    <div *ngIf="data.type =='delete-payee'" class="delete-payer">
        <h5 mat-dialog-title class="delete-payer-text">Delete Employee with Tax ID: <span class="delete-payer-tin">{{
                data.data.employeeTin }}</span></h5>
        <div mat-dialog-content class="delete-payer-text">Do you really want to delete these Employee? This process
            cannot
            be undone.</div>
        <div mat-dialog-actions>
            <div class="align-delete-payer">
                <button mat-button mat-dialog-close class="cancel-payer-button">Cancel</button>
                <button mat-button class="delete-payer-button" (click)="deletePayee()">
                    <span *ngIf="!isdelete" class="add_text">Delete</span>
                    <div *ngIf="isdelete" class="loader_delete">
                        <div class="bubble_delete"></div>
                        <div class="bubble_delete"></div>
                        <div class="bubble_delete"></div>
                        <div class="bubble_delete"></div>
                    </div>
                </button>
            </div>
        </div>
        <div *ngIf="confirmUploadErr"  class="payee-error-response">{{ confirmUploadErr }}</div>
    </div>



    <!-- payee file input -->
    <div *ngIf="data.type =='file_upload'">

        <div class="payee-sidenav2">

            <div class="header">
                <div>
                    <div class="leftt1 left1">
                        {{data.data.company.organisation_name}}
                        <span class="material-icons-round" *ngIf="data.data.company.is_verified">verified_user</span>
                    </div>
                    <div class="right2">GTin: {{ data.data.company.state_tin }}</div>
                    <div class="left2">Registered Business</div>
                </div>
                <div class="payee_cancel_button">
                    <button mat-icon-button mat-dialog-close>
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
            </div>
            <mat-dialog-content class="mat-typography ind_com payee_com3">
                <div class="center_payee_com2">
                    <div class="employee_filling">Employee filing</div>
                    <div class="employee_filling2">Choose Tax Return year</div>
                    <form>
                        <mat-form-field class="half-width" appearance="outline">
                            <mat-label>Year</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let y of year" value="y" (click)="chooseYear(y)">{{y.year}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <div>
                            <button mat-button class="continue" (click)="payeeDialog('upload_file')">Continue</button>
                        </div>

                    </form>
                </div>
            </mat-dialog-content>
            <mat-dialog-actions>
            </mat-dialog-actions>

        </div>

    </div>



    <!-- payee file manual Input -->
    <div *ngIf="data.type =='manual'">

        <div class="payee-sidenav2">

            <div class="header">
                <div>
                    <div class="leftt1 left1">
                        {{data.data.company.organisation_name}}
                        <span class="material-icons-round" *ngIf="data.data.company.is_verified">verified_user</span>
                    </div>
                    <div class="right2">GTin: {{data.data.company.state_tin}}</div>
                    <div class="left2">Registered Business</div>
                </div>
                <div class="payee_cancel_button">
                    <button mat-icon-button mat-dialog-close>
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
            </div>
            <mat-dialog-content class="mat-typography ind_com payee_com3">
                <div class="center_payee_com2">
                    <div class="employee_filling">Manual Employee filing</div>
                    <div class="employee_filling2">Kindly verify the employee Tin before you proceed</div>                    
                    <form #manual="ngForm">
                        <mat-form-field class="half-width" appearance="outline">
                            <mat-label>Tax ID</mat-label>
                            <input matInput name="manual" ngModel>
                        </mat-form-field>

                        <div>
                            <button mat-button class="continue" (click)="staffIncome3()">
                                <span *ngIf="!isExtract">Continue</span>
                                <div *ngIf="isExtract" class="loader_delete">
                                    <div class="bubble_delete"></div>
                                    <div class="bubble_delete"></div>
                                    <div class="bubble_delete"></div>
                                    <div class="bubble_delete"></div>
                                </div>
                            </button>
                        </div>
                    </form>
                    <div *ngIf="manualError" class="payee-error-response">{{ manualError }}</div>
                </div>
            </mat-dialog-content>
            <mat-dialog-actions>
            </mat-dialog-actions>

        </div>

    </div>



    <!-- Extract data information -->
    <div *ngIf="data.type =='extract'" class="extract">

        <div class="payee-sidenav2">

            <div class="header">
                <div>
                    <div class="leftt1 left1">{{data.data.data2.company.organisation_name}}</div>
                    <div class="right2">Tax ID: {{data.data.data2.company.state_tin}}</div>
                    <div class="left2">Registered Business</div>
                </div>
                <div class="payee_cancel_button">
                    <button mat-icon-button mat-dialog-close>
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
            </div>

            <mat-dialog-content class="mat-typography ind_com extract-payee-container">

                <div class="payee-{{data.data.error}}-response">{{ data.data.data.status }}</div>

                <div class="payee_lists">
                    List of added Employee(s) <span style="margin-left: 10px;">(Preview)</span>
                </div>

                <!-- consolidated success -->
                <table *ngIf="data.data.error == 'error' && (data.data.is_con || !data.data.is_con) " class="payee_lists_table table table-borderless table-striped">
                    <thead>
                        <tr>
                            <th class="title align-middle">S/N</th>
                            <th class="title align-middle">TIN</th>
                            <th class="title align-middle">Name of Employee</th>
                            <th class="title align-middle">Consolidated gross</th>
                            <th class="title align-middle">HMO</th>
                            <th class="title align-middle">Other deduction</th>
                            <th class="title align-middle">NHF</th>
                            <th class="title align-middle">PENCOM</th>
                            <th class="title align-middle">Employee Position</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of payee_data; let i=index">
                            <td class="align-middle">{{i+1}}</td>
                            <td class="align-middle">{{data.employeeTin}}</td>
                            <td class="align-middle">{{data?.name}}</td>
                            <td class="align-middle">{{formatMoney(data?.gross || 0)}}</td>
                            <td class="align-middle">{{formatMoney(data.hmo)}}</td>
                            <td class="align-middle">{{formatMoney(data.other_deductions)}}</td>
                            <td class="align-middle">{{data.nhf}}</td>
                            <td class="align-middle">{{data.pension}}</td>
                            <td class="align-middle" style="color: rgba(60,102,163,0.7);">{{data?.employee_position}}</td>
                        </tr>
                    </tbody>
                </table>

                <!-- consolidated success -->
                <table *ngIf="data.data.is_con && data.data.error == 'success'" class="payee_lists_table table table-borderless table-striped">
                    <thead>
                        <tr>
                            <th class="title align-middle">S/N</th>
                            <th class="title align-middle">TIN</th>
                            <th class="title align-middle">Name of Employee</th>
                            <th class="title align-middle">Consolidated gross</th>
                            <th class="title align-middle">HMO</th>
                            <th class="title align-middle">Other deductions</th>
                            <th class="title align-middle">NHF</th>
                            <th class="title align-middle">PENCOM</th>
                            <th class="title align-middle">Employee Position</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of payee_data; let i=index">
                            <td class="align-middle">{{i+1}}</td>
                            <td class="align-middle">{{data.employeeTin}}</td>
                            <td class="align-middle">{{data?.name}}</td>
                            <td class="align-middle">{{formatMoney(data?.gross || 0)}}</td>
                            <td class="align-middle">{{formatMoney(data.hmo)}}</td>
                            <td class="align-middle">{{formatMoney(data.other_deductions)}}</td>
                            <td class="align-middle">{{data.nhf}}</td>
                            <td class="align-middle">{{data.pension}}</td>
                            <td class="align-middle" style="color: rgba(60,102,163,0.7);">{{data?.employee_position}}</td>
                        </tr>
                    </tbody>
                </table>

                <!-- Non consolidated success -->

                <table *ngIf="data.data.error == 'success' && !data.data.is_con" class="payee_lists_table table table-borderless table-striped">
                    <thead>
                        <tr>
                            <th class="title align-middle">S/N</th>
                            <th class="title align-middle">TIN</th>
                            <th class="title align-middle">Name of Employee</th>
                            <th class="title align-middle">Basic</th>
                            <th class="title align-middle">Housing</th>
                            <th class="title align-middle">Transportation</th>
                            <th class="title align-middle">HMO</th>
                            <th class="title align-middle">NHF</th>
                            <th class="title align-middle">PENCOM</th>
                            <th class="title align-middle">Other deductions</th>
                            <th class="title align-middle">Employee Position</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of payee_data; let i=index">
                            <td class="align-middle">{{i+1}}</td>
                            <td class="align-middle">{{data.employeeTin}}</td>
                            <td class="align-middle">{{data?.name}}</td>
                            <td class="align-middle">{{formatMoney(data.basic)}}</td>
                            <td class="align-middle">{{formatMoney(data.housing)}}</td>
                            <td class="align-middle">{{formatMoney(data.tp)}}</td>
                            <td class="align-middle">{{formatMoney(data?.other || 0)}}</td>
                            <td class="align-middle">{{formatMoney(data.hmo)}}</td>
                            <td class="align-middle">{{data.nhf}}</td>
                            <td class="align-middle">{{data.pension}}</td>
                            <td class="align-middle">{{formatMoney(data.other_deductions)}}</td>
                            <td class="align-middle" style="color: rgba(60,102,163,0.7);">{{data?.employee_position}}</td>
                        </tr>
                    </tbody>
                </table>

                <div *ngIf="confirmUploadErr"  class="payee-error-response">{{ confirmUploadErr }}</div>

            </mat-dialog-content>
            <mat-dialog-actions align="end">
                <div *ngIf="data.data.error == 'success'" class="extract_note">Note: Only {{payee_data.length}} employee will be added</div>
                <button *ngIf="data.data.error == 'success'" mat-button class="extract_continue" (click)="extract_continue()">
                    <span *ngIf="!isExtract">Save and continue</span>
                    <div *ngIf="isExtract" class="loader_delete">
                        <div class="bubble_delete"></div>
                        <div class="bubble_delete"></div>
                        <div class="bubble_delete"></div>
                        <div class="bubble_delete"></div>
                    </div>
                </button>
                <!-- redirected to taxable income page -->
            </mat-dialog-actions>
        </div>

    </div>

</div>