<div class="wrapper" *ngIf="type=='home'">

    <div class="button">

        <div class="logo_p">
            <img class="logo" [routerLink]="['/dashboard']" src="assets/images/side_nav_logo.svg" alt="IRM">

            <button *ngIf="!hide" mat-icon-button (click)="onPublicHeaderToggleSidenav()" class="hambugger">
                <mat-icon>menu</mat-icon>
            </button>

        </div>

        <p class="dash-text" [routerLink]="['/dashboard']" routerLinkActive="active">
            Dashboard
        </p>
        <p class="dash-text2" [routerLink]="['/notification']" routerLinkActive="active">
            Notification
        </p>
    </div>

    <div class="panel">
        <mat-expansion-panel hideToggle="true">
            <mat-expansion-panel-header #panelH (click)="panelH._toggle()">
                <mat-panel-title [routerLink]="['/dashboard2/taxpayer']" routerLinkActive="active">
                    Taxpayer Registration
                </mat-panel-title>
            </mat-expansion-panel-header>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Pay-As-You-Earn (PAYE)
                </mat-panel-title>
            </mat-expansion-panel-header>
            <span class="vertical3"></span>
            <p class="panel_text" [routerLink]="['/dashboard4/taxpayer/payee/overview']" routerLinkActive="active">Overview</p>
            <p class="panel_text" [routerLink]="['/dashboard3/taxpayer/payee']" routerLinkActive="active">
                Paye Assessment/Bills
            </p>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle="true">
            <mat-expansion-panel-header #panelH4 (click)="panelH4._toggle()">
                <mat-panel-title>
                    Direct Assessment
                </mat-panel-title>
            </mat-expansion-panel-header>
        </mat-expansion-panel>

        <!-- <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Taxes
                </mat-panel-title>
            </mat-expansion-panel-header>
            <span class="vertical2"></span>
            <p class="panel_text">Direct Assessment</p>
            <p class="panel_text" [routerLink]="['/dashboard3/taxpayer/payee']" routerLinkActive="active">
                Pay-As-You-Earn (PAYE)</p>
        </mat-expansion-panel> -->

        <!-- <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Taxes on Assets
                </mat-panel-title>
            </mat-expansion-panel-header>
            <span class="vertical3"></span>
            <p class="panel_text">Vehicle</p>
            <p class="panel_text">Land</p>
            <p class="panel_text">Building</p>
            <p class="panel_text">Businesses</p>
        </mat-expansion-panel> -->

        <mat-expansion-panel hideToggle="true">
            <mat-expansion-panel-header #panelH2 (click)="panelH2._toggle()" class="mda">
                <mat-panel-title [routerLink]="['/dashboard3/taxpayer/mda']" routerLinkActive="active">
                    MDA Collection
                </mat-panel-title>
            </mat-expansion-panel-header>
        </mat-expansion-panel>

        <!-- <mat-expansion-panel>
            <mat-expansion-panel-header class="mda" #panelH3 (click)="panelH3._toggle()">
                <mat-panel-title>
                    Reference Data
                </mat-panel-title>
            </mat-expansion-panel-header>
        </mat-expansion-panel> -->

    </div>

    <div class="footer" *ngIf="type=='home'">

        <div class="menu">
            <div mat-button [matMenuTriggerFor]="menu">
                <div class="d-h-l">
                    <div class="category">
                        <img src="assets/images/emoji.png" class="category-icon2" alt="">
                        <div>
                            <div class="right_text1" *ngIf="profile?.is_staff">Welcome, Admin</div>
                            <div class="right_text1" *ngIf="!profile?.is_staff">Welcome</div>
                            <div class="right_text2" *ngIf="profile">{{limit(profile.username)}}</div>
                            <div class="right_text2" *ngIf="!profile">{{limit('Unknown')}}</div>
                        </div>
                        <span class="fa fa-chevron-up fa-lg category-icon" aria-hidden="true"></span>
                    </div>
                </div>
            </div>
        </div>

        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <mat-icon>dialpad</mat-icon>
                <span>Redial</span>
            </button>
            <button mat-menu-item disabled>
                <mat-icon>voicemail</mat-icon>
                <span>Check voice mail</span>
            </button>
            <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>Disable alerts</span>
            </button>
        </mat-menu>

    </div>


</div>


<div class="wrapper2" *ngIf="type=='payee'">
    <div class="button">

        <div class="logo_p">
            <img class="logo" [routerLink]="['/dashboard']" src="assets/images/side_nav_logo.svg" alt="IRM">

            <button *ngIf="!hide" mat-icon-button (click)="onPublicHeaderToggleSidenav()" class="hambugger">
                <mat-icon>menu</mat-icon>
            </button>

        </div>

        <p class="back" (click)="PayeeBack()">
            <mat-icon>keyboard_backspace</mat-icon> Back
        </p>

        <p class="pay_as_you_earn">
            Pay as you Earn
        </p>

        <p class="dash-text" [routerLink]="['/dashboard3/taxpayer/payee']" routerLinkActive="active">
            All Businesses
        </p>
        <p class="dash-text2" [routerLink]="['/dashboard4/taxpayer/payee/access']" routerLinkActive="active">
            Assessment
        </p>
        <p class="dash-text2" [routerLink]="['/dashboard4/taxpayer/payee/bills']" routerLinkActive="active">
            Bills
        </p>
        <p class="dash-text2">
            TCC Certificate
        </p>
    </div>


    <div class="footer">

        <div class="menu">
            <div mat-button [matMenuTriggerFor]="menu">
                <div class="d-h-l">
                    <div class="category">
                        <img src="assets/images/emoji.png" class="category-icon2" alt="">
                        <div>
                            <div class="right_text1" *ngIf="profile?.is_staff">Welcome, Admin</div>
                            <div class="right_text1" *ngIf="!profile?.is_staff">Welcome</div>
                            <div class="right_text2" *ngIf="profile">{{limit(profile.username)}}</div>
                            <div class="right_text2" *ngIf="!profile">{{limit('Unknown')}}</div>
                        </div>
                        <span class="fa fa-chevron-up fa-lg category-icon" aria-hidden="true"></span>
                    </div>
                </div>
            </div>
        </div>

        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <mat-icon>dialpad</mat-icon>
                <span>Redial</span>
            </button>
            <button mat-menu-item disabled>
                <mat-icon>voicemail</mat-icon>
                <span>Check voice mail</span>
            </button>
            <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>Disable alerts</span>
            </button>
        </mat-menu>

    </div>



</div>