<div class="wrapper">

    <div class="button">

        <div class="logo_p">
            <img class="logo" [routerLink]="['/dashboard']" src="assets/images/side_nav_logo.svg" alt="IRM">

            <button *ngIf="!hide" mat-icon-button (click)="onPublicHeaderToggleSidenav()" class="hambugger">
                <mat-icon>menu</mat-icon>
            </button>

        </div>

        <p class="dash-text" [routerLink]="['/dashboard']" routerLinkActive="active">
            Dashboard
        </p>
        <p class="dash-text2" [routerLink]="['/notification']" routerLinkActive="active">
            Notification
        </p>
    </div>

    <div class="panel">
        <mat-expansion-panel hideToggle="true">
            <mat-expansion-panel-header #panelH (click)="panelH._toggle()">
                <mat-panel-title [routerLink]="['/dashboard2/taxpayer']" routerLinkActive="active">
                    Taxpayer Registration
                </mat-panel-title>
            </mat-expansion-panel-header>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Taxes
                </mat-panel-title>
            </mat-expansion-panel-header>
            <span class="vertical2"></span>
            <p class="panel_text">Direct Assessment</p>
            <p class="panel_text" [routerLink]="['/dashboard3/taxpayer/payee']" routerLinkActive="active">
                Pay-As-You-Earn (PAYE)</p>
            <!-- <p class="panel_text">Direct Taxation</p>
            <p class="panel_text">Withholding Tax</p>
            <p class="panel_text">Capital Gains Tax</p>
            <p class="panel_text">Property Tax</p>
            <p class="panel_text" style="font-weight: bold;">Other taxes</p> -->
        </mat-expansion-panel>

        <!-- <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Taxes on Assets
                </mat-panel-title>
            </mat-expansion-panel-header>
            <span class="vertical3"></span>
            <p class="panel_text">Vehicle</p>
            <p class="panel_text">Land</p>
            <p class="panel_text">Building</p>
            <p class="panel_text">Businesses</p>
        </mat-expansion-panel> -->

        <mat-expansion-panel hideToggle="true">
            <mat-expansion-panel-header #panelH2 (click)="panelH2._toggle()" class="mda">
                <mat-panel-title [routerLink]="['/dashboard3/taxpayer/mda']" routerLinkActive="active">
                    MDA Collection
                </mat-panel-title>
            </mat-expansion-panel-header>
        </mat-expansion-panel>

        <!-- <mat-expansion-panel>
            <mat-expansion-panel-header class="mda" #panelH3 (click)="panelH3._toggle()">
                <mat-panel-title>
                    Reference Data
                </mat-panel-title>
            </mat-expansion-panel-header>
        </mat-expansion-panel> -->

    </div>

    <div class="footer">

        <div class="menu">
            <div mat-button [matMenuTriggerFor]="menu">
                <div class="d-h-l">
                    <div class="category">
                        <img src="assets/images/emoji.png" class="category-icon2" alt="">
                        <div>
                            <div class="right_text1" *ngIf="profile?.is_staff">Welcome, Admin</div>
                            <div class="right_text1" *ngIf="!profile?.is_staff">Welcome</div>
                            <div class="right_text2" *ngIf="profile">{{limit(profile.username)}}</div>
                            <div class="right_text2" *ngIf="!profile">{{limit('Unknown')}}</div>
                        </div>
                        <span class="fa fa-chevron-up fa-lg category-icon" aria-hidden="true"></span>
                    </div>
                </div>
            </div>
        </div>

        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <mat-icon>dialpad</mat-icon>
                <span>Redial</span>
            </button>
            <button mat-menu-item disabled>
                <mat-icon>voicemail</mat-icon>
                <span>Check voice mail</span>
            </button>
            <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>Disable alerts</span>
            </button>
        </mat-menu>

    </div>

    <!-- <a class="mosabides" [routerLink]="['/home']" routerLinkActive="active" (click)="onSidenavClose()"><span class="mosa">Mosa</span><span class="bides">bides</span></a>

    <div class="nav">

        <div class="button">
            <button mat-button [routerLink]="['/home']" routerLinkActive="active" (click)="onSidenavClose()"> <span class="material-icons-round">ac_unit</span> Home</button>
        </div>

        <div class="button">
            <button mat-button [routerLink]="['/profile']" routerLinkActive="active" (click)="onSidenavClose()"> <span class="material-icons-round">person_outline</span> Profile</button>
        </div>

        <div class="button">
            <button mat-button [routerLink]="['/store/all']" routerLinkActive="active" (click)="onSidenavClose()"> <span class="material-icons-round">store</span> Store</button>
        </div>

        <div class="button">
            <button mat-button [routerLink]="['/wishlist']" routerLinkActive="active" (click)="onSidenavClose()"> <span class="material-icons-round">favorite_border</span> Wishlist</button>
        </div>

        <div class="button">
            <button mat-button [routerLink]="['/about']" routerLinkActive="active" (click)="onSidenavClose()"> <span class="material-icons-round">info</span> About Us</button>
        </div>

    </div> -->


</div>