<div class="account-wrapper">

    <div class="profile">Change password</div>

    <div class="container">

        <div class="set-strong">
            Set a strong password to prevent unauthorized access to your account.
        </div>

        <div class="form-container">
            <form class="form1" novalidate [formGroup]="feedbackForm" #fform="ngForm" (ngSubmit)="onSubmit()">

                <p>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Old password</mat-label>
                        <input formControlName="old_password" matInput type="password" required>
                        <mat-error *ngIf="formErrors.old_password">{{formErrors.old_password}}</mat-error>
                    </mat-form-field>
                </p>

                <p>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>New password</mat-label>
                        <input formControlName="new_password" matInput [type]="hide ? 'password' : 'text'" required>
                        <mat-icon mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" class="button button-cursor">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        <mat-error *ngIf="formErrors.new_password">{{formErrors.new_password}}</mat-error>
                    </mat-form-field>

                  </p>


                  <p>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Confirm password</mat-label>
                        <input formControlName="confirmPassword" matInput [type]="hide2 ? 'password' : 'text'" required>
                        <mat-icon mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2" class="button button-cursor">{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                        <mat-error *ngIf="formErrors.confirmPassword">{{formErrors.confirmPassword}}</mat-error>
                    </mat-form-field>
                  </p>


                <div class="final_submit">
                    <button type="submit" mat-button class="edit" [disabled]="disabled === true">
                        <span *ngIf="!loading">Update</span>
                        <div *ngIf="loading" class="loader">
                            <div class="bubble"></div>
                            <div class="bubble"></div>
                            <div class="bubble"></div>
                            <div class="bubble"></div>
                        </div>
                    </button>
                    <button type="button" mat-button class="edit2" [routerLink]="['/dashboard/dashboard5/account']">
                        Cancel
                    </button>
                </div>


            </form>
        </div>

    </div>

</div>