$wrapper-back: #f5f7fa 0% 0% no-repeat padding-box;
$white: #ffffff;
$ind-back: #ffffff 0% 0% no-repeat padding-box;
$ind-border: 1px solid #45a841;
$ind-font: normal normal normal 12px/15px Montserrat;
$ind-color: #565656;
$create-back: #3c66a3 0% 0% no-repeat padding-box;
$active-back: #387499 0% 0% no-repeat padding-box;
$select-color: #3ea84e;
$form-color: #37a85d;
$label-color: #565656;
$verify-hover-b: transparent linear-gradient(180deg, #4be63d 0%, #2aa977 100%)
  0% 0% no-repeat padding-box;
$verify-hover-box: 0px 3px 6px #00000029;
$drop-down: #3e538f;
$soft-pattern-font: normal normal normal 15px/19px Montserrat;
$soft-pattern-color: #3c66a3;

.account-wrapper {
  padding: 20px;
  background: rgba(60, 102, 163, 0.1);
  min-height: 100vh;

  .profile {
    font: normal normal normal 20px/29px Montserrat;
    font-weight: 500;
    letter-spacing: 0.14px;
    color: #565656;
    text-transform: capitalize;
    opacity: 1;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .container {
    background: $white 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    padding: 2rem;
    width: 80%;
  }

  .edit {
    background: transparent linear-gradient(150deg, #3E5FA8 0%, #2AA977 100%) 0% 0% no-repeat padding-box;
    border-radius: 10px;
    padding: .7rem;
    width: 7rem;
    opacity: 1;
    font: normal normal normal 14px/19px Montserrat;
    letter-spacing: 0px;
    color: $white;
  }

  .edit2 {
    margin-left: 1rem;
    background: $white;
    border-radius: 10px;
    padding: .7rem;
    border: 1px solid #3E5FA8;
    width: 7rem;
    opacity: 1;
    font: normal normal normal 14px/19px Montserrat;
    letter-spacing: 0px;
    color: #3B6D9F;
  }

  .form-container {
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
  }


  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em 0 0.5em 0;
  }

  .bubble {
    animation: expand 0.75s ease-in-out infinite;
    border-radius: 20px;
    display: inline-block;
    transform-origin: center center;
    margin: 0 3px;
    width: 7px;
    height: 7px;
  }

  .bubble:nth-child(1) {
    background: $white;
  }

  .bubble:nth-child(2) {
    animation-delay: 180ms;
    background: $white;
  }

  .bubble:nth-child(3) {
    animation-delay: 360ms;
    background: $white;
  }

  .bubble:nth-child(4) {
    animation-delay: 540ms;
    background: $white;
  }

  @keyframes expand {
    0% {
      transform: scale(1);
    }
    25% {
      transform: scale(1.55);
    }
  }

  input[type="text"] {
    background: $label-color;
  }

  ::ng-deep .mat-select-arrow {
    color: $select-color;
    opacity: 1;
  }

  .half-width {
    width: 240px;
  }

  .full-width {
    width: 500px;
  }

  .final_submit {
    margin-top: 2rem;
  }

  mat-error {
    text-transform: capitalize;
    font: normal normal normal 12px/20px Montserrat;
    transition: all 0.5s;
  }

  mat-label {
    text-transform: capitalize;
    font-weight: 550;
    font: normal normal normal 14px/20px Montserrat;
  }

  .drop_down {
    color: $drop-down;
    display: flex;
    justify-content: center;
    align-self: center;
  }

  mat-form-field {
    color: 1px solid $form-color;
    margin-right: 20px;
  }

  input[type=text] {
    background: none;
  }

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: $form-color;
  }

  ::ng-deep
    .mat-form-field-appearance-outline.mat-focused
    .mat-form-field-outline-thick {
    color: $form-color;
  }

  ::ng-deep .mat-input-element {
    caret-color: $form-color;
  }

  ::ng-deep .mat-form-field-label {
    color: $label-color;
  }

  ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: $label-color;
  }


}
