<div class="header">
    <form novalidate [formGroup]="feedbackForm" #fform="ngForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="cac-width" appearance="outline">
            <mat-label>CAC Registration number</mat-label>
            <input matInput formControlName="cac" placeholder="">
        </mat-form-field>
        <button mat-button class="verify" type="submit">Verify</button>
    </form>
</div>


<!-- session1 -->
<div class="session">

    <div class="session-header">Section 1: Organisation Details</div>

    <form class="form1" novalidate [formGroup]="feedbackForm3" #fform3="ngForm">
        <p>
            <!-- com_name -->
            <mat-form-field class="full" appearance="outline">
                <mat-label>Name of Organisation</mat-label>
                <input matInput formControlName="org_name" required>
                <mat-error>{{formErrors.org_name}}</mat-error>
            </mat-form-field>
        </p>
        <p>
            <!-- nature_bus -->
            <mat-form-field class="half-width" appearance="outline">
                <mat-label>Nature of Business</mat-label>
                <input matInput formControlName="nature_bus" required>
                <mat-error>{{formErrors.nature_bus}}</mat-error>
            </mat-form-field>
            <!-- num_emp -->
            <mat-form-field class="half-width" appearance="outline">
                <mat-label>Number of Employee</mat-label>
                <input matInput formControlName="num_emp" type="number" required>
                <mat-error>{{formErrors.num_emp}}</mat-error>
            </mat-form-field>
            <!-- date_est -->
            <mat-form-field class="half-width" appearance="outline">
                <mat-label>Date of establishment</mat-label>
                <input matInput formControlName="date_est" [matDatepicker]="picker2" placeholder="DD/MM/YY" required>
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
                <mat-error>{{formErrors.date_est}}</mat-error>
            </mat-form-field>
            <!-- contact_num -->
            <mat-form-field class="half-width" appearance="outline">
                <mat-label>Contact number</mat-label>
                <input matInput formControlName="contact_num" type="tel" required>
                <mat-error>{{formErrors.contact_num}}</mat-error>
            </mat-form-field>
        </p>
        <p>
            <!-- email -->
            <mat-form-field class="full-half" appearance="outline">
                <mat-label>Email Address</mat-label>
                <input matInput formControlName="email" email required>
                <mat-error>{{formErrors.email}}</mat-error>
            </mat-form-field>
            <!-- alt_num -->
            <mat-form-field class="half-width" appearance="outline">
                <mat-label>Alt.contact number</mat-label>
                <input matInput formControlName="alt_num" type="tel">
            </mat-form-field>
        </p>
        <p>
            <!-- website -->
            <mat-form-field class="full-half" appearance="outline">
                <mat-label>Office Website(if any)</mat-label>
                <input matInput formControlName="website" type="url">
            </mat-form-field>
        </p>
    </form>

</div>



<!-- session2 -->
<div class="session">
    <div class="session-header">Section 2: Head office Address</div>

    <form class="form1" novalidate [formGroup]="feedbackForm2" #fform2="ngForm">
        <p>
            <!-- house -->
            <mat-form-field class="half-width" appearance="outline">
                <mat-label>House No.</mat-label>
                <input matInput formControlName="house" type="number" required>
                <mat-error>{{formErrors.house}}</mat-error>
            </mat-form-field>
            <!-- street -->
            <mat-form-field class="full-half" appearance="outline">
                <mat-label>Estate/Street</mat-label>
                <input matInput formControlName="street" required>
                <mat-error>{{formErrors.street}}</mat-error>
            </mat-form-field>
        </p>
        <p>
            <!-- state_red -->
            <mat-form-field class="half-width3" appearance="outline">
                <mat-label>State of Residence</mat-label>
                <mat-select matInput formControlName="state_red" #singleSelect required>
                    <mat-option>
                        <ngx-mat-select-search [formControl]="bankCtrl3" [searching]="searching3" placeholderLabel="search state..." noEntriesFoundLabel="no matching state found">
                        </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let option of filteredBanks3 | async" [value]="option.id">
                        <span>{{option.name}}</span>
                    </mat-option>
                </mat-select>
                <mat-error>{{formErrors.state_red}}</mat-error>
                <mat-hint align="end" (click)="AddState()" *ngIf="stateError2 && !stateLoading2" style="color: red;"><button>Reload</button></mat-hint>
                <mat-hint align="end" *ngIf="stateLoading2">Loading...</mat-hint>
            </mat-form-field>
            <!-- lga_red -->
            <mat-form-field class="half-width3" appearance="outline">
                <mat-label>LGA of Residence</mat-label>
                <mat-select matInput formControlName="lga_red" #singleSelect required>
                    <mat-option>
                        <ngx-mat-select-search [formControl]="bankCtrl4" [searching]="searching4" placeholderLabel="search LGA..." noEntriesFoundLabel="no matching lga found">
                        </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let option of filteredBanks4 | async" [value]="option.id">
                        <span>{{option.name}}</span>
                    </mat-option>
                </mat-select>
                <mat-error>{{formErrors.lga_red}}</mat-error>
                <mat-hint *ngIf="!lga2">Select state to get LGA</mat-hint>
                <mat-hint align="end" (click)="AddLga2(lga2.id)" *ngIf="lgaError2 && !lgaLoading2" style="color: red;"><button>Reload</button></mat-hint>
                <mat-hint align="end" *ngIf="lgaLoading2">Loading...</mat-hint>
            </mat-form-field>
            <!-- zipcode -->
            <mat-form-field class="half-width3" appearance="outline">
                <mat-label>Zip Code</mat-label>
                <input matInput formControlName="zipcode" type="number" required>
                <mat-error>{{formErrors.zipcode}}</mat-error>
            </mat-form-field>
        </p>
    </form>
    <div style="margin-top: 30px;"></div>
</div>


<!-- session 3 -->
<div class="session">
    <div class="session-header">Section 3: Personal Details</div>

        <form novalidate [formGroup]="ninForm" #fform4="ngForm" (ngSubmit)="onSubmit2()" style="margin-top: 30px;">
            <mat-form-field class="nin-width" appearance="outline">
                <mat-label>National Identification number (NIN)</mat-label>
                <input matInput formControlName="nin" placeholder="">
            </mat-form-field>
            <button mat-button class="verify" type="submit">Verify</button>
        </form>

    <form class="form1" novalidate [formGroup]="feedbackForm1" #fform1="ngForm">
        <p>
            <!-- title -->
            <mat-form-field class="half-width" appearance="outline">
                <mat-label>Title</mat-label>
                <mat-select matInput formControlName="title">
                    <mat-option value="mr">Mr.</mat-option>
                    <mat-option value="mrs">Mrs.</mat-option>
                </mat-select>
            </mat-form-field>
            <!-- firstname -->
            <mat-form-field class="half-width" appearance="outline">
                <mat-label>First name</mat-label>
                <input matInput formControlName="firstname" required>
                <mat-error>{{formErrors.firstname}}</mat-error>
            </mat-form-field>
            <!-- middlename -->
            <mat-form-field class="half-width" appearance="outline">
                <mat-label>Middle name</mat-label>
                <input matInput formControlName="middlename" required>
                <mat-error>{{formErrors.middlename}}</mat-error>
            </mat-form-field>
            <!-- surname -->
            <mat-form-field class="half-width" appearance="outline">
                <mat-label>Surname</mat-label>
                <input matInput formControlName="surname" required>
                <mat-error>{{formErrors.surname}}</mat-error>
            </mat-form-field>
        </p>
        <p>
            <!-- gender -->
            <mat-form-field class="half-width" appearance="outline">
                <mat-label>Gender</mat-label>
                <mat-select matInput formControlName="gender" required>
                    <mat-option value="male">Male</mat-option>
                    <mat-option value="female">Female</mat-option>
                </mat-select>
                <mat-error>{{formErrors.gender}}</mat-error>
            </mat-form-field>
            <!-- birth -->
            <mat-form-field class="half-width" appearance="outline">
                <mat-label>Date of Birth</mat-label>
                <input matInput formControlName="birth" [matDatepicker]="picker" placeholder="DD/MM/YY" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error>{{formErrors.birth}}</mat-error>
            </mat-form-field>
            <!-- place birth -->
            <mat-form-field class="half-width" appearance="outline">
                <mat-label>Place of Birth</mat-label>
                <input matInput formControlName="place" required>
                <mat-error>{{formErrors.place}}</mat-error>
            </mat-form-field>
            <!-- state -->
            <mat-form-field class="half-width" appearance="outline">
                <mat-label>State of Origin</mat-label>
                <mat-select matInput formControlName="state" #singleSelect required>
                    <mat-option>
                        <ngx-mat-select-search [formControl]="bankCtrl" [searching]="searching" placeholderLabel="search state..." noEntriesFoundLabel="no matching state found">
                        </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let option of filteredBanks | async" [value]="option.id">
                        <span>{{option.name}}</span>
                    </mat-option>
                </mat-select>
                <mat-error>{{formErrors.state}}</mat-error>
                <mat-hint align="end" (click)="AddState()" *ngIf="stateError && !stateLoading" style="color: red;"><button>Reload</button></mat-hint>
                <mat-hint align="end" *ngIf="stateLoading">Loading...</mat-hint>
            </mat-form-field>
        </p>
        <p>
            <!-- lga -->
            <mat-form-field class="half-width" appearance="outline">
                <mat-label>LGA</mat-label>
                <mat-select matInput formControlName="lga" #singleSelect required>
                    <mat-option>
                        <ngx-mat-select-search [formControl]="bankCtrl2" [searching]="searching2" placeholderLabel="search LGA..." noEntriesFoundLabel="no matching lga found">
                        </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let option of filteredBanks2 | async" [value]="option.id">
                        <span>{{option.name}}</span>
                    </mat-option>
                </mat-select>
                <mat-error>{{formErrors.lga}}</mat-error>
                <mat-hint *ngIf="!lga">Select state to get LGA</mat-hint>
                <mat-hint align="end" (click)="AddLga(lga.id)" *ngIf="lgaError && !lgaLoading" style="color: red;"><button>Reload</button></mat-hint>
                <mat-hint align="end" *ngIf="lgaLoading">Loading...</mat-hint>
            </mat-form-field>
            <!-- nationality -->
            <mat-form-field class="half-width" appearance="outline">
                <mat-label>Nationality</mat-label>
                <input matInput formControlName="nationality" required>
                <mat-error>{{formErrors.nationality}}</mat-error>
            </mat-form-field>
            <!-- trade -->
            <mat-form-field class="half-width" appearance="outline">
                <mat-label>Profession/Trade</mat-label>
                <input matInput formControlName="trade" required>
                <mat-error>{{formErrors.trade}}</mat-error>
            </mat-form-field>
            <!-- employment -->
            <mat-form-field class="half-width" appearance="outline">
                <mat-label>Employment category</mat-label>
                <mat-select matInput formControlName="employment" required>
                    <mat-option value="employed">Employed</mat-option>
                    <mat-option value="unemployed">Unemployed</mat-option>
                    <mat-option value="retired">Retired</mat-option>
                </mat-select>
                <mat-error>{{formErrors.employment}}</mat-error>
            </mat-form-field>
        </p>
        <p>
            <!-- username -->
            <mat-form-field class="half-width2" appearance="outline">
               <mat-label>Username</mat-label>
               <input matInput required formControlName="username">
               <mat-error>{{formErrors.username}}</mat-error>
           </mat-form-field>
       </p>

        <div class="session-header" style="margin-top: 30px;">Contact Information</div>

        <p style="margin-top: 1rem;">
            <!-- phone -->
            <mat-form-field class="half-width2" appearance="outline">
                <mat-label>Contact number</mat-label>
                <input matInput formControlName="contact" type="tel" required>
                <mat-error>{{formErrors.contact}}</mat-error>
            </mat-form-field>
            <!-- email -->
            <mat-form-field class="half-full" appearance="outline">
                <mat-label>Email Address</mat-label>
                <input matInput type="email" formControlName="contact_email" email required>
                <mat-error>{{formErrors.contact_email}}</mat-error>
            </mat-form-field>
        </p>  

    </form>

</div>

<div class="final_submit">
    <button mat-button class="verify2" (click)="back()">Back</button>
    <button mat-button class="verify"
        [disabled]="fform1.form.invalid || fform2.form.invalid || fform3.form.invalid || disabled2 === true"
        (click)="Submit()"
    >
        <span *ngIf="!loading2">Continue</span>
        <div *ngIf="loading2" class="loader">
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
        </div>
    </button>
</div>
