<div class="wrapper2">
    <div class="button">
        <div class="logo_p">
            <img class="logo" [routerLink]="['/preview']" src="assets/images/side_nav_logo.svg" alt="IRM"/>

            <button mat-icon-button (click)="onPublicHeaderToggleSidenav()" class="hambugger">
                <mat-icon>menu</mat-icon>
            </button>
        </div>

        <p class="back" (click)="PayeeBack()">
            <mat-icon>keyboard_backspace</mat-icon>
            Back
        </p>

        <p class="pay_as_you_earn" [routerLink]="['/dashboard/dashboard5/admin-console']">
            Admin Console
        </p>

        <p class="dash-text2" [routerLink]="['/dashboard/dashboard5/admin-console']" routerLinkActive="active">
            All user
        </p>
        <p class="dash-text2" [routerLink]="['/dashboard/dashboard5/department']" routerLinkActive="active">
            Departments
        </p>
        <p class="dash-text2" [routerLink]="['/dashboard/dashboard5/location']" routerLinkActive="active">
            Location
        </p>
    </div>
</div>
