<div class="payee_wrapper">

    <div class="vehicle-text">Direct Assessment</div>
    <div class="vehicle-border"></div>

    <div class="container" fxLayoutGap="30px">
        <div class="card" [routerLink]="['self']">
            <div class="icon"><img src="assets/images/Icon material-assessment.svg" alt=""></div>
            <div class="text">Self Assessment</div>
        </div>
        <div class="card" [routerLink]="['boj']">
            <div class="icon"><img src="assets/images/Icon material-assessment2.svg" alt=""></div>
            <div class="text">Best of Judgement</div>
        </div>
        <div class="card" [routerLink]="['bill']" matBadge="45" matBadgeSize="medium">
            <div class="icon"><img src="assets/images/8726296_receipt_alt_icon.svg" alt=""></div>
            <div class="text">Generated Bills</div>
        </div>
    </div>
</div>