<div class="payee_wrapper">

    <div class="vehicle-text">Direct Assessment</div>
    <div class="vehicle-border"></div>

    <div class="container" fxLayoutGap="30px">
        <div class="card" [routerLink]="['self']">
            <div class="icon"><img src="assets/images/Icon material-assessment.svg" alt=""></div>
            <div class="text">Self Assessment</div>
        </div>
        <div class="card" [routerLink]="['boj']">
            <div class="icon"><img src="assets/images/Icon material-assessment2.svg" alt=""></div>
            <div class="text">Best of Judgement</div>
        </div>
        <!-- <div class="card" [routerLink]="['history']" matBadge="1" matBadgeSize="medium">
            <svg class="icon2" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                <path id="Icon_material-assessment" data-name="Icon material-assessment" d="M32.944,4.5H8.056A3.566,3.566,0,0,0,4.5,8.056V32.944A3.566,3.566,0,0,0,8.056,36.5H32.944A3.566,3.566,0,0,0,36.5,32.944V8.056A3.566,3.566,0,0,0,32.944,4.5ZM15.167,29.389H11.611V16.944h3.556Zm7.111,0H18.722V11.611h3.556Zm7.111,0H25.833V22.278h3.556Z" transform="translate(-4.5 -4.5)" fill="#5ea55a"/>
            </svg>              
            <div class="text">Assessment History</div>
        </div> -->
        <div class="card" [routerLink]="['bill']" matBadge="45" matBadgeSize="medium">
            <div class="icon"><img src="assets/images/8726296_receipt_alt_icon.svg" alt=""></div>
            <div class="text">Generated Bills</div>
        </div>
        <!-- <div class="card">
            <div class="icon"><img src="assets/images/27-Document-Process.svg" alt=""></div>
            <div class="text">Process TCC</div>
        </div> -->
    </div>

    

    <!-- <div class="card" (click)="openDialog('', 'view_image')">
        <div class="icon"><img src="assets/images/27-Document-Process.svg" alt=""></div>
        <div class="text">Process TCC</div>
    </div> -->


</div>