<div class="assessment-wrapper">

    <div class="header">
        <div class="soft_pattern">
            {{ datas?.taxpayer_name }}
            <span class="material-icons-round round-success" *ngIf="datas?.is_verified">verified_user</span>
            <span class="material-icons-round round-failed" *ngIf="!datas?.is_verified">gpp_maybe</span>
        </div>
        <div class="reg_buss">GTin: {{ datas?.state_tin }}</div>
    </div>

    <div class="form-container">
        <div class="form-text">Buy Plate Number</div>
        <form novalidate [formGroup]="feedbackForm" #fform="ngForm" (ngSubmit)="onSubmit()">
            <p class="gap">
                <!-- Plate number Categories -->
                <mat-form-field class="half-width" appearance="outline">
                    <mat-label>Plate number Categories</mat-label>
                    <mat-select matInput formControlName="violation" required>
                        <mat-option value="private" (click)="selectCustom(false, 'private')">Private</mat-option>
                        <mat-option value="commercial" (click)="selectCustom(false, 'commercial')">Commercial</mat-option>
                        <mat-option value="government" (click)="selectCustom(false, 'government')">Government</mat-option>
                        <mat-option value="fancy" (click)="selectCustom(true, 'fancy')">Fancy Plate Number</mat-option>
                    </mat-select>
                    <mat-error>{{ formErrors.violation }}</mat-error>
                </mat-form-field>
            </p>

            <div *ngIf="plateLoading" class="loader2">
                <div class="bubble2"></div>
                <div class="bubble2"></div>
                <div class="bubble2"></div>
                <div class="bubble2"></div>
            </div>

            <p *ngIf="!custom && available_data !plateLoading">
                <!-- Choose from available Plate -->
                <mat-form-field class="half-width" appearance="outline">
                    <mat-label>Choose from available Plate</mat-label>
                    <mat-select matInput formControlName="penalty" required>
                        <mat-option *ngFor="let data of available_data" value="{{ data.name }}" (click)="getPrice(data)">
                            {{ data.name }}
                        </mat-option>
                    </mat-select>
                    <mat-error>{{ formErrors.penalty }}</mat-error>
                </mat-form-field>
            </p>
            
            <p *ngIf="custom && !available_data && !plateLoading">
                <!-- Custom from available Plate -->
                <mat-form-field class="half-width" appearance="outline">
                    <mat-label>Type in prefer plate number</mat-label>
                    <input matInput formControlName="penalty" required>
                    <mat-error>{{ formErrors.penalty }}</mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field class="half-width" appearance="outline">
                    <mat-label>Amount (NGN)</mat-label>
                    <input matInput formControlName="fine" required type="number">
                    <mat-error>{{formErrors.fine}}</mat-error>
                    <mat-hint align="end">{{ formatMoney(price) }}</mat-hint>
                </mat-form-field>
            </p>

            <div class="final_submit">
                <button type="button" mat-button class="cancel" (click)="back()">Cancel</button>
                <button type="submit" mat-button class="generate">
                    <span *ngIf="!loading">Process</span>
                    <div *ngIf="loading" class="loader">
                        <div class="bubble"></div>
                        <div class="bubble"></div>
                        <div class="bubble"></div>
                        <div class="bubble"></div>
                    </div>
                </button>
            </div>
        </form>
    </div>
</div>