<div class="assessment-wrapper">

    <div class="header">
        <div class="soft_pattern">
            Matthew Adeboye
            <span class="material-icons-round icons-rounded">verified_user</span>
        </div>
        <div class="reg_buss">GTin: 107789</div>
    </div>

    <div class="form-container">
        <div class="form-text">Buy Plate Number</div>
        <form novalidate [formGroup]="feedbackForm" #fform="ngForm" (ngSubmit)="onSubmit()">
            <p class="gap">
                <!-- Plate number Categories -->
                <mat-form-field class="half-width" appearance="outline">
                    <mat-label>Plate number Categories</mat-label>
                    <mat-select matInput formControlName="violation" required>
                        <mat-option value="normal" (click)="selectCustom(false)">Normal plate number</mat-option>
                        <mat-option value="private" (click)="selectCustom(false)">Private</mat-option>
                        <mat-option value="commercial" (click)="selectCustom(false)">Commercial</mat-option>
                        <mat-option value="govt" (click)="selectCustom(false)">Government</mat-option>
                        <mat-option value="ospn" (click)="selectCustom(false)">Out Of Series Plate Number</mat-option>
                        <mat-option value="fancy" (click)="selectCustom(true)">Fancy Plate Number</mat-option>
                    </mat-select>
                    <mat-error>{{ formErrors.violation }}</mat-error>
                </mat-form-field>
            </p>
            <p *ngIf="!custom">
                <!-- Choose from available Plate -->
                <mat-form-field class="half-width" appearance="outline">
                    <mat-label>Choose from available Plate</mat-label>
                    <mat-select matInput formControlName="penalty" required>
                        <mat-option value="Formal">Formal</mat-option>
                        <mat-option value="Informal">Informal</mat-option>
                    </mat-select>
                    <mat-error>{{ formErrors.penalty }}</mat-error>
                </mat-form-field>
            </p>
            <p *ngIf="custom">
                <!-- Custom from available Plate -->
                <mat-form-field class="half-width" appearance="outline">
                    <mat-label>Type in prefer plate number</mat-label>
                    <input matInput formControlName="penalty" required type="number">
                    <mat-error>{{ formErrors.penalty }}</mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field class="half-width" appearance="outline">
                    <mat-label>Amount (NGN)</mat-label>
                    <input matInput formControlName="fine" required type="number">
                    <mat-error>{{formErrors.fine}}</mat-error>
                </mat-form-field>
            </p>

            <div class="final_submit">
                <button type="button" mat-button class="cancel" (click)="back()">Cancel</button>
                <button type="submit" mat-button class="generate">
                    <span *ngIf="!loading">Process</span>
                    <div *ngIf="loading" class="loader">
                        <div class="bubble"></div>
                        <div class="bubble"></div>
                        <div class="bubble"></div>
                        <div class="bubble"></div>
                    </div>
                </button>
            </div>

        </form>
    </div>


</div>