<div class="assessment-wrapper">

    <div class="mat-accordion">
        <h3>Traffic Offences And Penalties</h3>

        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState"
                                 (closed)="!panelOpenState">
              <mat-expansion-panel-header>
                <mat-panel-title>
                    Tax payer details
                </mat-panel-title>
                <span class="material-icons-round arrow_drop_down">arrow_drop_down</span>
              </mat-expansion-panel-header>
              <div class="panel-container">

                <div class="header-details_p">
                    <div class="header-details">Taxpayer Details</div>
                    <div class="name">Adamu Musa</div>
                    <div class="gtin">GTIN: 107788</div>
                    <div class="jtbtin">JTBTIN: 10778878</div>
                    <div class="indi">Individual Tax Payer</div>
                    <div class="verify">Not-Verified</div>
                    <div class="not-verify">Verified User</div>
                </div>
                
                <table class="panel-table" fxLayoutGap="50px">
                    <!-- 1 -->
                    <tbody>
                        <tr>
                            <td class="title">Date Registration:</td>
                            <td class="sub-title">2018-11-11</td>
                        </tr>
                        <tr>
                            <td class="title">Address:</td>
                            <td class="sub-title">Toyota highlander</td>
                        </tr>
                        <tr>
                            <td class="title">LGA:</td>
                            <td class="sub-title">JTEDP21A040041522</td>
                        </tr>
                        <tr>
                            <td class="title">Email:</td>
                            <td class="sub-title">TONGA 1, STREET ARAB ROAD KUBWA ABUJA.</td>
                        </tr>
                        <tr>
                            <td class="title">Phone Number:</td>
                            <td class="sub-title">Matthew Adeboye</td>
                        </tr>
                        <tr>
                            <td class="title">Mode of identification:</td>
                            <td class="sub-title">07034725207</td>
                        </tr>
                    </tbody>
                    <!-- 2 -->
                    <tbody>
                        <tr>
                            <td class="title">Date of birth:</td>
                            <td class="sub-title">33e33232323</td>
                        </tr>
                        <tr>
                            <td class="title">Age:</td>
                            <td class="sub-title">SUV</td>
                        </tr>
                        <tr>
                            <td class="title">Selected tax office:</td>
                            <td class="sub-title">Na</td>
                        </tr>
                        <tr>
                            <td class="title">Business status:</td>
                            <td class="sub-title">1472</td>
                        </tr>
                        <tr>
                            <td class="title">Employer:</td>
                            <td class="sub-title">7</td>
                        </tr>
                    </tbody>
                    <!-- 3 -->
                </table>
    
              </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>

    <div class="form-container">
        <div class="form-text">Traffic Offences And Penalties</div>
        <form novalidate [formGroup]="feedbackForm" #fform="ngForm" (ngSubmit)="onSubmit()">
            <p class="gap">
                <!-- Choose Registration Type -->
                <mat-form-field class="half-width" appearance="outline">
                    <mat-label>Violation</mat-label>
                    <mat-select matInput formControlName="violation" required>
                        <mat-option value="Formal">Formal</mat-option>
                        <mat-option value="Informal">Informal</mat-option>
                    </mat-select>
                    <mat-error>{{ formErrors.violation }}</mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field class="half-width" appearance="outline">
                    <mat-label>Fine (NGN)</mat-label>
                    <input matInput formControlName="fine" required type="number">
                    <mat-error>{{formErrors.fine}}</mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field class="half-width" appearance="outline">
                    <mat-label>Additional Penalty</mat-label>
                    <input matInput formControlName="penalty" required>
                    <mat-error>{{formErrors.penalty}}</mat-error>
                </mat-form-field>
            </p>

            <div class="final_submit">
                <button type="button" mat-button class="cancel" (click)="back()">Cancel</button>
                <button type="submit" mat-button class="generate">
                    <span *ngIf="!loading">Process</span>
                    <div *ngIf="loading" class="loader">
                        <div class="bubble"></div>
                        <div class="bubble"></div>
                        <div class="bubble"></div>
                        <div class="bubble"></div>
                    </div>
                </button>
            </div>

        </form>
    </div>


</div>