<div class="wrapper">

    <div class="header">

        <div>
            <div class="soft_pattern">{{ datas2.company.organisation_name }}</div>
            <div class="reg_buss">Tax ID: {{ datas2.company.state_tin }}</div>
            <div>
                <span class="assess">Filling for {{ htmlYear }}</span>
                <button mat-button="mat-button" [matMenuTriggerFor]="menu2">
                    <span class="change">Change Year</span>
                </button>
                <mat-menu #menu2 class="choose-year-menu">
                    <button mat-menu-item="mat-menu-item" *ngFor="let year of years" (click)="chooseYear(year)" style="color: #5EA55A;" class="mat-menu">{{ year.year }}</button>
                </mat-menu>
            </div>
        </div>

        <div class="header-container">
            <button mat-button="mat-button" class="payee_button" [matMenuTriggerFor]="menu">
                <img src="assets/images/Group814.svg" class="header-img" alt="">
                    <span>Setup Employee
                        <i class="fa fa-chevron-down"></i>
                    </span>
                </button>
                <mat-menu #menu>
                    <button
                        mat-menu-item="mat-menu-item" (click)="openDialog('file_upload')" class="payee_button_menu payee_button_menu2" style="border-bottom: 2px solid #38729B;">
                        <!-- <mat-icon>upload_file</mat-icon> -->
                        <span>Upload File</span>
                    </button>
                    <!-- upload_file -->
                    <button
                        mat-menu-item="mat-menu-item" class="payee_button_menu" (click)="openDialog('manual')">
                        <!-- <mat-icon>save_as</mat-icon> -->
                        <span>Manual Input</span>
                    </button>
                </mat-menu>
            </div>

        </div>

        <div>
            <div class="verify">

                <mat-toolbar class="header2">
                    <div class="indcom">
                        Employee(s)
                    </div>
                    <div class="spacer"></div>
                    <div class="search_icon_p">
                        <form class="search-form">
                            <input [ngModel]="search" (ngModelChange)="modelChange($event)" name="search" type="text" class="input"></form>
                            <mat-icon class="search_icon">search</mat-icon>
                        </div>
                    </mat-toolbar>

                    <div class="table-container">
                        <div class="table-responsive">
                            <table datatable="datatable" [dtOptions]="dtOptions" class="row-border table table-striped table-hover table-borderless">
                                <thead>
                                    <tr>
                                        <th>S/N</th>
                                        <th>TIN</th>
                                        <th>Name of Employee</th>
                                        <th>Gross Annual Income</th>
                                        <th>Annual tax Liability</th>
                                        <th>Monthly tax Liabilities</th>
                                        <th>Status</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <!-- individual -->
                                <tbody *ngIf="datas?.length != 0">
                                    <tr *ngFor="let data of datas; let i=index">
                                        <td class="align-middle">{{i+1}}</td>
                                        <td class="align-middle">{{ data.employeeTin }}</td>
                                        <td class="align-middle">{{ data.employee }}</td>
                                        <td class="align-middle">{{ formatMoney(data.gross_income) }}</td>
                                        <td class="align-middle">{{ formatMoney(data.compute_annualtax) }}</td>
                                        <td class="align-middle">{{ formatMoney(data.compute_montax) }}</td>
                                        <td class="align-middle">
                                            <div class="table-status-red" *ngIf="!data.status">Inactive</div>
                                            <div class="table-status-green" *ngIf="data.status">Active</div>
                                        </td>
                                        <td class="align-middle">
                                            <button mat-button [matMenuTriggerFor]="editMenu">
                                                <i class="fa fa-ellipsis-h fa-lg" aria-hidden="true"></i>
                                            </button>
                                            <mat-menu #editMenu="matMenu">
                                                <button mat-menu-item style="color: #5EA55A;" class="mat-menu" (click)="goToView(data)">view</button>
                                                <button mat-menu-item style="color: #3C66A3;" class="mat-menu" (click)="edit(data)">Edit</button>
                                            </mat-menu>
                                        </td>
                                        <td class="align-middle">
                                            <mat-icon (click)="openDDialog(data, 'delete-payee')" class="table-icon-delete">
                                                delete_forever
                                            </mat-icon>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody *ngIf="datas?.length == 0">
                                    <tr>
                                        <td class="no-data-available">No data!</td>
                                        <td class="no-data-available">No data!</td>
                                        <td class="no-data-available">No data!</td>
                                        <td class="no-data-available">No data!</td>
                                        <td class="no-data-available">No data!</td>
                                        <td class="no-data-available">No data!</td>
                                        <td class="no-data-available">No data!</td>
                                        <td class="no-data-available">No data!</td>
                                        <td class="no-data-available">No data!</td>
                                    </tr>
                                </tbody>

                                <div *ngIf="isLoading" class="loader loading">
                                    <div class="bubble"></div>
                                    <div class="bubble"></div>
                                    <div class="bubble"></div>
                                    <div class="bubble"></div>
                                </div>

                                <button mat-raised-button="mat-raised-button" class="reload" (click)="reload()">
                                    <span *ngIf="!is_reload">RELOAD</span>
                                    <div *ngIf="is_reload" class="loader">
                                        <div class="bubble"></div>
                                        <div class="bubble"></div>
                                        <div class="bubble"></div>
                                        <div class="bubble"></div>
                                    </div>
                                </button>
                            </table>
                        </div>

                        <div *ngIf="!is_reload && datas?.length == 0">
                            <div class="upload-payee-container">
                                <div class="no-employee">No employee is setup for PAYE on for this Organisation</div>

                                <div class="setup-employee-container_p">
                                    <div class="setup-employee-container">
                                        <img src="assets/images/Group814.svg" class="header-img" alt="">
                                        <span>Setup Employee
                                            <i class="fa fa-chevron-down"></i>
                                        </span>
                                    </div>
                                    <div class="upload-file_text" (click)="openDialog('file_upload')">upload file</div>
                                    <div class="manual-input_text" (click)="openDialog('manual')">manual input</div>
                                </div>

                            </div>
                        </div>


                    </div>
                </div>
            </div>


        </div>
