<div class="wrapper">

    <div class="header">

        <div class="filling-header">
            <div class="soft_pattern">
                {{ datas2.company.organisation_name }}
                <span class="material-icons-round" *ngIf="datas2?.company.is_verified">verified_user</span>
            </div>
            <div class="reg_buss">GTin: {{ datas2.company.state_tin }}</div>
            <div>
                <span class="assess">Filling for {{ htmlYear }}</span>
                <button mat-button="mat-button" [matMenuTriggerFor]="menu2">
                    <span class="change">Change Year</span>
                </button>
                <mat-menu #menu2 class="choose-year-menu">
                    <button mat-menu-item="mat-menu-item" *ngFor="let year of years" (click)="chooseYear(year)" style="color: #5EA55A;" class="mat-menu">{{ year.year }}</button>
                </mat-menu>
            </div>
        </div>

        <div class="header-container">
            <button mat-button="mat-button" class="payee_button" [matMenuTriggerFor]="menu">
                <svg xmlns="http://www.w3.org/2000/svg" class="header-img" width="21.443" height="21.444" viewBox="0 0 21.443 21.444">
                    <g id="Group_814" data-name="Group 814" transform="translate(-4.501 -4.5)">
                      <path id="Path_584" data-name="Path 584" d="M22.443,22.482a26.022,26.022,0,0,0-2.909-.558,2.956,2.956,0,0,1-1.346-.62,10.212,10.212,0,0,1-.095-2.636.579.579,0,0,1,.061-.212,8.242,8.242,0,0,0,.575-1.117,12.675,12.675,0,0,0,.424-1.86.435.435,0,0,1,.223-.313,1.016,1.016,0,0,0,.436-.748,7.912,7.912,0,0,0,.413-1.871.79.79,0,0,0-.179-.531.421.421,0,0,1-.112-.413,11.775,11.775,0,0,0,.29-2.546c.05-2.3-1.748-4.557-5-4.557-3.3,0-5.054,2.262-5,4.557a12.282,12.282,0,0,0,.285,2.546.445.445,0,0,1-.112.413.762.762,0,0,0-.179.531,7.912,7.912,0,0,0,.413,1.871,1.029,1.029,0,0,0,.436.748.445.445,0,0,1,.223.313,12.675,12.675,0,0,0,.424,1.86,8.559,8.559,0,0,0,.575,1.117.393.393,0,0,1,.061.212,10.2,10.2,0,0,1-.095,2.636,2.956,2.956,0,0,1-1.346.62A26.022,26.022,0,0,0,8,22.482c-.793.279-3.088,1.145-3.49,2.921a.446.446,0,0,0,.441.542H25.5a.445.445,0,0,0,.436-.542C25.531,23.627,23.236,22.761,22.443,22.482Z" fill="#5ea55a"/>
                      <path id="Path_585" data-name="Path 585" d="M29.525,20.094H28.017V18.586A.586.586,0,0,0,27.431,18h0a.586.586,0,0,0-.586.586v1.508H25.336a.586.586,0,0,0-.586.586h0a.586.586,0,0,0,.586.586h1.508v1.508a.586.586,0,0,0,.586.586h0a.586.586,0,0,0,.586-.586V21.267h1.508a.586.586,0,0,0,.586-.586h0A.586.586,0,0,0,29.525,20.094Z" transform="translate(-4.167 -2.778)" fill="#5ea55a"/>
                    </g>
                </svg>
                  
                    <span>Setup Employee
                        <i class="fa fa-chevron-down"></i>
                    </span>
            </button>
            <mat-menu #menu>
                <button
                    mat-menu-item="mat-menu-item" (click)="openDialog('file_upload')" class="payee_button_menu payee_button_menu2" style="border-bottom: 2px solid #38729B;">
                    <!-- <mat-icon>upload_file</mat-icon> -->
                    <span>Upload File</span>
                </button>
                <!-- upload_file -->
                <button
                    mat-menu-item="mat-menu-item" class="payee_button_menu" (click)="openDialog('manual')">
                    <!-- <mat-icon>save_as</mat-icon> -->
                    <span>Manual Input</span>
                </button>
            </mat-menu>
            </div>

        </div>

        <div>
            <div class="verify">

                <mat-toolbar class="header2">
                    <div class="indcom">
                        Employee(s)
                    </div>
                    <div class="spacer"></div>

                    <!-- <div class="search_icon_p">
                        <form class="search-form">
                            <input [ngModel]="search" (ngModelChange)="modelChange($event)" name="search" type="text" class="input"></form>
                            <mat-icon class="search_icon">search</mat-icon>
                        </div> -->

                    <div class="search_icon_header">
                        <form class="search-form_header">
                            <button matSuffix mat-icon-button class="form-icon_header">
                                <mat-icon>search</mat-icon>
                            </button>
                            <input [ngModel]="search" (ngModelChange)="modelChange($event)" name="search" type="text" placeholder="Search for TaxID, Tax name., etc">
                        </form>
                    </div>

                    </mat-toolbar>

                    <div class="table-container">
                        <div class="table-responsive">
                            <table datatable="datatable" [dtOptions]="dtOptions" class="row-border table table-striped table-hover table-borderless">
                                <thead>
                                    <tr>
                                        <th class="align-middle">S/N</th>
                                        <th class="align-middle">GTIN</th>
                                        <th class="align-middle">Name of Employee</th>
                                        <th class="align-middle">Gross Annual Income</th>
                                        <th class="align-middle">Annual tax Liability</th>
                                        <th class="align-middle">Monthly tax Liabilities</th>
                                        <th class="align-middle">Status</th>
                                        <th class="align-middle"></th>
                                        <th class="align-middle"></th>
                                    </tr>
                                </thead>
                                <!-- individual -->
                                <tbody *ngIf="datas?.length != 0">
                                    <tr *ngFor="let data of datas; let i=index">
                                        <td class="align-middle">{{i+1}}</td>
                                        <td class="align-middle">{{ data.employeeTin }}</td>
                                        <td class="align-middle">{{ data.employee }}</td>
                                        <td class="align-middle">{{ formatMoney(data.gross_income) }}</td>
                                        <td class="align-middle">{{ formatMoney(data.compute_annualtax) }}</td>
                                        <td class="align-middle">{{ formatMoney(data.compute_montax) }}</td>
                                        <td class="align-middle">
                                            <div class="table-status-red" *ngIf="!data.status">Inactive</div>
                                            <div class="table-status-green" *ngIf="data.status">Active</div>
                                        </td>
                                        <td class="align-middle">
                                            <button mat-button [matMenuTriggerFor]="editMenu">
                                                <i class="fa fa-ellipsis-h fa-lg" aria-hidden="true"></i>
                                            </button>
                                            <mat-menu #editMenu="matMenu">
                                                <button mat-menu-item style="color: #5EA55A;" class="mat-menu" (click)="goToView(data)">view</button>
                                                <button mat-menu-item style="color: #3C66A3;" class="mat-menu" (click)="edit(data)">Edit</button>
                                            </mat-menu>
                                        </td>
                                        <td class="align-middle">
                                            <mat-icon (click)="openDDialog(data, 'delete-payee')" class="table-icon-delete">
                                                delete_forever
                                            </mat-icon>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody *ngIf="datas?.length == 0">
                                    <tr>
                                        <td class="no-data-available" style="text-align: center;">No data!</td>
                                        <td class="no-data-available" style="text-align: center;">No data!</td>
                                        <td class="no-data-available" style="text-align: center;">No data!</td>
                                        <td class="no-data-available" style="text-align: center;">No data!</td>
                                        <td class="no-data-available" style="text-align: center;">No data!</td>
                                        <td class="no-data-available" style="text-align: center;">No data!</td>
                                        <td class="no-data-available" style="text-align: center;">No data!</td>
                                        <td class="no-data-available" style="text-align: center;">No data!</td>
                                        <td class="no-data-available" style="text-align: center;">No data!</td>
                                    </tr>
                                </tbody>

                                <div *ngIf="isLoading" class="loader loading">
                                    <div class="bubble"></div>
                                    <div class="bubble"></div>
                                    <div class="bubble"></div>
                                    <div class="bubble"></div>
                                </div>

                                <button mat-raised-button="mat-raised-button" class="reload" (click)="reload()">
                                    <span *ngIf="!is_reload">Reload</span>
                                    <div *ngIf="is_reload" class="loader">
                                        <div class="bubble"></div>
                                        <div class="bubble"></div>
                                        <div class="bubble"></div>
                                        <div class="bubble"></div>
                                    </div>
                                </button>
                            </table>
                        </div>

                        <div *ngIf="!is_reload && datas?.length == 0">
                            <div class="upload-payee-container">
                                <div class="no-employee">No employee is setup for PAYE on for this Organisation</div>

                                <div class="setup-employee-container_p">
                                    <div class="setup-employee-container">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="header-img" width="21.443" height="21.444" viewBox="0 0 21.443 21.444">
                                            <g id="Group_814" data-name="Group 814" transform="translate(-4.501 -4.5)">
                                            <path id="Path_584" data-name="Path 584" d="M22.443,22.482a26.022,26.022,0,0,0-2.909-.558,2.956,2.956,0,0,1-1.346-.62,10.212,10.212,0,0,1-.095-2.636.579.579,0,0,1,.061-.212,8.242,8.242,0,0,0,.575-1.117,12.675,12.675,0,0,0,.424-1.86.435.435,0,0,1,.223-.313,1.016,1.016,0,0,0,.436-.748,7.912,7.912,0,0,0,.413-1.871.79.79,0,0,0-.179-.531.421.421,0,0,1-.112-.413,11.775,11.775,0,0,0,.29-2.546c.05-2.3-1.748-4.557-5-4.557-3.3,0-5.054,2.262-5,4.557a12.282,12.282,0,0,0,.285,2.546.445.445,0,0,1-.112.413.762.762,0,0,0-.179.531,7.912,7.912,0,0,0,.413,1.871,1.029,1.029,0,0,0,.436.748.445.445,0,0,1,.223.313,12.675,12.675,0,0,0,.424,1.86,8.559,8.559,0,0,0,.575,1.117.393.393,0,0,1,.061.212,10.2,10.2,0,0,1-.095,2.636,2.956,2.956,0,0,1-1.346.62A26.022,26.022,0,0,0,8,22.482c-.793.279-3.088,1.145-3.49,2.921a.446.446,0,0,0,.441.542H25.5a.445.445,0,0,0,.436-.542C25.531,23.627,23.236,22.761,22.443,22.482Z" fill="#5ea55a"/>
                                            <path id="Path_585" data-name="Path 585" d="M29.525,20.094H28.017V18.586A.586.586,0,0,0,27.431,18h0a.586.586,0,0,0-.586.586v1.508H25.336a.586.586,0,0,0-.586.586h0a.586.586,0,0,0,.586.586h1.508v1.508a.586.586,0,0,0,.586.586h0a.586.586,0,0,0,.586-.586V21.267h1.508a.586.586,0,0,0,.586-.586h0A.586.586,0,0,0,29.525,20.094Z" transform="translate(-4.167 -2.778)" fill="#5ea55a"/>
                                            </g>
                                        </svg>
                                        <span>Setup Employee
                                            <i class="fa fa-chevron-down"></i>
                                        </span>
                                    </div>
                                    <div class="upload-file_text" (click)="openDialog('file_upload')">upload file</div>
                                    <div class="manual-input_text" (click)="openDialog('manual')">manual input</div>
                                </div>

                            </div>
                        </div>


                    </div>
                </div>
            </div>


        </div>
