<div class="wrapper">

    <form novalidate [formGroup]="feedbackForm" #fform="ngForm" (ngSubmit)="onSubmit()">
        <p>
            <!-- Vehicle Model -->
            <mat-form-field class="half-width" appearance="outline">
                <mat-label>Vehicle Model</mat-label>
                <mat-select matInput formControlName="model" required>
                    <mat-option value="Formal">Formal</mat-option>
                    <mat-option value="Informal">Informal</mat-option>
                </mat-select>
                <mat-error>{{ formErrors.model }}</mat-error>
            </mat-form-field>
            <!-- Vehicle Make -->
            <mat-form-field class="half-width" appearance="outline">
                <mat-label>Vehicle Make</mat-label>
                <mat-select matInput formControlName="make" required>
                    <mat-option value="Formal">Formal</mat-option>
                    <mat-option value="Informal">Informal</mat-option>
                </mat-select>
                <mat-error>{{formErrors.make}}</mat-error>
            </mat-form-field>
        </p>
        <p>
            <!-- Vehicle Type * -->
            <mat-form-field class="half-width" appearance="outline">
                <mat-label>Vehicle Type</mat-label>
                <mat-select matInput formControlName="vehicle_type" required>
                    <mat-option value="Formal">Formal</mat-option>
                    <mat-option value="Informal">Informal</mat-option>
                </mat-select>
                <mat-error>{{formErrors.vehicle_type}}</mat-error>
            </mat-form-field>
            <!-- Number of carry -->
            <mat-form-field class="half-width" appearance="outline">
                <mat-label>Number of carry</mat-label>
                <input matInput formControlName="no_carry" type="number" required>
                <mat-error>{{formErrors.no_carry}}</mat-error>
            </mat-form-field>
        </p>
        <p>
            <!-- Vehicle Chassis Number / VIN -->
            <mat-form-field class="half-width" appearance="outline">
                <mat-label>Vehicle Chassis Number / VIN</mat-label>
                <input matInput formControlName="vin" required>
                <mat-error>{{formErrors.vin}}</mat-error>
            </mat-form-field>
            <!-- Vehicle Colour -->
            <mat-form-field class="half-width" appearance="outline">
                <mat-label>Vehicle Colour</mat-label>
                <input matInput formControlName="color" required>
                <mat-error>{{formErrors.color}}</mat-error>
            </mat-form-field>
        </p>
        <p>
            <!-- Gross weight (kg) -->
            <mat-form-field class="half-width" appearance="outline">
                <mat-label>Vehicle Year</mat-label>
                <input matInput formControlName="year" type="number" required>
                <mat-error>{{formErrors.year}}</mat-error>
            </mat-form-field>
            <!-- Engine capacity -->
            <mat-form-field class="half-width" appearance="outline">
                <mat-label>Engine capacity</mat-label>
                <input matInput formControlName="engine_capacity" required>
                <mat-error>{{formErrors.engine_capacity}}</mat-error>
            </mat-form-field>
        </p>
        <p>
            <!-- Type of Fuel -->
            <mat-form-field class="half-width" appearance="outline">
                <mat-label>Type of Fuel</mat-label>
                <input matInput formControlName="fuel" required>
                <mat-error>{{formErrors.fuel}}</mat-error>
            </mat-form-field>
            <!-- Registered Plate number -->
            <mat-form-field class="half-width" appearance="outline">
                <mat-label>Registered Plate number</mat-label>
                <input matInput formControlName="plate" required>
                <mat-error>{{formErrors.plate}}</mat-error>
                <mat-hint align="end">
                    <img src="assets/images/Iconfeather-check-circle.svg" class="check-hint" alt="">
                </mat-hint>
            </mat-form-field>
        </p>
    
        <div class="final_submit">
            <button type="submit" mat-button class="verify">
                <span>Save and continue</span>
            </button>
        </div>
    
    </form>

    
</div>