<div class="wrapper">


    <div class="header">

        <div class="dashboard_select-tax">
            <select class="form-select form-selecta-tax" placeholder="Filters" (change)="changeActive($event)">
                <option class="option-white" disabled>Filters33333333ewwweffwe</option>
                <option selected value="all" class="tax-option">All registered tax payer</option>
                <option value="ind" class="tax-option">Individual</option>
                <option value="com" class="tax-option">Business</option>
            </select>
            <button matSuffix mat-icon-button class="form-dashboard_select">
                <span class="material-icons-round icon-drop-down">arrow_drop_down</span>
            </button>
        </div>

        <div class="spacer"></div>

        <div class="search_icon_header">
            <form class="search-form_header">
                <button matSuffix mat-icon-button class="form-icon_header">
                    <mat-icon>search</mat-icon>
                </button>
                <input [ngModel]="search" (ngModelChange)="modelChange($event)" name="search" type="text" placeholder="Search for TaxID, Tax name., etc">
            </form>
        </div>

        <div class="dashboard_select">
            <select class="form-select form-select2" placeholder="Filters">
                <option class="option-white" disabled>Filters333333331</option>
                <option selected>Filters</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
            <button matSuffix mat-icon-button class="form-dashboard_select">
                <span class="material-icons-outlined">filter_alt</span>
            </button>
        </div>

    </div>


    <mat-toolbar class="header2">
        <div class="indcom">
            {{left_text}}
        </div>
        <div class="spacer"></div>
       <button mat-button class="create-new" (click)="openRegisDialog()">create new</button>
    </mat-toolbar>

    <div class="table-container">
        <div class="table-responsive">
            <table datatable [dtOptions]="dtOptions"
                class="row-border table table-striped table-hover table-borderless">
                <thead>
                    <tr>
                        <th class="align-middle">S/N</th>
                        <th class="align-middle">GTIN</th>
                        <th class="align-middle">Taxpayer Name</th>
                        <th class="align-middle">LGA of residence</th>
                        <th class="align-middle">Contact Number</th>
                        <th class="align-middle">Tax office</th>
                        <th class="align-middle">Actions</th>
                    </tr>
                </thead>
                <!-- individual -->
                <tbody *ngIf="datas?.length != 0">
                    <tr *ngFor="let data of datas; let i=index">
                        <td class="align-middle">{{i+1}}</td>
                        <td class="align-middle">{{ data.state_tin }}</td>
                        <td class="align-middle">{{ data.taxpayer_name }}
                        </td>
                        <td class="align-middle">{{ data.lga_id.name }}</td>
                        <td class="align-middle">{{ data.phone }}</td>
                        <td class="align-middle">{{ data.location.name }}</td>
                        <td class="align-middle">
                                <button mat-button [matMenuTriggerFor]="menu" class="ellipsis">
                                    <i class="fa fa-ellipsis-h fa-lg" aria-hidden="true"></i>
                                </button>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item="mat-menu-item" (click)="openDialog(data, active)">View Details</button>
                                    <button mat-menu-item="mat-menu-item" style="color: #3C66A3;">Edit Details</button>
                                    <button mat-menu-item="mat-menu-item">View Tax History</button>
                                    <button mat-menu-item="mat-menu-item">Assets</button>
                                    <button mat-menu-item="mat-menu-item" style="color: red;" (click)="openDialog(data, 'delete-payer')">Delete</button>
                                </mat-menu>
                        </td>

                    </tr>
                </tbody>
                <tbody *ngIf="datas?.length == 0">
                    <tr>
                        <td class="no-data-available">No data!</td>
                        <td class="no-data-available">No data!</td>
                        <td class="no-data-available">No data!</td>
                        <td class="no-data-available">No data!</td>
                        <td class="no-data-available">No data!</td>
                        <td class="no-data-available">No data!</td>
                        <td class="no-data-available">No data!</td>
                    </tr>
                </tbody>

                <div *ngIf="isLoading" class="loader loading">
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                </div>

                <button mat-raised-button *ngIf="datas?.length == 0" class="reload" (click)="reload()">
                    <span *ngIf="!is_reload">RELOAD</span>
                    <div *ngIf="is_reload" class="loader">
                        <div class="bubble"></div>
                        <div class="bubble"></div>
                        <div class="bubble"></div>
                        <div class="bubble"></div>
                    </div>
                </button>
            </table>
        </div>
    </div>




</div>