.nav {
  background: var(--green) 0% 0% no-repeat padding-box;
}

.nav2 {
  background: var(--green) 0% 0% no-repeat padding-box;
}

.nav3 {
  background: transparent linear-gradient(142deg, #6f7d9b 0%, #191f1d 100%) 0%
    0% no-repeat padding-box;

  .payee_button {
    font: normal normal normal 12px/15px var(--mont);
    letter-spacing: 0px;
    color: #38729b;
    font-weight: 500;
    padding: 1rem;
    opacity: 1;
    border: 0.5px solid #5ea55a;
    border-radius: 10px;
    background: var(--white);
  }

  ::ng-deep .mat-menu-item {
    font: normal normal normal 12px/15px var(--mont);
    letter-spacing: 0px;
    font-weight: 500;
    opacity: 1;
  }
}

.nav4 {
  background: transparent linear-gradient(142deg, #364e83 0%, #4e5ba5 100%) 0%
    0% no-repeat padding-box;
}

.nav,
.nav2,
.nav3,
.nav4 {
  color: var(--white);
  padding-top: 2.5rem;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 2000;
  padding-bottom: 2.5rem;
  opacity: 1;

  .hambugger {
    background: var(--white);
    margin-right: 10px;
  }

  @mixin theme($theme) {
    letter-spacing: 0px;
    font: $theme;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .left_text1 {
    @include theme($theme: normal normal 15px/19px var(--mont));
    font-weight: bold;
  }

  .left_text2 {
    @include theme($theme: normal normal 300 14px/17px var(--mont));
    margin-top: 2px;
  }

  .right_text1 {
    @include theme($theme: normal normal 400 15px/19px var(--mont));
  }

  .right_text2 {
    @include theme($theme: normal normal 15px/19px var(--mont));
    font-weight: bold;
  }

  .identity {
    font-size: 50px;
    margin-left: 3px;
  }

  .d-h-l {
    margin-right: 2rem;
  }

  .category {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.nav5 {
  background: #f5f7fa 0% 0% no-repeat padding-box;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
  opacity: 1;

  .hambugger {
    background: var(--white);
    color: var(--green);
    margin-right: 10px;
  }

  .dashboard-text {
    text-transform: capitalize;
    font: normal normal medium 15px/24px var(--mont);
    letter-spacing: 0.14px;
    color: #565656;
    opacity: 1;
  }

  .dashboard-text2 {
    text-transform: capitalize;
    font: normal normal medium 15px/24px var(--mont);
    letter-spacing: 0.14px;
    color: #565656;
    padding-left: 20px;
    font-size: 18px;
    font-weight: 500;
    opacity: 1;
  }

  .payee_note {
    margin-left: 20px;
    font: normal normal normal 15px/24px var(--mont);
    letter-spacing: 0.14px;
    color: var(--red);
    font-weight: 500;
    opacity: 1;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .search_icon_p {
    float: right;
    display: flex;
    justify-content: right;
    align-items: right;
  }

  .search-form {
    margin-right: 10px;
    vertical-align: top;
    background: var(--white);
  }

  input[type="text"] {
    background: var(--white);
    box-sizing: border-box;
    border: 1px solid var(--white);
    border-radius: 2px;
    height: 35px;
    width: 40vw;
    font: normal normal normal 15px/24px var(--mont);
    padding-left: 15px;
  }

  [type="text"]:focus {
    outline: none;
  }

  .form-icon {
    color: rgba(27, 87, 63, 0.54);
    margin-left: 10px;
  }

  .example-icon {
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 2px solid var(--green);
    border: 0.5px solid var(--green);
    border-radius: 10px;
    opacity: 1;
  }

  .example-icon mat-icon {
    color: var(--green);
    opacity: 1;
  }

  .export-report {
    font: normal normal normal 15px/24px var(--mont);
    letter-spacing: 0px;
    color: #565656;
    font-weight: 500;
    opacity: 1;
  }
}
