<mat-toolbar class="nav" *ngIf="type == 'tax'">

    <button *ngIf="!hide" mat-icon-button (click)="onPublicHeaderToggleSidenav()" class="hambugger">
        <mat-icon>menu</mat-icon>
    </button>


    <div class="left">
        <div class="left_text1">{{left_text1}}</div>
        <div class="left_text2">{{left_text2}}</div>
    </div>

    <span class="spacer"></span>

    <div class="d-h-l">
        <div class="category">
            <div>
                <div class="right_text1">Welcome, {{ profile?.department?.name }}</div>
                <div class="right_text2" *ngIf="profile">{{limit(profile.first_name)}}</div>
                <div class="right_text2" *ngIf="!profile">{{limit('Unknown')}}</div>
            </div>
            <mat-icon class="category-icon identity">perm_identity</mat-icon>
        </div>
    </div>

</mat-toolbar>

<!-- nav2 -->
<mat-toolbar class="nav2" *ngIf="type == 'reg_tax'">

    <button *ngIf="!hide" mat-icon-button (click)="onPublicHeaderToggleSidenav()" class="hambugger">
        <mat-icon>menu</mat-icon>
    </button>

    <div class="left">
        <div class="left_text1">{{left_text1}}</div>
        <div class="left_text2">{{left_text2}}</div>
    </div>

    <span class="spacer"></span>

    <div class="d-h-l">
        <div class="category">
            <div>
                <div class="right_text1">Welcome, {{ profile?.department?.name }}</div>
                <div class="right_text2" *ngIf="profile">{{limit(profile.first_name)}}</div>
                <div class="right_text2" *ngIf="!profile">{{limit('Unknown')}}</div>
            </div>
            <mat-icon class="category-icon identity">perm_identity</mat-icon>
        </div>
    </div>

</mat-toolbar>


<!-- nav3 -->
<mat-toolbar class="nav3" *ngIf="type == 'payee'">

    <button *ngIf="!hide" mat-icon-button (click)="onPublicHeaderToggleSidenav()" class="hambugger">
        <mat-icon>menu</mat-icon>
    </button>

    <div class="left">
        <div class="left_text1">{{left_text1}}</div>
        <div class="left_text2">{{left_text2}}</div>
    </div>

</mat-toolbar>


<!-- nav4 -->
<mat-toolbar class="nav4" *ngIf="type == 'mda'">

    <button *ngIf="!hide" mat-icon-button (click)="onPublicHeaderToggleSidenav()" class="hambugger">
        <mat-icon>menu</mat-icon>
    </button>

    <div class="left">
        <div class="left_text1">{{left_text1}}</div>
        <div class="left_text2">{{left_text2}}</div>
    </div>

    <span class="spacer"></span>

    <div class="d-h-l">
        <div class="category">
            <div>
                <div class="right_text1">Welcome, {{ profile?.department?.name }}</div>
                <div class="right_text2" *ngIf="profile">{{limit(profile.first_name)}}</div>
                <div class="right_text2" *ngIf="!profile">{{limit('Unknown')}}</div>
            </div>
            <mat-icon class="category-icon identity">perm_identity</mat-icon>
        </div>
    </div>

</mat-toolbar>

<!-- dashboard  -->
<mat-toolbar class="nav5" *ngIf="type == 'tax_dashboard'">

    <button *ngIf="!hide" mat-icon-button (click)="onPublicHeaderToggleSidenav()" class="hambugger">
        <mat-icon>menu</mat-icon>
    </button>

    <div class="dashboard-text">Dashboard</div>

    <div class="spacer"></div>

    <div class="search_icon_p">
        <form class="search-form">
            <button matSuffix mat-icon-button class="form-icon">
                <mat-icon>search</mat-icon>
            </button>
            <input type="text" placeholder="Search for transaction, TaxID, Reference no., etc">
        </form>
    </div>

    <button mat-button class="example-icon">
        <mat-icon>download_for_offline</mat-icon>
        <span class="export-report">Export Reports</span>
    </button>

</mat-toolbar>



<!-- overview  -->
<div class="nav5" *ngIf="type == 'tax_dashboard2'">
    <div style="padding-top: 1rem;">
        <span class="dashboard-text2">PayE Overview</span>
        <span class="payee_note">Note: This statistic are all MDA generated only</span>
    </div>
    <mat-toolbar class="nav5">

        <button *ngIf="!hide" mat-icon-button (click)="onPublicHeaderToggleSidenav()" class="hambugger">
            <mat-icon>menu</mat-icon>
        </button>

        <div class="search_icon_p">
            <form class="search-form">
                <button matSuffix mat-icon-button class="form-icon">
                    <mat-icon>search</mat-icon>
                </button>
                <input type="text" placeholder="Search for transaction, TaxID, Reference no., etc">
            </form>
        </div>

        <div class="spacer"></div>

        <button mat-button class="example-icon">
            <mat-icon>download_for_offline</mat-icon>
            <span class="export-report">Export Reports</span>
        </button>

    </mat-toolbar>


</div>