<div class="card_p">

    <div class="card_row">

        <div class="card1">
            <div class="header">Revenue sources overview</div>

            <div class="chart">
                <div class="myChart">
                    <div class="line" [chart]="donutChart"></div>
                </div>
                <div class="chart-catalog">
                    <div><span class="catalog-payee">cc</span> PAYEE</div>
                    <div><span class="catalog-vehicle">cc</span> Vehicle</div>
                    <div><span class="catalog-direct">cc</span> Direct assessment</div>
                    <div><span class="catalog-land">cc</span> Lands</div>
                    <div><span class="catalog-other">cc</span> Other taxes</div>
                </div>
            </div>
        </div>

        <div class="card2">
            <div class="header">Revenue from LGA Overview</div>

            <div class="chart">
                <div class="myChart">
                    <div class="line" [chart]="donutChart2"></div>
                </div>
                <div class="chart-catalog">
                    <div><span class="catalog-a">cc</span> LGA A</div>
                    <div><span class="catalog-b">cc</span> LGA B</div>
                    <div><span class="catalog-c">cc</span> LGA C</div>
                    <div><span class="catalog-d">cc</span> LGA D</div>
                    <div><span class="catalog-o">cc</span> Other LGA</div>
                </div>
            </div>
        </div>

    </div>
    <div style="clear: both;"></div>
</div>