<div class="payee_wrapper">

    <div class="header">
        <div class="soft_pattern">{{ datas.company.organisation_name }}</div>
        <div class="reg_buss">Tax ID: {{ datas.company.state_tin }}</div>
    </div>

    <div class="container">
        <div class="title">Create New assessment for PAYE</div>

        <form novalidate [formGroup]="feedbackForm3" #fform3="ngForm" (ngSubmit)="onSubmit()">
            <p>
                <!-- year -->
                <span class="text">Assessment year</span>

                <mat-form-field class="half" appearance="outline">
                    <mat-label>Year</mat-label>
                    <input matInput formControlName="year" [matAutocomplete]="auto">
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                            {{option}}
                        </mat-option>
                    </mat-autocomplete>
                    <div matSuffix class="drop_down">
                        <img src="assets/images/Icon feather-calendar.svg" alt="">
                    </div>
                </mat-form-field>
            </p>
            <p>
                <!-- type -->
                <span class="text">Tax type<span style="color: #FFFFFF;">dddddd</span></span>
                <mat-form-field class="half-width" appearance="outline">
                    <mat-label>Tax type</mat-label>
                    <input matInput formControlName="typee">
                </mat-form-field>
            </p>

            <div>
                <button type="submit" mat-button class="verify">
                    <span *ngIf="!loading">Continue</span>
                    <div *ngIf="loading" class="loader">
                        <div class="bubble"></div>
                        <div class="bubble"></div>
                        <div class="bubble"></div>
                        <div class="bubble"></div>
                    </div>
                </button>
            </div>
        </form>
    </div>

</div>