<!-- Vehicle layout -->
<div class="wrapper2">
    <div class="button">
        <div class="logo_p">
            <img class="logo" [routerLink]="['/preview']" src="assets/images/gombelogo.png" alt="IRM"/>
            <button mat-icon-button (click)="onPublicHeaderToggleSidenav()" class="hambugger">
                <mat-icon>menu</mat-icon>
            </button>
        </div>

        <p class="back" (click)="payeeBack()">
            <mat-icon>keyboard_backspace</mat-icon>
            Back
        </p>

        <p class="pay_as_you_earn" [routerLink]="['/dashboard/dashboard5/vehicle']">
            Vehicle Licensing
        </p>

        <p class="dash-text2" [routerLink]="['/dashboard/dashboard5/vehicle/reg-vehicle']" routerLinkActive="active">
            Vehicle Registration
        </p>
        <p class="dash-text2" [routerLink]="['/dashboard/dashboard5/vehicle/reg-plate']" routerLinkActive="active">
            Plate number Management
        </p>
        <p class="dash-text2 owner" [routerLink]="['/dashboard/dashboard5/vehicle/change-owner']">Change Of Ownership</p>
        <p class="dash-text2" [routerLink]="['/dashboard/dashboard5/vehicle/approval']" routerLinkActive="active">
            Approval
        </p>
        <p class="dash-text2 offence" (click)="openDialog('', 'penalty')">Penalties</p>
        <p class="dash-text2" [routerLink]="['/dashboard/dashboard5/vehicle/profilling']">Vehicle Profiling</p>
        <p class="dash-text2" [routerLink]="['/dashboard/dashboard5/vehicle/bills']" routerLinkActive="active">
            Generated Bills
        </p>
    </div>

</div>
