<div class="wrapper">
    
    <div class="header">
        <button mat-button class="button" [class.active]="viewMode == 'verify'">
            Business Verification
        </button>
        <!-- (click)="viewMode = 'verify'" -->
        <button mat-button class="button" [class.active]="viewMode == 'staff-income'">
            Declare staff income
        </button>
        <button mat-button class="button" [class.active]="viewMode == 'tax-income'">
            Assess taxable income
        </button>
        <button mat-button class="button" [class.active]="viewMode == 'bill'">
            Generate payable bills
        </button>
    </div>

    <div [ngSwitch]="viewMode">
        <div *ngSwitchCase="'verify'" class="verify">

            <div class="form_header">
                <form novalidate [formGroup]="feedbackForm" #fform="ngForm" (ngSubmit)="onSubmit()">
                    <mat-form-field class="cac-width" appearance="outline">
                        <mat-label>(TIN or Reg. No)</mat-label>
                        <input matInput formControlName="tin" placeholder="">
                    </mat-form-field>
                    <button mat-button class="verify" type="submit">
                        <span  *ngIf="!loading">Verify</span>
                        <div *ngIf="loading" class="loader">
                            <div class="bubble"></div>
                            <div class="bubble"></div>
                            <div class="bubble"></div>
                            <div class="bubble"></div>
                        </div>
                    </button>

                </form>
            </div>    
            
            <mat-toolbar class="header2">
                <div class="indcom">
                    List of Taxable Businesses
                </div>
                <div class="spacer"></div>
                <div class="search_icon_p">
                    <form class="search-form" novalidate [formGroup]="SearchForm" #fformsearch="ngForm">
                        <input matInput formControlName="search" type="text" class="input" >
                    </form>
                    <mat-icon class="search_icon">search</mat-icon>
                </div>
            </mat-toolbar>


            <div class="table-container">
                <div class="table-responsive">
                    <table datatable [dtOptions]="dtOptions" class="row-border table table-striped table-hover table-borderless">
                        <thead>
                        <tr>
                            <th>S/N</th>
                            <th>Tax ID</th>
                            <th>Business name</th>
                            <th>Date of Establishment</th>
                            <th>Contact Person</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <!-- individual -->
                        <tbody *ngIf="datas?.length != 0">
                            <tr *ngFor="let data of datas; let i=index">
                                <td class="align-middle">{{i+1}}</td>
                                <td class="align-middle">{{ data.payer.tin }}</td>
                                <td class="align-middle">{{ data.organisation_name }}</td>
                                <td class="align-middle">{{ data.payer.created_at | date:'yyyy-MM-dd' }}</td>
                                <td class="align-middle">{{ data.org_phone }}</td>
                                <td class="align-middle">
                                    <mat-icon class="table-icon" (click)="OpenDialog(data, 'payee')">open_with</mat-icon>
                                </td>
                                <td class="align-middle">
                                    <mat-icon (click)="OpenDialog(data, 'delete-payer')" class="table-icon-delete">delete_forever</mat-icon>
                                </td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="datas?.length == 0">
                            <tr>
                                <td colspan="3" class="no-data-available">No data!</td>
                                <td colspan="3" class="no-data-available">No data!</td>
                                <td colspan="3" class="no-data-available">No data!</td>
                                <td colspan="3" class="no-data-available">No data!</td>
                                <td colspan="3" class="no-data-available">No data!</td>
                                <td colspan="3" class="no-data-available">No data!</td>
                                <td colspan="3" class="no-data-available">No data!</td>
                            </tr>
                        </tbody>

                        <div *ngIf="isLoading" class="loader loading">
                            <div class="bubble"></div>
                            <div class="bubble"></div>
                            <div class="bubble"></div>
                            <div class="bubble"></div>
                        </div>

                        <button mat-raised-button *ngIf="datas?.length == 0" class="reload" (click)="Reload()">
                            <span *ngIf="!is_reload">RELOAD</span>
                            <div *ngIf="is_reload" class="loader">
                                <div class="bubble"></div>
                                <div class="bubble"></div>
                                <div class="bubble"></div>
                                <div class="bubble"></div>
                            </div>
                        </button>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div [ngSwitch]="viewMode">
        <div *ngSwitchCase="'staff-income'" class="staff-income">
            <app-staff-income></app-staff-income>
        </div>
    </div>

    <div [ngSwitch]="viewMode">
        <div *ngSwitchCase="'tax-income'" class="tax-income">
            <app-tax-income></app-tax-income>
        </div>
    </div>

    <div [ngSwitch]="viewMode">
        <div *ngSwitchCase="'bill'" class="bill">
            <app-payee-bills></app-payee-bills>
        </div>
    </div>
    
    
</div>
    
    