<div class="main">
    <!-- left -->
    <div class="left">
        <img class="left-image" src="assets/images/login_left.svg" alt="IRM">
        <p class="ttc">Track, Trace, Collect.</p>
    </div>

    <!-- right -->
    <div class="right">
        <div class="right-main">
                <div class="right_green_login">
                    <div class="ad_ac_log">Admin Access Login</div>
                </div>
                <div class="right_white_login"></div>
        </div>
    </div>
</div>