<div class="wrapper2">
    <div class="button">
        <div class="logo_p">
            <img class="logo" [routerLink]="['/preview']" src="assets/images/gombelogo.png" alt="IRM"/>
            <button mat-icon-button (click)="onPublicHeaderToggleSidenav()" class="hambugger">
                <mat-icon>menu</mat-icon>
            </button>
        </div>

        <p class="back" (click)="payeeBack()">
            <mat-icon>keyboard_backspace</mat-icon>
            Back
        </p>

        <p class="pay_as_you_earn" [routerLink]="['/dashboard/dashboard3/taxpayer/payee']">
            Pay as you Earn
        </p>

        <div *ngIf="payee_type == 'payee'">
            <p class="dash-text2" [routerLink]="['/dashboard/dashboard3/taxpayer/payee/assessment']" routerLinkActive="active">
                Create new Assessment
            </p>
            <p class="dash-text2" [routerLink]="['/dashboard/dashboard3/taxpayer/payee/lists']" routerLinkActive="active">
                Assessment History
            </p>
            <p class="dash-text2" [routerLink]="['/dashboard/dashboard3/taxpayer/payee/bill']" routerLinkActive="active">
                Generated Bills
            </p>
            <p class="dash-text2">Process TCC</p>
            <p class="dash-text2" [routerLink]="['/dashboard/dashboard3/taxpayer/payee/manage']" routerLinkActive="active">
                Employees Annual Schedules
            </p>
            <p class="dash-text2" [routerLink]="['/dashboard/dashboard3/taxpayer/payee/business-list']">
                Re-Choose Taxable Business
            </p>
        </div>

        <div *ngIf="payee_type !== 'payee'">
            <p class="dash-text" [routerLink]="['/dashboard/dashboard3/taxpayer/payee/business-list']" routerLinkActive="active">
                All registered Business
            </p>
            <p class="dash-text2">All transaction</p>
            <p class="dash-text2">PAYE Report</p>
        </div>

    </div>
</div>
