<div class="generate-dialog" *ngIf="data.type === 'generate_bill'">

    <div mat-dialog-content class="print-section" id="print-section">
        <div>
            <div class="gen_logo_p">
                <img class="logo" src="assets/images/gombelogo.png" alt="IRM"/>
            </div>

            <div class="generate_container">

                <div class="gen-left-container" style="margin-bottom: 1.5rem;">
                    <div class="generate_left">
                         <div class="tin">GTin: {{ data.data.payer.state_tin }}</div>
                        <div class="tin">Taxpayer Name: {{ data.data.payer.taxpayer_name }}</div>
                        <div class="tin">Revenue office: {{ data.data.payer.location.name }}</div>
                        <div class="tin">Date of assessment {{ data.data.assessment.created_at | date:"medium" }}</div>
                        <div class="tin">Assessment period: {{ data.data.assessment.assessment_year}}</div>
                    </div>

                    <div class="generate_center">
                        <div class="tin" style="text-transform: uppercase;">
                            Assessment Type: {{ data.data.assessment.assess_type}}
                        </div>
                        <div class="tin">Assessment No. {{ data.data.assessment.id}}</div>
                        <div class="tin">Bill No.. {{ data.data.bill_code }}</div>
                        <div class="tin">Bill Staus: 
                            <span *ngIf="data.data.bill_status" class="gen-success">Paid</span>
                            <span *ngIf="!data.data.bill_status" class="gen-failed">Not-paid</span>
                        </div>
                    </div>

                    <div class="generate_center">
                        <qr-code value="{{data.data.bill_code}}"
                            size="150"
                            errorCorrectionLevel="H"
                            centerImageSrc="undefined"
                            centerImageSize="undefined">
                        </qr-code>
                    </div>

                    <div style="clear: both;"></div>
                </div>

                <div class="gen_table">
                    <div class="column">
                        <div class="column1">
                            <div class="employee-salary">Description</div>
                            <div class="left_right">
                                <div class="left">
                                    <div class="title">Assessment Period</div>
                                    <div class="title">Tax Type</div>
                                    <div class="title">No. Of employee</div>
                                    <div class="title">Currency</div>
                                    <div class="title">Date of assessment</div>
                                    <div class="title">Total Taxable Income</div>
                                    <div class="title2">TOTAL PAYE PAYABLE</div>
                                </div>
                            </div>
                        </div>

                        <div class="column2">
                            <div class="deduction">Amount</div>
                            <div class="left_right">
                                <div class="left2">
                                    <div class="title">{{ data.data.assessment.assessment_month }}</div>
                                    <div class="title" style="text-transform: uppercase;">
                                        {{ data.data.assessment.assess_type }}
                                    </div>
                                    <div class="title">{{ data.data.assessment.employee_total }}</div>
                                    <div class="title">NGN</div>
                                    <div class="title">{{ data.data.assessment.created_at | date:"medium" }}</div>
                                    <div class="title">NGN {{ formatMoney(data.data.assessment.assessment_total || 0) }}</div>
                                    <div class="title">NGN {{ formatMoney(data.data.bill_total || 0) }}</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div style="clear: both;"></div>

                </div>
            </div>

            <div class="card-actions">

                <div class="note">NOTE : generated assessment will expire in 48 Hours (14/11/2018, 9:30am),
                    payment can be paid using payment mobile App or use payment Platform.
                </div>
    
                <div class="print_p">
                    <button mat-button class="print" [useExistingCss]="true" printSectionId="print-section" ngxPrint>
                        <img src="assets/images/Page-1.svg" alt="">
                        print
                    </button>
                    <button mat-button class="print">
                        <img src="assets/images/Iconmaterial-payment.svg" alt="">
                        pay now
                    </button>
                    <button mat-button class="print" mat-dialog-close>
                        <i class="fa fa-times fa-lg" aria-hidden="true"></i>
                        Close
                    </button>
                    <button mat-button class="print_delete" (click)="deleteBill()">
                        <i *ngIf="!isdelete" class="fa fa-trash-o fa-lg" aria-hidden="true"></i>
                        <span *ngIf="!isdelete"> Delete</span>
                        <i *ngIf="isdelete" class="fa fa-circle-o-notch fa-lg loader-spin" aria-hidden="true"></i>
                    </button>
                </div>
    
            </div>

        </div>
    </div>
</div>


<!-- generate notice bill -->
<div class="notice-generate_bill" mat-dialog-content *ngIf="data.type === 'gen-bill'" id="printSeaction">
    <div class="notice-gen_logo">
        <img class="notice-logo" src="assets/images/gombelogo.png" alt="IRM"/>
    </div>
    <div class="notice-header">
        <div>
            <div class="notice-title">GTIN: {{ data.data.payer.state_tin }}</div>
            <div class="notice-title">Taxpayer Name: {{ data.data.payer.taxpayer_name }}</div>
            <div class="notice-title">Address: {{ data.data.payer.address }}</div>
        </div>
        <div>
            <div class="notice-title">Revenue office: {{ data.data.payer.location.name }}</div>
            <div class="notice-title">Date of assessment: {{ data.data.assessment.assessment_date | date:"medium" }}</div>
            <div class="notice-title">Assessment period: {{ data.data.assessment.assessment_year }}</div>
        </div>
    </div>

    <div class="notice-header2">
        <div class="notice-header2-title">Notice Assessment</div>
        <div class="notice-header2-body">
            These notice explain the result of our Assessment of your person income return.
             We have calculated your Total tax due And you can find the result below
        </div>
    </div>

    <div class="notice-header3">
        <div class="notice-thankyou">Thank you</div>
        <div class="notice-thankyou">Mallam TATA</div>
        <div class="notice-thankyou">Director of revenue</div>
    </div>

    <div class="notice-header4">Summary of Assessment</div>
    <div class="notice-column">
        <div class="column1">
            <div class="left_right">
                <div class="left">
                    <div class="titlec">Assessment Period</div>
                    <div class="titlec">Tax Type</div>
                    <div class="titlec">No. Of employee</div>
                    <div class="titlec">Currency</div>
                    <div class="titlec">Date of assessment</div>
                    <div class="titlec">Total Taxable Income</div>
                    <div class="title2">TOTAL Tax Due</div>
                </div>
            </div>

        </div>

        <div class="column2">
            <div class="left_right">
                <div class="left2">
                    <div class="titlec">{{ data.data.assessment.assessment_month }}</div>
                    <div class="titlec" style="text-transform: uppercase;">{{ data.data.da_type }}</div>
                    <div class="titlec">{{ data.data.assessment.employee_total }}</div>
                    <div class="titlec">NGN</div>
                    <div class="titlec">{{ data.data.assessment.assessment_date | date:"medium" }}</div>
                    <div class="titlec">NGN {{ formatMoney(data.data.assessment.assessment_total || 0) }}</div>
                    <div class="titlec">NGN {{ formatMoney(data.data.assessment.assessment_total || 0) }}</div>
                </div>
            </div>
        </div>

        <div style="clear: both;"></div>
    </div>

    <div class="card-actions">
        <div class="notice-print_p">
            <button mat-button class="notice-print" [useExistingCss]="true" printSectionId="printSeaction" ngxPrint>
                <img src="assets/images/Page-1.svg" alt="">
                print
            </button>
            <!-- <button mat-button class="notice-print">
                <img src="assets/images/Iconmaterial-payment.svg" alt="">
                pay now
            </button> -->
        </div>
    </div>

</div>


<!-- Manual upload layout -->
<div class="manual_file-dialog" *ngIf="data.type === 'manual' || data.type === 'manual2' ">
    <div class="upload_cancel_button">
        <button mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <div mat-dialog-content class="manual_container">

        <div>
            <div class="manual_filling" *ngIf="data.type === 'manual'">Self Assessment</div>
            <div class="manual_filling" *ngIf="data.type === 'manual2'">Best of judgment Assessment</div>
            <div class="manual_verify">Kindly verify the employee GTin before you proceed</div>

            <form [formGroup]="manualForm" class="manual_form">

                <mat-form-field class="half-width" appearance="outline">
                    <mat-label>GTIN</mat-label>
                    <input matInput formControlName="tin">
                </mat-form-field>

                <div>
                    <button mat-button class="upload_continue" (click)="checkTin()">
                            <span *ngIf="!loading">Continue</span>
                            <div *ngIf="loading" class="loader">
                                <div class="bubble"></div>
                                <div class="bubble"></div>
                                <div class="bubble"></div>
                                <div class="bubble"></div>
                            </div>
                    </button>
                </div>
            </form>
            <div *ngIf="errorMsg" class="self-error">{{ errorMsg }}</div>
        </div>
    </div>
</div>


<!-- Check Status layout -->
<div class="manual_file-dialog" *ngIf="data.type === 'check_status' ">
    <div class="upload_cancel_button">
        <button mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <div class="com_name">{{ data.data.payer.taxpayer_name }}</div>
    <div class="tin" style="margin-top: 5px;">TIN: {{ data.data.payer.state_tin }}</div>
    <div class="reg_buss">Registered Taxpayer</div>

    <div mat-dialog-content class="deduction_container">

        <!-- deductions -->
        <div class="deduction_header">Deductions</div>
        <div class="deduction_p" *ngFor="let d of d_document;">
            <div class="deduction-text">{{d.name}}</div>
            <div class="deduction-text">{{formatMoney(d.amount || 0)}}</div>
            <div class="deduction_view" (click)="openDialog(d.doc, 'view_image')">View Doc</div>
        </div>

        <!-- income -->
        <div class="deduction_header">Income</div>
        <div class="deduction_p" *ngFor="let d of i_document;">
            <div class="deduction-text">{{d.name}}</div>
            <div class="deduction-text">{{formatMoney(d.amount || 0)}}</div>
            <div class="deduction_view" (click)="openDialog(d.doc, 'view_image')">View Doc</div>
        </div>
    </div>
</div>


<!-- View image -->

<div class="manual_file-dialog" *ngIf="data.type === 'view_image' ">
    <div class="upload_cancel_button">
        <button mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <ngx-doc-viewer
        url="{{displayImage(data.data)}}"
        viewer="url"
        class="deduction_image"
        >
    </ngx-doc-viewer>
</div>


<!-- success dialog box -->
<div class="direct-success" *ngIf="data.type === 'success' ">
    <div class="direct-success2">
        <img src="assets/images/Iconfeather-check-circle.svg" alt="">
        <div class="direct-success-submitted">Self assessment is successfully Submitted</div>
        <div>
            <button mat-button class="success-continue" mat-dialog-close>Continue</button>
        </div>
    </div>
</div>


<!-- Verify Bill -->
<div class="manual_file-dialog" *ngIf="data.type === 'verify-bill' ">
    <div class="upload_cancel_button">
        <button mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <div mat-dialog-content class="manual_container">

        <div>
            <div class="manual_filling">Verify Bill</div>
            <div class="manual_verify">Input Bill Reference to continue</div>

            <form [formGroup]="manualForm" class="manual_form">

                <mat-form-field class="half-width" appearance="outline">
                    <mat-label>Bill Reference</mat-label>
                    <input matInput formControlName="tin">
                </mat-form-field>

                <div>
                    <button mat-button class="upload_continue" type="submit">
                            <span *ngIf="!loading">Continue</span>
                            <div *ngIf="loading" class="loader">
                                <div class="bubble"></div>
                                <div class="bubble"></div>
                                <div class="bubble"></div>
                                <div class="bubble"></div>
                            </div>
                    </button>
                </div>
            </form>
            <div *ngIf="errorMsg" class="self-error">{{ errorMsg }}</div>
        </div>
    </div>
</div>
