<div class="generate-dialog" *ngIf="data.type =='generate_bill'">

    <div mat-dialog-content class="print-section" id="print-section">

        <div>

            <div class="gen_logo_p">
                <img class="logo" src="assets/images/gombelogo.png" alt="IRM"/>
            </div>

            <div class="generate_container">

                <div class="gen-left-container" style="margin-bottom: 1.5rem;">
                    <div class="generate_left">
                        <div class="tin">GTin: 3444</div>
                        <div class="tin">Taxpayer Name: 4333443</div>
                        <div class="tin">Revenue office: 4434343</div>
                        <div class="tin">Date of assessment 44334</div>
                        <div class="tin">Assessment period: 434343</div>
                    </div>

                    <div class="generate_center">
                        <div class="tin" style="text-transform: uppercase;">
                            Assessment Type: 34434
                        </div>
                        <div class="tin">Assessment No. 4344334</div>
                        <div class="tin">Bill No.. 43343344</div>
                        <div class="tin">Bill Staus: 
                            <span class="gen-success">Paid</span>
                            <span class="gen-failed">Not-paid</span>
                        </div>
                    </div>

                    <div class="generate_center">
                        <qr-code value="ewewwe"
                            size="150"
                            errorCorrectionLevel="H"
                            centerImageSrc="undefined"
                            centerImageSize="undefined">
                        </qr-code>
                    </div>

                    <div style="clear: both;"></div>

                </div>

                <div class="gen_table">
                    <div class="column">
                        <div class="column1">
                            <div class="employee-salary">Description</div>
                            <div class="left_right">
                                <div class="left">
                                    <div class="title">Assessment Period</div>
                                    <div class="title">Tax Type</div>
                                    <div class="title">No. Of employee</div>
                                    <div class="title">Currency</div>
                                    <div class="title">Date of assessment</div>
                                    <div class="title">Total Taxable Income</div>
                                    <div class="title2">TOTAL PAYE PAYABLE</div>
                                </div>
                            </div>

                        </div>

                        <div class="column2">
                            <div class="deduction">Amount</div>
                            <div class="left_right">
                                <div class="left2">
                                    <div class="title">ewewwee</div>
                                    <div class="title" style="text-transform: uppercase;">
                                        eweee
                                    </div>
                                    <div class="title">ewwewe</div>
                                    <div class="title">NGN</div>
                                    <div class="title">wewewew</div>
                                    <div class="title">NGN ewewew</div>
                                    <div class="title">NGN eeweew</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div style="clear: both;"></div>

                </div>
            </div>

            <div class="card-actions">

                <div class="note">NOTE : generated assessment will expire in 48 Hours (14/11/2018, 9:30am),
                    payment can be paid using payment mobile App or use payment Platform.
                </div>
    
                <div class="print_p">
                    <button mat-button class="print" [useExistingCss]="true" printSectionId="print-section" ngxPrint>
                        <img src="assets/images/Page-1.svg" alt="">
                        print
                    </button>
                    <button mat-button class="print">
                        <img src="assets/images/Iconmaterial-payment.svg" alt="">
                        pay now
                    </button>
                </div>
    
            </div>

        </div>
    </div>
</div>


<!-- generate notice bill -->

<div class="notice-generate_bill" mat-dialog-content *ngIf="data.type == 'gen-bill'" id="printSeaction">
    <div class="notice-gen_logo">
        <img class="notice-logo" src="assets/images/gombelogo.png" alt="IRM"/>
    </div>
    <div class="notice-header">
        <div>
            <div class="notice-title">GTIN: {{ data.data.payer.state_tin }}</div>
            <div class="notice-title">Taxpayer Name: {{ data.data.payer.taxpayer_name }}</div>
            <div class="notice-title">Address: {{ data.data.payer.address }}</div>
        </div>
        <div>
            <div class="notice-title">Revenue office: {{ data.data.payer.location.name }}</div>
            <div class="notice-title">Date of assessment: {{ data.data.assessment.assessment_date | date:"medium" }}</div>
            <div class="notice-title">Assessment period: {{ data.data.assessment.assessment_year }}</div>
        </div>
    </div>

    <div class="notice-header2">
        <div class="notice-header2-title">Notice Assessment</div>
        <div class="notice-header2-body">
            These notice explain the result of our Assessment of your person income return.
             We have calculated your Total tax due And you can find the result below
        </div>
    </div>

    <div class="notice-header3">
        <div class="notice-thankyou">Thank you</div>
        <div class="notice-thankyou">Mallam TATA</div>
        <div class="notice-thankyou">Director of revenue</div>
    </div>

    <div class="notice-header4">Summary of Assessment</div>
    <div class="notice-column">
        <div class="column1">
            <div class="left_right">
                <div class="left">
                    <div class="titlec">Assessment Period</div>
                    <div class="titlec">Tax Type</div>
                    <div class="titlec">No. Of employee</div>
                    <div class="titlec">Currency</div>
                    <div class="titlec">Date of assessment</div>
                    <div class="titlec">Total Taxable Income</div>
                    <div class="title2">TOTAL Tax Due</div>
                </div>
            </div>

        </div>

        <div class="column2">
            <div class="left_right">
                <div class="left2">
                    <div class="titlec">{{ data.data.assessment.assessment_month }}</div>
                    <div class="titlec" style="text-transform: uppercase;">{{ data.data.da_type }}</div>
                    <div class="titlec">{{ data.data.assessment.employee_total }}</div>
                    <div class="titlec">NGN</div>
                    <div class="titlec">{{ data.data.assessment.assessment_date | date:"medium" }}</div>
                    <div class="titlec">NGN {{ formatMoney(data.data.assessment.assessment_total || 0) }}</div>
                    <div class="titlec">NGN {{ formatMoney(data.data.assessment.assessment_total || 0) }}</div>
                </div>
            </div>
        </div>

        <div style="clear: both;"></div>

    </div>

    <div class="card-actions">
        <div class="notice-print_p">
            <button mat-button class="notice-print" [useExistingCss]="true" printSectionId="printSeaction" ngxPrint>
                <img src="assets/images/Page-1.svg" alt="">
                print
            </button>
            <!-- <button mat-button class="notice-print">
                <img src="assets/images/Iconmaterial-payment.svg" alt="">
                pay now
            </button> -->
        </div>
    </div>

</div>


<!-- Manual upload layout -->

<div class="manual_file-dialog" *ngIf="data.type == 'manual' ">
    <div class="upload_cancel_button">
        <button mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <div mat-dialog-content class="manual_container">

        <div>
            <div class="manual_filling">Self Assessment</div>
            <div class="manual_verify">Kindly verify the employee GTin before you proceed</div>

            <form [formGroup]="manualForm" class="manual_form">

                <mat-form-field class="half-width" appearance="outline">
                    <mat-label>GTIN</mat-label>
                    <input matInput formControlName="tin">
                </mat-form-field>

                <div>
                    <button mat-button class="upload_continue" (click)="checkTin()">
                            <span *ngIf="!loading">Continue</span>
                            <div *ngIf="loading" class="loader">
                                <div class="bubble"></div>
                                <div class="bubble"></div>
                                <div class="bubble"></div>
                                <div class="bubble"></div>
                            </div>
                    </button>
                </div>
            </form>

            <div *ngIf="errorMsg" class="self-error">{{ errorMsg }}</div>

        </div>

    </div>

</div>


<!-- Check Status layout -->

<div class="manual_file-dialog" *ngIf="data.type == 'check_status' ">
    <div class="upload_cancel_button">
        <button mat-icon-button mat-dialog-close [routerLink]="['/dashboard/dashboard5/direct/history']">
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <div class="com_name">Matthew Adeboye</div>
    <div class="tin" style="margin-top: 5px;">TIN: IRM1244325</div>
    <div class="reg_buss">Registered Taxpayer</div>

    <div mat-dialog-content class="manual_container">

        <div>
            <div class="manual_filling2">Self Direct Assessment</div>

            <form [formGroup]="manualForm" class="manual_form">

                <div class="check_status_status">
                    Your self assessment is Pending Approval
                </div>

                <div style="text-align: center;">
                    <button mat-button class="upload_continue" [routerLink]="['/dashboard/dashboard5/direct/history']" mat-dialog-close>Check Status</button>
                </div>

            </form>
        </div>

    </div>

</div>

<!-- success dialog box -->

<div class="direct-success" *ngIf="data.type == 'success' ">
   
    <div class="direct-success2">

        <img src="assets/images/Iconfeather-check-circle.svg" alt="">

        <div class="direct-success-submitted">Self assessment is successfully Submitted</div>

        <div>
            <button mat-button class="success-continue" mat-dialog-close>Continue</button>
        </div>

    </div>

</div>


<!-- Verify Bill -->

<div class="manual_file-dialog" *ngIf="data.type == 'verify-bill' ">
    <div class="upload_cancel_button">
        <button mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <div mat-dialog-content class="manual_container">

        <div>
            <div class="manual_filling">Verify Bill</div>
            <div class="manual_verify">Input Bill Reference to continue</div>

            <form [formGroup]="manualForm" class="manual_form">

                <mat-form-field class="half-width" appearance="outline">
                    <mat-label>Bill Reference</mat-label>
                    <input matInput formControlName="tin">
                </mat-form-field>

                <div>
                    <button mat-button class="upload_continue">
                            <span *ngIf="!loading">Continue</span>
                            <div *ngIf="loading" class="loader">
                                <div class="bubble"></div>
                                <div class="bubble"></div>
                                <div class="bubble"></div>
                                <div class="bubble"></div>
                            </div>
                    </button>
                </div>
            </form>

            <div *ngIf="errorMsg" class="self-error">{{ errorMsg }}</div>

        </div>

    </div>

</div>
