$header-color: 1px solid #42A845;
$header-back: rgba(62,95,168,0.05);
$ind-back: #FFFFFF 0% 0% no-repeat padding-box;
$white: #FFFFFF;
$ind-border: 1px solid #45A841;
$ind-font: normal normal normal 12px/15px Montserrat;
$ind-color: #565656;
$create-back: transparent linear-gradient(180deg, #3E5FA8 0%, #2AA977 100%) 0% 0% no-repeat padding-box;
$active-back: #387499 0% 0% no-repeat padding-box;

.header {
    background: $header-back;
    padding: 1em;
    margin-top: 1rem;
    width: 90%;

    @mixin theme($back, $color, $font, $border) {
        letter-spacing: 0px;
        font: $font;
        background: $back;
        border-radius: unset;
        border: $border;
        color: $color;
        opacity: 1;
        padding: 1rem;
    }

    .active {
        background: $active-back !important;
        border: $ind-border !important;
        color: $white !important;
        opacity: 1 !important;
    }

    .individual {
        @include theme($back: $ind-back, $color: $ind-color, $font: $ind-font, $border: $ind-border);
    }

    .individual2 {
        margin-left: 10px;
        @include theme($back: $ind-back, $color: $ind-color, $font: $ind-font, $border: $ind-border);
    }

    .create {
        float: right;
        width: 150px;
        @include theme($back: $create-back, $color: $white, $font: $ind-font, $border: unset);
    }

}