@import "~bootstrap/dist/css/bootstrap.css";

$header-color: 1px solid #42A845;
$header-back: rgba(62,95,168,0.05);
$header-back2: #FFFFFF 0% 0% no-repeat padding-box;
$ind-back: #FFFFFF 0% 0% no-repeat padding-box;
$white: #FFFFFF;
$ind-border: 1px solid #45A841;
$ind-font: normal normal normal 12px/15px Montserrat;
$ind-color: #565656;
$create-back: transparent linear-gradient(180deg, #3E5FA8 0%, #2AA977 100%) 0% 0% no-repeat padding-box;
$active-back: #387499 0% 0% no-repeat padding-box;
$panel-text: normal normal medium 12px/15px Montserrat;
$panel-color: #3C66A3;
$icon-color: #45669E;
$wrapper-back: #F5F7FA;
$thead: #FFFFFF 0% 0% no-repeat padding-box;
$thead-text: normal normal normal 12px/15px Montserrat;
$thead-text-color: #3C66A3;
$tbody-back: normal normal normal 15px/19px Montserrat;
$tbody-color: #565656;
$animate-form: 0.5px solid #37A85D;

.wrapper {
    background: $wrapper-back;
    overflow: auto;
    min-height: 100vh;
}

.header {
    background: $header-back;
    padding: 1em;
    margin-top: 1rem;
    width: 90%;

    @mixin theme($back, $color, $font, $border) {
        letter-spacing: 0px;
        font: $font;
        background: $back;
        border-radius: unset;
        border: $border;
        color: $color;
        opacity: 1;
        padding: 1rem;
    }

    .active {
        background: $active-back !important;
        border: $ind-border !important;
        color: $white !important;
        opacity: 1 !important;
    }

    .individual {
        @include theme($back: $ind-back, $color: $ind-color, $font: $ind-font, $border: $ind-border);
    }

    .individual2 {
        margin-left: 10px;
        @include theme($back: $ind-back, $color: $ind-color, $font: $ind-font, $border: $ind-border);
    }

    .create {
        float: right;
        width: 150px;
        @include theme($back: $create-back, $color: $white, $font: $ind-font, $border: unset);
    }

}


.header2 {
    background: $header-back2;
    padding: 1.5rem 1rem 1.5rem 1rem;
    margin-top: 1rem;
    width: 90%;

    .indcom {
        font: $panel-text;
        letter-spacing: 0px;
        color: $panel-color;
        font-weight: 500;
        
    }

    .search_icon_p {
        float: right;
        display: flex;
        justify-content: right;
        align-items: right;
    }

    .search-form {
        margin-right: 20px;
        vertical-align: top;
    }
    
    input[type=text] {
        background: $white;
        border: $animate-form;
        box-sizing: border-box;
        border-radius: 10px;
        height: 40px;
        width: 200px;
        font: $tbody-back;
        padding-left: 15px;
        // -webkit-transition: width 0.4s ease-in-out;
        // transition: width 0.4s ease-in-out;
      }
    
     [type="text"]:focus {
        outline: none;
     } 

    .search_icon {
        font-size: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $icon-color;
        cursor: pointer;
    }

}

.table-container {
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 90%;

    table {
        border: none;
        margin-bottom: 1rem;
    }

    thead {
        border: none;
    }

    thead tr {
        background: $thead;
        text-align: left;
        font: $thead-text;
        letter-spacing: 0px;
        color: $thead-text-color;
    }

    tbody tr {
        font: $tbody-back;
        letter-spacing: 0px;
        color: $tbody-color;
    }

    tr th {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }

    .table-icon {
        color: $panel-color;
    }

    ::ng-deep .dataTables_wrapper .dataTables_filter {
        display: none;
    }

    ::ng-deep .dataTables_wrapper .dataTables_paginate .paginate_button.current {
        color: $white !important;
        background: $create-back !important;
        border: unset;
    }

    ::ng-deep .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
        color: $white !important;
        background: $create-back !important;
        border: unset;
    }

    ::ng-deep table.dataTable thead .sorting {
        background-image: unset;
    }

    ::ng-deep table.dataTable thead .sorting_asc {
        background-image: unset !important;
    }

    ::ng-deep .table-striped > tbody > tr:nth-of-type(odd) {
        background: $header-back;
    }

    ::ng-deep .table-striped:hover > tbody:hover > tr:nth-of-type(even):hover {
        background: $wrapper-back !important;
    }

    ::ng-deep .dataTables_wrapper .dataTables_length select {
        border: $ind-border;
        font: $tbody-back;
    }

    ::ng-deep .dataTables_wrapper .dataTables_length label {
        color: $tbody-color;
        font: $tbody-back;
    }

}


