.delete-wrapper {
    width: 15rem;
}

.align-delete-payer {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.delete-payer-text {
  font: normal normal normal 15px/19px Montserrat;
  margin-top: 10px;
  text-align: center;
}

.delete-payer-tin {
  font: normal normal normal 15px/19px Montserrat;
  font-weight: 500;
}

.cancel-payer-button {
  background: #f1f1f1;
  color: black;
  font: normal normal normal 15px/19px Montserrat;
  padding: 0.7rem;
  border-radius: 10px;
}

.delete-payer-button {
  background: #bc333e;
  font: normal normal normal 15px/19px Montserrat;
  color: white;
  padding: 0.7rem;
  border-radius: 10px;
}

.activate-payer-button {
  background: #47a83e;
  font: normal normal normal 15px/19px Montserrat;
  color: white;
  padding: 0.7rem;
  border-radius: 10px;
}

.loader_delete {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em 0 0.5em 0;
}

.bubble_delete {
  animation: expand 0.75s ease-in-out infinite;
  border-radius: 20px;
  display: inline-block;
  transform-origin: center center;
  margin: 0 3px;
  width: 7px;
  height: 7px;
}

.bubble_delete:nth-child(1) {
  background: white;
}

.bubble_delete:nth-child(2) {
  animation-delay: 180ms;
  background: white;
}

.bubble_delete:nth-child(3) {
  animation-delay: 360ms;
  background: white;
}

.bubble_delete:nth-child(4) {
  animation-delay: 540ms;
  background: white;
}

@keyframes expand {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.55);
  }
}


/* add department */

.department {
    padding: 2rem 4rem;
}

.create-department {
    font: normal normal normal 20px/24px Montserrat;
    font-weight: 500;
    letter-spacing: 0px;
    color: #565656;
    opacity: 1;
    text-align: center;
    margin-bottom: 2rem;
}

::ng-deep .mat-select-arrow {
  color: #37a85d;
  opacity: 1;
}

.full-width {
  width: 400px;
}

.final_submit {
  margin: 2rem;
  text-align: left;
}

mat-error {
  text-transform: capitalize;
  font: normal normal normal 12px/20px Montserrat;
  transition: all 0.5s;
}

mat-label {
  text-transform: capitalize;
  font-weight: 550;
  font: normal normal normal 14px/20px Montserrat;
}

mat-form-field {
  color: 1px solid #37a85d !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #37a85d !important;
}

::ng-deep
  .mat-form-field-appearance-outline.mat-focused
  .mat-form-field-outline-thick {
  color: #37a85d !important;
}

::ng-deep .mat-input-element {
  caret-color: #37a85d !important;
}

::ng-deep .mat-form-field-label {
  color: #565656 !important;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #565656 !important;
}

.edit {
  background: transparent linear-gradient(150deg, #3e5fa8 0%, #2aa977 100%) 0%
    0% no-repeat padding-box;
  border-radius: 10px;
  padding: 0.7rem;
  width: 7rem;
  opacity: 1;
  font: normal normal normal 14px/19px Montserrat;
  letter-spacing: 0px;
  color: #ffffff;
}

.edit2 {
  margin-left: 1rem;
  background: #ffffff;
  border-radius: 10px;
  padding: 0.7rem;
  border: 1px solid #3e5fa8;
  width: 7rem;
  opacity: 1;
  font: normal normal normal 14px/19px Montserrat;
  letter-spacing: 0px;
  color: #3b6d9f;
}

