<mat-toolbar class="nav" *ngIf="type == 'tax'">

    <div class="left">
        <div class="left_text1">{{left_text1}}</div>
        <div class="left_text2">{{left_text2}}</div>
    </div>

    <span class="spacer"></span>   

    <div class="d-h-l">
        <div class="category">
            <div>
                <div class="right_text1" *ngIf="profile?.is_staff">Welcome, Admin</div>
                <div class="right_text1" *ngIf="!profile?.is_staff">Welcome</div>
                <div class="right_text2" *ngIf="profile">{{limit(profile.username)}}</div>
                <div class="right_text2" *ngIf="!profile">{{limit('Unknown')}}</div>
            </div>
            <mat-icon class="category-icon">perm_identity</mat-icon>
        </div>
    </div>    
  
</mat-toolbar>

<!-- nav2 -->
<mat-toolbar class="nav2" *ngIf="type == 'reg_tax'">

    <div class="left">
        <div class="left_text1">{{left_text1}}</div>
        <div class="left_text2">{{left_text2}}</div>
    </div>

    <span class="spacer"></span>   

    <div class="d-h-l">
        <div class="category">
            <div>
                <div class="right_text1" *ngIf="profile?.is_staff">Welcome, Admin</div>
                <div class="right_text1" *ngIf="!profile?.is_staff">Welcome</div>
                <div class="right_text2" *ngIf="profile">{{limit(profile.username)}}</div>
                <div class="right_text2" *ngIf="!profile">{{limit('Unknown')}}</div>
            </div>
            <mat-icon class="category-icon">perm_identity</mat-icon>
        </div>
    </div>    
  
</mat-toolbar>


<!-- nav3 -->
<mat-toolbar class="nav3" *ngIf="type == 'payee'">

    <div class="left">
        <div class="left_text1">{{left_text1}}</div>
        <div class="left_text2">{{left_text2}}</div>
    </div>
  
</mat-toolbar>


<!-- nav4 -->
<mat-toolbar class="nav4" *ngIf="type == 'mda'">

    <div class="left">
        <div class="left_text1">{{left_text1}}</div>
        <div class="left_text2">{{left_text2}}</div>
    </div>

    <span class="spacer"></span>   

    <div class="d-h-l">
        <div class="category">
            <div>
                <div class="right_text1" *ngIf="profile?.is_staff">Welcome, Admin</div>
                <div class="right_text1" *ngIf="!profile?.is_staff">Welcome</div>
                <div class="right_text2" *ngIf="profile">{{limit(profile.username)}}</div>
                <div class="right_text2" *ngIf="!profile">{{limit('Unknown')}}</div>
            </div>
            <mat-icon class="category-icon">perm_identity</mat-icon>
        </div>
    </div>    
  
</mat-toolbar>