<mat-toolbar class="nav">

    <div class="left">
        <div class="left_text1">dsss</div>
        <div class="left_text2">dsds</div>
    </div>

    <span class="spacer"></span>   

    <div class="d-h-l">
        <div class="category">
            <div>
                <div class="right_text1">Total Revenue</div>
                <div class="right_text2">ddsds</div>
            </div>
            <mat-icon class="category-icon">perm_identity</mat-icon>
        </div>
    </div>    
  
</mat-toolbar>
