<div class="payee_wrapper">

    <div class="vehicle-text">Vehicle Licensing</div>
    <div class="vehicle-border"></div>

    <div class="container" fxLayoutGap="30px">
        <div class="card" [routerLink]="['reg-vehicle']">
            <div class="icon"><img src="assets/images/Icon-ionic-ios-car.svg" alt=""></div>
            <div class="text">New Vehicle Registration</div>
        </div>
        <div class="card" [routerLink]="['/dashboard/dashboard5/vehicle/change-owner']">
            <div class="icon"><img src="assets/images/Layer_2.svg" alt=""></div>        
            <div class="text">Change of ownership</div>
        </div>
        <div class="card" [routerLink]="['reg-plate']">
            <div class="icon"><img src="assets/images/Layer_2.svg" alt=""></div>        
            <div class="text">Plate number Management</div>
        </div>
        <div class="card" [routerLink]="['penalty']">
            <div class="icon"><img src="assets/images/309038_police_secure_security_icon2.svg" alt=""></div>
            <div class="text">Offences And Penalties</div>
        </div>
        <div class="card" [routerLink]="['bills']" matBadge="45" matBadgeSize="medium">
            <div class="icon"><img src="assets/images/8726296_receipt_alt_icon2.svg" alt=""></div>
            <div class="text">Generated Bills</div>
        </div>
        <div class="card" matBadge="45" matBadgeSize="medium" [routerLink]="['approval']">
            <div class="icon"><img src="assets/images/Icon-ionic-ios-car.svg" alt=""></div>
            <div class="text">Approvals</div>
        </div>
        <div class="card" [routerLink]="['profilling']">
            <div class="icon"><img src="assets/images/27-Document-Process.svg" alt=""></div>
            <div class="text">Vehicle Profiling</div>
        </div>
       
    </div>

</div>