<div class="wrapper">

    <p class="back" (click)="back()">
        <mat-icon>keyboard_backspace</mat-icon> Back
    </p>

    <div>
        <div class="verify">

            <div class="department" *ngIf="datas2?.department">{{ datas2?.department?.name }} Department | Showing all users from {{ datas2?.department?.name }} Department</div>
            <div class="department" *ngIf="datas2?.location">{{ datas2?.location?.name }} Location (Office) | Showing all users from {{ datas2?.location?.name }} Location (Office)</div>

            <mat-toolbar class="header2">
                <div class="indcom">
                    <span *ngIf="datas2?.department">{{ datas2?.department?.name }} Department</span>
                    <span *ngIf="datas2?.location">{{ datas2?.location?.name }} Location (Office)</span>
                </div>
                <div class="spacer"></div>

                <div class="search_icon_header">
                    <form class="search-form_header">
                        <button matSuffix mat-icon-button class="form-icon_header">
                            <mat-icon>search</mat-icon>
                        </button>
                        <input [ngModel]="search" (ngModelChange)="modelChange($event)" name="search" type="text" placeholder="Search for TaxID, Tax name., etc">
                    </form>
                </div>

            </mat-toolbar>

                <div class="table-container">
                    <div class="table-responsive">
                        <table datatable="datatable" [dtOptions]="dtOptions" class="row-border table table-striped table-hover table-borderless">
                            <thead>
                                <tr>
                                    <th class="align-middle text-center">S/N</th>
                                    <th class="align-middle text-center">Username</th>
                                    <th class="align-middle text-center">First Name</th>
                                    <th class="align-middle text-center">Last Name</th>
                                    <th class="align-middle text-center">Email</th>
                                    <th class="align-middle text-center">Contact Number</th>
                                    <th class="align-middle text-center"></th>
                                    <th class="align-middle text-center"></th>
                                </tr>
                            </thead>
                            <!-- individual -->
                            <tbody *ngIf="datas?.length != 0">
                                <tr *ngFor="let data of datas; let i=index">
                                    <td class="align-middle text-center">{{i+1}}</td>
                                    <td class="align-middle">
                                        {{ data.username }}
                                    </td>
                                    <td class="align-middle">{{ data.first_name }}</td>
                                    <td class="align-middle">{{ data.last_name }}</td>
                                    <td class="align-middle">{{ data.email }}</td>
                                    <td class="align-middle text-center">{{ data.phone }}</td>
                                    <td class="align-middle text-center">
                                        <button mat-button [matMenuTriggerFor]="menu">
                                            <i class="fa fa-ellipsis-h fa-lg" aria-hidden="true"></i>
                                        </button>
                                        <mat-menu #menu="matMenu">
                                            <button mat-menu-item="mat-menu-item" style="color: #5EA55A;" class="mat-menu" (click)="redirectData(data, 'view-user')">View profile</button>
                                            <button mat-menu-item="mat-menu-item" style="color: #5EA55A;" class="mat-menu">Reset Password</button>
                                            <button mat-menu-item="mat-menu-item" style="color: #5EA55A;" class="mat-menu" (click)="redirectData(data, 'edit-user')">Edit profile</button>
                                        </mat-menu>
                                    </td>
                                    <td class="align-middle text-center">
                                        <mat-icon (click)="openDialog(data, 'delete-user')" 
                                        *ngIf="data.is_active" class="table-icon-success" 
                                        matTooltipPosition="above"
                                        matTooltip=" Deactivate this Account">brightness_1</mat-icon>
                                        <!--  -->
                                        <mat-icon (click)="openDialog(data, 'delete-user')" 
                                        *ngIf="!data.is_active" 
                                        class="table-icon-delete" 
                                        matTooltipPosition="above" 
                                        matTooltip="Activate this Account">brightness_1</mat-icon>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="datas?.length == 0">
                                <tr>
                                    <td class="no-data-available text-center">No data!</td>
                                    <td class="no-data-available text-center">No data!</td>
                                    <td class="no-data-available text-center">No data!</td>
                                    <td class="no-data-available text-center">No data!</td>
                                    <td class="no-data-available text-center">No data!</td>
                                    <td class="no-data-available text-center">No data!</td>
                                    <td class="no-data-available text-center">No data!</td>
                                    <td class="no-data-available text-center">No data!</td>
                                </tr>
                            </tbody>

                            <div *ngIf="isLoading" class="loader loading">
                                <div class="bubble"></div>
                                <div class="bubble"></div>
                                <div class="bubble"></div>
                                <div class="bubble"></div>
                            </div>

                            <button mat-raised-button="mat-raised-button"  class="reload" (click)="reload()">
                                <span *ngIf="!is_reload">Reload</span>
                                <div *ngIf="is_reload" class="loader">
                                    <div class="bubble"></div>
                                    <div class="bubble"></div>
                                    <div class="bubble"></div>
                                    <div class="bubble"></div>
                                </div>
                            </button>
                        </table>
                    </div>
                </div>
            </div>
        </div>


    </div>
