<div class="approval-wrapper">

    <div class="headerr" *ngIf="update">
        <div class="headerr-card">
            <div class="reg_buss">Sales Agreement</div>
            <div class="soft_pattern">View documents</div>
        </div>
    </div>

    <div class="mat-accordion">

        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState" (closed)="!panelOpenState">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Vehicle Details
                    </mat-panel-title>
                    <span class="material-icons-round arrow_drop_down">arrow_drop_down</span>
                </mat-expansion-panel-header>
                <div class="panel-container">

                    <table
                        class="panel-table" fxLayoutGap="50px">
                        <!-- 1 -->
                        <tbody>
                            <tr>
                                <td class="title">Issue Date:</td>
                                <td class="sub-title">{{ datas?.old?.created_at | date:'yyyy-MM-dd' }}
                                    {{ datas?.data2?.vehicleId?.created_at | date:'yyyy-MM-dd' }}
                                </td>
                            </tr>
                            <tr>
                                <td class="title">Vehicle Make:</td>
                                <td class="sub-title">{{ datas?.old?.make || datas?.data2?.vehicleId?.make }}</td>
                            </tr>
                            <tr>
                                <td class="title">Chasis Number:</td>
                                <td class="sub-title">{{ datas?.old?.vin || datas?.data2?.vehicleId?.vin }}</td>
                            </tr>
                            <tr>
                                <td class="title">Plate Number:</td>
                                <td class="sub-title">{{ datas?.old?.plate_no || datas?.data2?.vehicleId?.plate_no }}</td>
                            </tr>
                            <tr>
                                <td class="title">Owner:</td>
                                <td class="sub-title">{{ datas?.old?.payer?.taxpayer_name ||
                                     datas?.data2?.vehicleId?.payer?.taxpayer_name }}</td>
                            </tr>
                            <tr>
                                <td class="title">Vehicle color:</td>
                                <td class="sub-title">{{ datas?.old?.color || datas?.data2?.vehicleId?.color }}</td>
                            </tr>
                        </tbody>
                        <!-- 2 -->
                        <tbody>
                            <tr>
                                <td class="title">Vehicle Usage:</td>
                                <td class="sub-title">{{ datas?.old?.vehicle_usage || 
                                    datas?.data2?.vehicleId?.vehicle_usage }}</td>
                            </tr>
                            <tr>
                                <td class="title">Vehicle Type:</td>
                                <td class="sub-title">{{ datas?.old?.vehicletype?.name ||
                                     datas?.data2?.vehicleId?.vehicletype?.name }}</td>
                            </tr>
                            <tr>
                                <td class="title">Engine Capacity:</td>
                                <td class="sub-title">{{ datas?.old?.engine_capacity ||
                                    datas?.data2?.vehicleId?.engine_capacity }}</td>
                            </tr>
                            <tr>
                                <td class="title">Fuel Type:</td>
                                <td class="sub-title">{{ datas?.old?.fuel_type || datas?.data2?.vehicleId?.fuel_type }}</td>
                            </tr>
                            <tr>
                                <td class="title">Max carrier:</td>
                                <td class="sub-title">{{ datas?.old?.carrying_capacity || 
                                    datas?.data2?.vehicleId?.carrying_capacity }}</td>
                            </tr>
                            <tr>
                                <td class="title">Vehicle Year:</td>
                                <td class="sub-title">{{ datas?.old?.vehicle_year || datas?.data2?.vehicleId?.vehicle_year }}
                                </td>
                            </tr>
                        </tbody>
                        <!-- 3 -->
                    </table>

                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>

    <div class="panel-container2" *ngIf="newOwner">

        <div class="header-details_p">
            <div class="header-details">New owner Details</div>
            <div class="name">{{ datas?.new?.taxpayer_name }}</div>
            <div class="gtin">GTIN: {{ datas?.new?.state_tin }}</div>
            <div class="indi">{{ datas?.new?.payer_type }} Tax Payer</div>
            <div class="verify" *ngIf="datas?.new?.is_verified">Verified User</div>
            <div class="not-verify" *ngIf="!datas?.new?.is_verified">Not-Verified</div>
        </div>

        <table
            class="panel-table" fxLayoutGap="50px">
            <!-- 1 -->
            <tbody>
                <tr>
                    <td class="title">Date Registration:</td>
                    <td class="sub-title">{{ datas?.new?.created_at | date:'yyyy-MM-dd' }}</td>
                </tr>
                <tr>
                    <td class="title">Address:</td>
                    <td class="sub-title">{{ datas?.new?.address }}</td>
                </tr>
                <tr>
                    <td class="title">LGA:</td>
                    <td class="sub-title">{{ datas?.new?.lga_id?.name }}</td>
                </tr>
                <tr>
                    <td class="title">Email:</td>
                    <td class="sub-title">{{ datas?.new?.email }}</td>
                </tr>
                <tr>
                    <td class="title">Phone Number:</td>
                    <td class="sub-title">{{ datas?.new?.phone }}</td>
                </tr>
            </tbody>
            <!-- 2 -->
            <tbody>
                <tr>
                    <td class="title">Date of birth:</td>
                    <td class="sub-title">{{ datas?.new?.dob }}</td>
                </tr>
                <tr>
                    <td class="title">Selected tax office:</td>
                    <td class="sub-title">{{ datas?.new?.location?.name }}</td>
                </tr>
                <tr>
                    <td class="title">Business type:</td>
                    <td class="sub-title">{{ datas?.new?.occupation?.name }}</td>
                </tr>
            </tbody>
            <!-- 3 -->
        </table>

    </div>

    <!-- Old owner details -->

    <div class="panel-container2">

        <div class="header-details_p">
            <div class="header-details">Old owner Details</div>
            <div class="name">{{ datas?.old?.payer?.taxpayer_name }}</div>
            <div class="gtin">GTIN: {{ datas?.old?.payer?.state_tin }}</div>
            <div class="indi">{{ datas?.old?.payer?.payer_type }} Tax Payer</div>
            <div class="verify" *ngIf="datas?.old?.payer?.is_verified">Verified User</div>
            <div class="not-verify" *ngIf="!datas?.old?.payer?.is_verified">Not-Verified</div>
        </div>

        <table
            class="panel-table" fxLayoutGap="50px">
            <!-- 1 -->
            <tbody>
                <tr>
                    <td class="title">Date Registration:</td>
                    <td class="sub-title">{{ datas?.old?.payer?.created_at | date:'yyyy-MM-dd' }}</td>
                </tr>
                <tr>
                    <td class="title">Address:</td>
                    <td class="sub-title">{{ datas?.old?.payer?.address }}</td>
                </tr>
                <tr>
                    <td class="title">LGA:</td>
                    <td class="sub-title">{{ datas?.old?.payer?.lga_id?.name }}</td>
                </tr>
                <tr>
                    <td class="title">Email:</td>
                    <td class="sub-title">{{ datas?.old?.payer?.email }}</td>
                </tr>
                <tr>
                    <td class="title">Phone Number:</td>
                    <td class="sub-title">{{ datas?.old?.payer?.phone }}</td>
                </tr>
            </tbody>
            <!-- 2 -->
            <tbody>
                <tr>
                    <td class="title">Date of birth:</td>
                    <td class="sub-title">{{ datas?.old?.payer?.dob }}</td>
                </tr>
                <tr>
                    <td class="title">Selected tax office:</td>
                    <td class="sub-title">{{ datas?.old?.payer?.location?.name }}</td>
                </tr>
                <tr>
                    <td class="title">Business type:</td>
                    <td class="sub-title">{{ datas?.old?.payer?.occupation?.name }}</td>
                </tr>
            </tbody>
            <!-- 3 -->
        </table>
    </div>

    <div style="text-align: right; padding-bottom: 1rem;">
        <button mat-button *ngIf="newOwner && !update" class="generate" (click)="process()">
            <span *ngIf="!loading">process</span>
            <div *ngIf="loading" class="loader">
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
            </div>
        </button>
        <button mat-button *ngIf="!newOwner && !update" class="generate" (click)="openDialog('', 'change-owner2')">process</button>
        <button mat-button *ngIf="update" class="generate" (click)="openDialog(datas?.data2, 'decline')">Deny Change</button>
        <button mat-button *ngIf="update" class="generate2" (click)="openDialog(datas?.data2, 'approve')">Approve Change</button>
    </div>

</div>
