@import "~bootstrap/dist/css/bootstrap.css";

.wrapper {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 32px;
}

.header {
  padding: 16px;
  margin-bottom: 10px;
  width: 100%;
  background: var(--white) 0% 0% no-repeat padding-box;
  opacity: 1;
  display: flex;
  align-items: center;

  .icons-rounded {
    vertical-align: middle;
    color: var(--green);
  }

  .reg_buss {
    font: normal normal 15px/19px var(--mont);
    letter-spacing: 0px;
    color: var(--form-gray);
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
    opacity: 1;
    margin-right: 30px;
  }

  form {
    flex-direction: column;
    margin-right: 20px;

    input[type="date"] {
      background: var(--white);
      box-sizing: border-box;
      border: 1px solid rgba(60, 102, 163, 0.5);
      border-radius: 5px;
      height: 30px;
      padding-left: 10px;
      font: normal normal normal 15px/24px var(--mont);
    }

    [type="date"]:focus {
      outline: none;
    }

    label {
      font: normal normal 15px/19px var(--mont);
      font-weight: 500;
      margin-bottom: 5px;
    }
  }
}

::ng-deep .choose-year-menu.mat-menu-panel {
  height: 300px !important;
}

.header2 {
  opacity: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: var(--white) 0% 0% no-repeat padding-box;
  opacity: 1;
  padding: 16px;
  border: 1.5px solid rgba(112, 112, 112, 0.5);

  .spacer {
    flex: 1 1 auto;
  }

  .indcom {
    font: normal normal 12px/15px var(--mont);
    letter-spacing: 0px;
    color: var(--blue);
    font-weight: 500;
    font-size: 14px;
    margin-right: 20px;
  }

  .search_icon_header {
    float: right;
    display: flex;
    justify-content: right;
    align-items: right;
  }

  .search-form_header {
    vertical-align: top;
    background: var(--white);
    border: 1px solid rgba(60, 102, 163, 0.5);
  }

  input[type="text"] {
    background: var(--white);
    box-sizing: border-box;
    border: 1px solid var(--white);
    border-radius: 2px;
    height: 35px;
    width: 25vw;
    font: normal normal normal 15px/24px var(--mont);
    padding-left: 1px;
  }

  [type="text"]:focus {
    outline: none;
  }

  .form-icon_header {
    color: rgba(27, 87, 63, 0.54);
    margin-left: 10px;
    padding: unset;
  }
}

.table-container {
  margin-bottom: 32px;
  width: 100%;

  table {
    border: none;
    margin-bottom: 16px;
  }

  thead tr {
    background: var(--white) 0% 0% no-repeat padding-box;
    text-align: left;
    font: normal normal normal 12px/15px var(--mont);
    letter-spacing: 0px;
    color: var(--blue);
  }

  tbody tr {
    font: normal normal normal 15px/19px var(--mont);
    letter-spacing: 0px;
    color: var(--form-gray);
  }

  tr th {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
    border-right: 1.5px solid rgba(112, 112, 112, 0.5);
    text-align: center;
  }

  tr th:last-child {
    border-right: unset;
  }

  .ellipsis {
    border: 1px solid var(--yellow);
    border-radius: 10px;
    opacity: 1;
    color: black;
    padding: 3.2px;
  }

  .icons-rounded {
    vertical-align: middle;
    color: var(--green);
    font-size: 17px;
  }

  .paid {
    background: var(--green) 0% 0% no-repeat padding-box;
    opacity: 1;
    font: normal normal normal 12px/15px var(--mont);
    letter-spacing: 0px;
    font-weight: 500;
    color: var(--white);
    opacity: 1;
    width: 64px;
    padding: 4.8px;
    border-radius: 10px;
  }

  .pending {
    background: #d56545 0% 0% no-repeat padding-box;
    opacity: 1;
    font: normal normal normal 12px/15px var(--mont);
    letter-spacing: 0px;
    font-weight: 500;
    color: var(--white);
    opacity: 1;
    width: 64px;
    padding: 4.8px;
    border-radius: 10px;
  }

  .loading {
    margin-top: 24px;
  }

  .rotate {
    animation: spin 2s linear infinite;
    color: var(--blue);
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .reload {
    background: #f5f7fa;
    color: 1px solid var(--green);
    font: normal normal 15px/19px var(--mont);
    font-weight: 500;
    margin-top: 24px;
    border-radius: 5px;
    padding: 5px;
    margin-left: 10px;
    width: 80px;
  }

  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em 0 0.5em 0;
  }

  .bubble {
    animation: expand 0.75s ease-in-out infinite;
    border-radius: 20px;
    display: inline-block;
    transform-origin: center center;
    margin: 0 3px;
    width: 7px;
    height: 7px;
  }

  .bubble:nth-child(1) {
    background: var(--blue);
  }

  .bubble:nth-child(2) {
    animation-delay: 180ms;
    background: var(--blue);
  }

  .bubble:nth-child(3) {
    animation-delay: 360ms;
    background: var(--blue);
  }

  .bubble:nth-child(4) {
    animation-delay: 540ms;
    background: var(--blue);
  }

  @keyframes expand {
    0% {
      transform: scale(1);
    }
    25% {
      transform: scale(1.55);
    }
  }

  ::ng-deep .dataTables_wrapper .dataTables_paginate .paginate_button {
    display: none !important;
  }

  ::ng-deep .dataTables_wrapper .dataTables_length,
  .dataTables_wrapper .dataTables_filter,
  .dataTables_wrapper .dataTables_info,
  .dataTables_wrapper .dataTables_processing,
  .dataTables_wrapper .dataTables_paginate {
    display: none !important;
  }

  ::ng-deep #DataTables_Table_0_info {
    display: none !important;
  }

  ::ng-deep table.dataTable thead .sorting {
    background-image: unset !important;
  }

  ::ng-deep table.dataTable thead .sorting_asc {
    background-image: unset !important;
  }

  ::ng-deep table.dataTable thead .sorting::after {
    display: none !important;
  }

  ::ng-deep table.dataTable thead .sorting::before {
    display: none !important;
  }

  ::ng-deep .table-striped > tbody > tr:nth-of-type(odd) {
    background: rgba(62, 95, 168, 0.05);
  }

  ::ng-deep .table-striped:hover > tbody:hover > tr:nth-of-type(even):hover {
    background: #f5f7fa !important;
  }

  ::ng-deep .dataTables_wrapper .dataTables_length select {
    border: 1px solid var(--green);
    font: normal normal normal 15px/19px var(--mont);
  }

  ::ng-deep .dataTables_wrapper .dataTables_length label {
    color: var(--form-gray);
    font: normal normal normal 15px/19px var(--mont);
  }

  ::ng-deep .dataTables_wrapper .dataTables_filter {
    display: none;
  }

  .dataTables_wrapper .dataTables_length,
  .dataTables_wrapper .dataTables_filter,
  .dataTables_wrapper .dataTables_info,
  .dataTables_wrapper .dataTables_processing,
  .dataTables_wrapper .dataTables_paginate {
    font: normal normal normal 15px/19px var(--mont);
    font-weight: 400;
    letter-spacing: 0.3px;
  }
}
