<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #publicsidenav hasBackdrop="false" class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
        <div class="main">

            <app-app-public-sidenav-list (publicsidenavClose)="publicsidenav.close()"></app-app-public-sidenav-list>
        </div>
    </mat-sidenav>

    <mat-sidenav-content (scroll)="handleScroll($event)" class="mat-sidenav-content">
        <app-header (publicsidenavToggle)="publicsidenav.toggle()">

        </app-header>
        <div class="main2">
            <router-outlet></router-outlet>
        </div>
        <!-- <button mat-mini-fab [class.show-scrollTop]="windowScrolled" (click)="scrollToTop()" class="button">
            <mat-icon>keyboard_arrow_up</mat-icon>
        </button> -->
    </mat-sidenav-content>
</mat-sidenav-container>