<div class="generate-dialog" *ngIf="data.type =='generate_bill'">

    <div mat-dialog-content class="print-section" id="print-section">

        <div>

            <div class="gen_logo_p">
                <img class="logo" src="assets/images/gombelogo.png" alt="IRM"/>
            </div>

            <div class="generate_container">

                <div class="gen-left-container" style="margin-bottom: 1.5rem;">
                    <div class="generate_left">
                         <div class="tin">
                            <span style="color: #3C66A3;">GTin:</span>  
                            {{ data.data?.payer?.state_tin }}
                        </div>
                        <div class="tin">
                            <span style="color: #3C66A3;">Vehicle Make:</span>
                            {{ data.data2?.make }}
                        </div>
                        <div class="tin">
                            <span style="color: #3C66A3;">Chasis Number:</span>
                            {{ data.data2?.vin }}
                        </div>
                        <div class="tin">
                            <span style="color: #3C66A3;">Owner:</span>
                            {{ data.data?.payer?.taxpayer_name }}
                        </div>
                    </div>

                    <div class="generate_center">
                        <div class="tin" style="text-transform: uppercase;">
                            <span style="color: #3C66A3;">Assessment Type:</span>
                            {{ data.data?.assessment?.assess_type }}
                        </div>
                        <div class="tin">
                            <span style="color: #3C66A3;">Vehicle Type:</span>
                            {{ data.data2?.vehicletype?.name }}
                        </div>
                        <div class="tin">
                            <span style="color: #3C66A3;">Engine Capacity:</span>
                            {{ data.data2?.engine_capacity }}
                        </div>
                        <div class="tin">
                            <span style="color: #3C66A3;">Max carrier:</span>
                            {{ data.data2?.carrying_capacity }}
                        </div>
                        <div class="tin">
                            <span style="color: #3C66A3;">Bill Staus: </span> 
                            <span *ngIf="data.data?.bill_status == true" class="gen-success">Paid</span>
                            <span *ngIf="data.data?.bill_status == false" class="gen-failed">Not-paid</span>
                        </div>
                    </div>

                    <div class="generate_center">
                        <qr-code value="{{data.data?.bill_code}}"
                            size="150"
                            errorCorrectionLevel="H"
                            centerImageSrc="undefined"
                            centerImageSize="undefined">
                        </qr-code>
                    </div>

                    <div style="clear: both;"></div>

                </div>

                <div class="gen_table">
                    <div class="column">

                        <!--  -->
                        <div class="column1">
                            <div class="employee-salary">Description</div>
                            <div class="left_right">
                                <div class="left">
                                    <div class="title">Assessment Period</div>
                                    <div class="title">Tax Type</div>
                                    <div class="title">No. Of employee</div>
                                    <div class="title">Currency</div>
                                    <div class="title">Date of assessment</div>
                                    <div class="title">Total Taxable Income</div>
                                    <div class="title2">TOTAL PAYE PAYABLE</div>
                                </div>
                            </div>

                        </div>
                        <!--  -->

                        <div class="column2">
                            <div class="deduction">Amount (NGN)</div>
                            <div class="left_right">
                                <div class="left2">
                                    <div class="title">12 month</div>
                                    <div class="title" style="text-transform: uppercase;">
                                        {{ data.data?.assessment?.assess_type }}
                                    </div>
                                    <div class="title">{{ data.data?.assessment?.employee_total }}</div>
                                    <div class="title">NGN</div>
                                    <div class="title">{{ data.data?.assessment?.assessment_date | date:'yyyy-MM-dd' }}</div>
                                    <div class="title">NGN {{ formatMoney(data.data?.assessment?.assessment_total) }}</div>
                                    <div class="title">NGN {{ formatMoney(data.data?.bill_total) }}</div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div style="clear: both;"></div>

                </div>
            </div>

            <div class="card-actions">

                <div class="note">NOTE : generated assessment will expire in 48 Hours (14/11/2018, 9:30am),
                    payment can be paid using payment mobile App or use payment Platform.
                </div>
    
                <div class="print_p">
                    <button mat-button class="print" [useExistingCss]="true" printSectionId="print-section" ngxPrint>
                        <img src="assets/images/Page-1.svg" alt="">
                        print
                    </button>
                    <button mat-button class="print">
                        <img src="assets/images/Iconmaterial-payment.svg" alt="">
                        pay now
                    </button>
                    <button mat-button class="print" mat-dialog-close>
                        <i class="fa fa-times fa-lg" aria-hidden="true"></i>
                        Close
                    </button>
                    <button mat-button class="print_delete" (click)="deleteBill()">
                        <i *ngIf="!isdelete" class="fa fa-trash-o fa-lg" aria-hidden="true"></i>
                        <span *ngIf="!isdelete"> Delete</span>
                        <i *ngIf="isdelete" class="fa fa-circle-o-notch fa-lg loader-spin" aria-hidden="true"></i>
                    </button>
                </div>
    
            </div>

        </div>
    </div>
</div>


<!-- Manual upload layout -->

<div class="manual_file-dialog" 
    *ngIf="data.type == 'manual' || data.type == 'manual2' || data.type == 'change-owner' 
        || data.type == 'penalty' || data.type == 'change-owner2' || data.type == 'reg-plate'">
    <div class="upload_cancel_button">
        <button mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <div mat-dialog-content class="manual_container">

        <div>
            <div class="manual_verify" *ngIf="data.type == 'manual' || data.type == 'manual2'">Kindly input your GTin to continue</div>
            <div class="manual_verify" *ngIf="data.type == 'penalty'">Traffic Offences And Penalties</div>
            <div class="manual_verify" *ngIf="data.type == 'change-owner2'" >New Owner ID</div>
            <div class="manual_verify" *ngIf="data.type == 'reg-plate'" >Owner Tax payer ID</div>

            <form [formGroup]="manualForm" class="manual_form">
                <mat-form-field class="half-width" appearance="outline">
                    <mat-label>GTin</mat-label>
                    <input matInput formControlName="tin">
                </mat-form-field>

                <!-- <button mat-button class="upload_continue" *ngIf="data.type == 'manual'" [routerLink]="['/dashboard/dashboard5/vehicle/reg']" mat-dialog-close>Proceed</button>
                <button mat-button class="upload_continue" *ngIf="data.type == 'manual2'" [routerLink]="['/dashboard/dashboard5/vehicle/new-reg']" mat-dialog-close>Proceed</button>
                <button mat-button class="upload_continue" *ngIf="data.type == 'change-owner'" [routerLink]="['/dashboard/dashboard5/vehicle/change-owner']" mat-dialog-close>Proceed</button>
                <button mat-button class="upload_continue" *ngIf="data.type == 'change-owner2'" [routerLink]="['/dashboard/dashboard5/vehicle/approval/review']" mat-dialog-close>Proceed</button>
                <button mat-button class="upload_continue" *ngIf="data.type == 'penalty'" [routerLink]="['/dashboard/dashboard5/vehicle/offence']" mat-dialog-close>Verify</button>
                <button mat-button class="upload_continue" *ngIf="data.type == 'reg-plate'" [routerLink]="['/dashboard/dashboard5/vehicle/new-plate']" mat-dialog-close>Continue</button> -->

                <button mat-button class="upload_continue" (click)="checkTin()">
                    <span *ngIf="!loading">Continue</span>
                    <div *ngIf="loading" class="loader">
                        <div class="bubble"></div>
                        <div class="bubble"></div>
                        <div class="bubble"></div>
                        <div class="bubble"></div>
                    </div>
                </button>
            </form>

            <div class="dont-have">Don’t Have a GTin? Register</div>
        </div>

    </div>

</div>


<!-- Vehicle Registration -->
<div class="regis-layout" *ngIf="data.type == 'regis'">
    <div class="regis-layout-header">
        <p class="regis-layout-header-back" mat-dialog-close>
            <span class="material-icons">keyboard_backspace</span>
        </p>
    </div>

    <div class="body">
        <div class="header-text">VEHICLE REGISTRATION</div>
        <div class="kindly">Kindly Select the option that applies to the Tax payer</div>

        <div class="card blue" (click)="openDialog('', 'manual2')">New vehicle registration</div>
        <div class="card yellow" (click)="openDialog('', 'manual')">Old new Registration</div>
        <div class="card white" (click)="openDialog('', 'manual')">Bought from other Taxpayer</div>
        <div class="card red" (click)="openDialog('', 'manual')">Change of Ownership</div>
    </div>
</div>

<!-- Approve request layout -->

<div class="manual_file-dialog" *ngIf="data.type == 'approve'">
    <div class="approve_cancel_button">
        <button mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <div mat-dialog-content class="approve_container">
        <div>Kindly Note That upon approval</div>
        <div>Vehicle ownership will be moved to 
            <span class="approve-blue">Adamu Musa with GTIN 123456</span>
        </div>
        <div>
            <button mat-button class="understand" (click)="openDialog('', 'success')">I Understand</button>
        </div>
        <button mat-button mat-dialog-close class="approve-cancel">Cancel</button>
    </div>
</div>


<!-- Approve request layout2 -->

<div class="manual_file-dialog" *ngIf="data.type == 'delay-approve'">
    <div class="approve_cancel_button">
        <button mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <div mat-dialog-content class="approve_container">
        <div>Kindly Note That all pending Liabilities</div>
        <div>will be add to the Bill and must be paid before approval of change of ownership</div>
        <div>
            <button mat-button class="understand" (click)="changeOwner()">I Understand</button>
        </div>
        <button mat-button mat-dialog-close class="approve-cancel">Cancel</button>
    </div>
</div>

<!-- Success layout -->

<div class="manual_file-dialog" *ngIf="data.type == 'success'">
    <div class="approve_cancel_button">
        <button mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <div mat-dialog-content class="success_container">

        <div><img src="assets/images/Iconfeather-check-circle.svg" alt=""></div>

        <div>Change of ownership</div>

        <div>Approved successfully Vehicle ownership moved</div>
        
        <div class="success-blue">
            Adamu Musa with GTIN 123456
        </div>
        <button mat-button mat-dialog-close class="understand2">Continue</button>
    </div>
</div>



<!-- Decline layout -->

<div class="manual_file-dialog" *ngIf="data.type == 'decline'">
    <div class="approve_cancel_button">
        <button mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <div mat-dialog-content class="decline_container">

        <div class="decline-comment">Comment</div>
        <div class="decline-comment2">(Comment will be sent to tax payer along notification)</div>
        
        <form [formGroup]="manualForm2">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Comment</mat-label>
                <textarea matInput formControlName="body"></textarea>
            </mat-form-field>
            <mat-error *ngIf="formError">{{ formError }}</mat-error>
        </form>

        <div class="descline-button">
            <button mat-button mat-dialog-close class="cancel2">Cancel</button>
            <button mat-button mat-dialog-close class="understand2">Deny and Send</button>
        </div>
    </div>
</div>


<!-- Document Receipt layout -->

<div class="manual_file-dialog" *ngIf="data.type == 'receipt' " id="print-receipt"
 style="height: 70vh;">

    <div class="receipt-header">

        <div></div>

        <div>
            <div class="receipt-header-text">Federal Rebublic of Nigeria</div>
            <div class="receipt-header-text">(Uniform licensing scheme)</div>
            <div class="receipt-header-text2">Vehicle licensing</div>
        </div>

        <div class="receipt_cancel_button">
            <button mat-icon-button mat-dialog-close>
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>
    

    <div mat-dialog-content class="receipt_container">

        <div class="receipt-body" fxLayoutGap="20px">
            <div>
                <div>
                    <span class="blue-receipt-header-text">Registration Number:</span>
                    <span class="black-receipt-header-text" style="font-weight: 600;">{{ data?.data?.vehicleId?.model }}</span>
                </div>
                <div>
                    <span class="blue-receipt-header-text">State:</span>
                    <span class="black-receipt-header-text" style="font-weight: 600;">Gombe</span>
                </div>
                <div>
                    <span class="blue-receipt-header-text">Issue Date:</span>
                    <span class="black-receipt-header-text">{{ data?.data?.created_at | date:'yyyy-MM-dd' }}</span>
                </div>
                <div>
                    <span class="blue-receipt-header-text">Chasis Number:</span>
                    <span class="black-receipt-header-text">{{ data?.data?.vehicleId?.vin }}</span>
                </div>
                <div>
                    <span class="blue-receipt-header-text">Address:</span>
                    <span class="black-receipt-header-text">{{ data?.data?.vehicleId?.payer?.address }}</span>
                </div>
                <div>
                    <span class="blue-receipt-header-text">Owner:</span>
                    <span class="black-receipt-header-text">{{ data?.data?.vehicleId?.payer?.taxpayer_name }}</span>
                </div>
                <div>
                    <span class="blue-receipt-header-text">Phone Number:</span>
                    <span class="black-receipt-header-text">{{ data?.data?.vehicleId?.payer?.phone }}</span>
                </div>
            </div>
            <!--  -->
            <div>
                <div>
                    <img src="assets/images/gombelogo.png" height="75px" width="75px" alt="">
                </div>
                <div>
                    <span class="blue-receipt-header-text">Purpose:</span>
                    <span class="black-receipt-header-text">{{ data?.data?.vehicleId?.model }}</span>
                </div>
                <div>
                    <span class="blue-receipt-header-text">Vehicle Make:</span>
                    <span class="black-receipt-header-text">{{ data?.data?.vehicleId?.make }}</span>
                </div>
                <div>
                    <span class="blue-receipt-header-text">Engine Capacity:</span>
                    <span class="black-receipt-header-text">{{ data?.data?.vehicleId?.engine_capacity }}</span>
                </div>
                <div>
                    <span class="blue-receipt-header-text">Plate Number:</span>
                    <span class="black-receipt-header-text">{{ data?.data?.vehicleId?.plate_no }}</span>
                </div>
                <div>
                    <span class="blue-receipt-header-text">Max carrier:</span>
                    <span class="black-receipt-header-text">{{ data?.data?.vehicleId?.carrying_capacity }}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="receipt-footer">
        <div>
            <qr-code value="{{ data?.data?.id }}"
                size="150"
                errorCorrectionLevel="H"
                centerImageSrc="undefined"
                centerImageSize="undefined">
            </qr-code>
        </div>

        <div style="margin-left: 20px;">
            <hr class="receipt-line">
            <div class="black-receipt-header-text">Name and signature of Authorising officer</div>
        </div>
    </div>

    <div style="text-align: center;">
        <button mat-button class="print-receipt" [useExistingCss]="true" printSectionId="print-receipt" ngxPrint>
            <img src="assets/images/Page-1.svg" alt="">
            print
        </button>
    </div>
</div>


<!-- Plate Number layout -->

<div class="manual_file-dialog" *ngIf="data.type == 'plate' " id="print-receipt"
 style="height: 70vh;">

    <div class="receipt-header" style="margin-top: 1rem;">
        <div></div>
        <div>
            <div class="receipt-header-text">Federal Rebublic of Nigeria</div>
            <div class="receipt-header-text">(Uniform licensing scheme)</div>
            <div class="receipt-header-text2">Plate number details</div>
        </div>

        <div class="receipt_cancel_button">
            <button mat-icon-button mat-dialog-close>
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>
    

    <div mat-dialog-content class="receipt_container">
        
        <div class="plate-details">Plate number details</div>

        <div class="receipt-body" fxLayoutGap="20px">
            <div>
                <div>
                    <span class="black-receipt-header-text">Plate number:</span>
                    <span class="black-receipt-header-text" style="font-weight: 600;">KUJ124AZ</span>
                </div>
                <div>
                    <span class="black-receipt-header-text">Name of Tax payer:</span>
                    <span class="black-receipt-header-text" style="font-weight: 600;">Gombe</span>
                </div>
                <div>
                    <span class="black-receipt-header-text">GTin:</span>
                    <span class="black-receipt-header-text">2018-11-11</span>
                </div>
            </div>
            <!--  -->
            <div>
                <div>
                    <span class="black-receipt-header-text">Phone Number:</span>
                    <span class="black-receipt-header-text">Private</span>
                </div>
                <div>
                    <span class="black-receipt-header-text">Issue date:</span>
                    <span class="black-receipt-header-text">Matthew Adeboye</span>
                </div>
            </div>
        </div>
    </div>

    <!--  -->

    <div mat-dialog-content class="receipt_container" style="padding-bottom: 1rem;">

        <div class="plate-details">Vehicle details</div>

        <div class="receipt-body" fxLayoutGap="20px">
            <div>
                <div>
                    <span class="blue-receipt-header-text">Purpose:</span>
                    <span class="black-receipt-header-text">KUJ124AZ</span>
                </div>
                <div>
                    <span class="blue-receipt-header-text">Chasis Number:</span>
                    <span class="black-receipt-header-text">Gombe</span>
                </div>
                <div>
                    <span class="blue-receipt-header-text">Address:</span>
                    <span class="black-receipt-header-text">2018-11-11</span>
                </div>
                <div>
                    <span class="blue-receipt-header-text">Owner:</span>
                    <span class="black-receipt-header-text">JTEDP21A040041522</span>
                </div>
                <div>
                    <span class="blue-receipt-header-text">Phone Number:</span>
                    <span class="black-receipt-header-text">TONGA 1, STREET ARAB ROAD KUBWA ABUJA.</span>
                </div>
            </div>
            <!--  -->
            <div>
                <div>
                    <span class="blue-receipt-header-text">Vehicle Make:</span>
                    <span class="black-receipt-header-text">Private</span>
                </div>
                <div>
                    <span class="blue-receipt-header-text">Engine Number:</span>
                    <span class="black-receipt-header-text">Matthew Adeboye</span>
                </div>
                <div>
                    <span class="blue-receipt-header-text">Gross weight:</span>
                    <span class="black-receipt-header-text">07034725207</span>
                </div>
                <div>
                    <span class="blue-receipt-header-text">Max carrier:</span>
                    <span class="black-receipt-header-text">07034725207</span>
                </div>
            </div>
        </div>
    </div>
</div>