<div class="wrapper">
    
    <div class="header" *ngIf="routeviewMode=='staff'">
        <!-- (click)="viewMode = 'verify'" -->
        <button mat-button class="button" [class.active]="viewMode == 'staff-income'">
            Staff setup
        </button>
        <button mat-button class="button" [class.active]="viewMode == 'tax-income'">
            Assess taxable income
        </button>
        <button mat-button class="button" [class.active]="viewMode == 'bill'">
            Generate payable bills
        </button>
    </div>

    <div class="header" *ngIf="routeviewMode=='access'">
        <span class="access_year">{{currentYear}} Assessment</span>  <span class="access_change_year">Change Year</span>
    </div>

    <div [ngSwitch]="viewMode">
        <div *ngSwitchCase="'verify'" class="verify">

            <!-- <div class="form_header">
                <form novalidate [formGroup]="feedbackForm" #fform="ngForm" (ngSubmit)="onSubmit()">
                    <mat-form-field class="cac-width" appearance="outline">
                        <mat-label>(Tax ID)</mat-label>
                        <input matInput formControlName="tin" placeholder="">
                    </mat-form-field>
                    <button mat-button class="verify" type="submit">
                        <span  *ngIf="!loading">Verify</span>
                        <div *ngIf="loading" class="loader">
                            <div class="bubble"></div>
                            <div class="bubble"></div>
                            <div class="bubble"></div>
                            <div class="bubble"></div>
                        </div>
                    </button>

                </form>
            </div>     -->

            <div class="business_header">
                <!-- <div class="tin">Tax ID: {{data2?.payer.tin}}</div> -->
                <div class="tin">Tax ID: 545465666565</div>
                <!-- <div class="soft_pattern"> {{data2?.organisation_name}} <span class="material-icons">close_fullscreen</span></div> -->
                <div class="soft_pattern"> Softpattern Technology Limited <span class="material-icons">close_fullscreen</span></div>
                <div class="reg_buss">Registered Business</div>
            </div>

            
            <mat-toolbar class="header2">
                <div class="indcom">
                    List of Added Employee ({{currentYear}})
                </div>
                <div class="spacer"></div>
                <div class="search_icon_p">
                    <form class="search-form" novalidate [formGroup]="SearchForm" #fformsearch="ngForm">
                        <input matInput formControlName="search" type="text" class="input" >
                    </form>
                    <mat-icon class="search_icon">search</mat-icon>
                </div>
            </mat-toolbar>


            <div class="table-container">
                <div class="table-responsive">
                    <table datatable [dtOptions]="dtOptions" class="row-border table table-striped table-hover table-borderless">
                        <thead>
                        <tr>
                                <th class="align-middle">S/N</th>
                                <th class="align-middle">Tax ID</th>
                                <th class="align-middle">Name of Employee</th>
                                <th class="align-middle">
                                    <div>Gross income (-N-)</div>
                                    <div>Per Annual</div>
                                </th>
                                <th class="align-middle">
                                    <div>Tax free Income (-N-)</div>
                                    <div>Per Annual</div>
                                </th>
                                <th class="align-middle">
                                    <div>Taxable Income (-N-)</div>
                                    <div>Per Annual</div>
                                </th>
                                <th> </th>
                        </tr>
                        </thead>
                        <!-- individual -->
                        <tbody *ngIf="datas?.length != 0">
                            <tr *ngFor="let data of datas; let i=index">
                                <td class="align-middle">{{i+1}}</td>
                                <!-- <td class="align-middle">{{ data.employeeTin }}</td>
                                <td class="align-middle">{{ data.employee }}</td>
                                <td class="align-middle">{{ formatMoney(data.gross) }}</td>
                                <td class="align-middle">{{ formatMoney(data.compute_annualtax) }}</td>
                                <td class="align-middle">{{ formatMoney(data.compute_taxable) }}</td>
                                <td class="check align-middle" (click)="OpenDialog(data, 'payee2')">
                                    check 
                                    <mat-icon class="table-icon">dashboard_customize</mat-icon>
                                </td> -->
                                <td class="align-middle">434443443</td>
                                <td class="align-middle">frwferf rferfref</td>
                                <td class="align-middle">10,000,444.00</td>
                                <td class="align-middle">12.4555.443</td>
                                <td class="align-middle">4344,443432</td>
                                <td class="check align-middle">
                                    check 
                                    <mat-icon class="table-icon">dashboard_customize</mat-icon>
                                </td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="datas?.length == 0">
                            <tr>
                                <td colspan="3" class="no-data-available">No data!</td>
                                <td colspan="3" class="no-data-available">No data!</td>
                                <td colspan="3" class="no-data-available">No data!</td>
                                <td colspan="3" class="no-data-available">No data!</td>
                                <td colspan="3" class="no-data-available">No data!</td>
                                <td colspan="3" class="no-data-available">No data!</td>
                                <td colspan="3" class="no-data-available">No data!</td>
                            </tr>
                        </tbody>

                        <div *ngIf="isLoading" class="loader loading">
                            <div class="bubble"></div>
                            <div class="bubble"></div>
                            <div class="bubble"></div>
                            <div class="bubble"></div>
                        </div>

                        <button mat-raised-button *ngIf="datas?.length == 0" class="reload" (click)="Reload()">
                            <span *ngIf="!is_reload">RELOAD</span>
                            <div *ngIf="is_reload" class="loader">
                                <div class="bubble"></div>
                                <div class="bubble"></div>
                                <div class="bubble"></div>
                                <div class="bubble"></div>
                            </div>
                        </button>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div [ngSwitch]="viewMode">
        <div *ngSwitchCase="'staff-income'" class="staff-income">
            <app-staff-income></app-staff-income>
        </div>
    </div>

    <div [ngSwitch]="viewMode">
        <div *ngSwitchCase="'tax-income'" class="tax-income">
            <app-tax-income></app-tax-income>
        </div>
    </div>

    <div [ngSwitch]="viewMode">
        <div *ngSwitchCase="'bill'" class="bill">
            <app-payee-bills></app-payee-bills>
        </div>
    </div>
    
    
</div>
    
    