<div class="view-user-wrapper">

    <p class="back" [routerLink]="['/dashboard/dashboard5/admin-console']">
        <mat-icon>keyboard_backspace</mat-icon> Back
    </p>

    <div class="view-user-email">{{ datas?.data?.first_name }} {{ datas?.data?.last_name }} ({{ datas?.data?.email }})</div>

    <div class="view-user-container">
        <div class="view-user-left">
            <input type="file" class="upload-file-input" (change)="onFileSelected($event)" #fileUpload
                accept="image/*" />
            <div (click)="fileUpload.click()">
                <div class="picture_container">
                    <div *ngIf="!image">
                        add picture
                        <i class="fa fa-camera fa-lg" style="margin-left: 10px;" aria-hidden="true"></i>
                    </div>
                    <img *ngIf="image" class="view-user-image" [src]="displayImage(image)" alt="{{filename}}">
                </div>
            </div>
            <div class="department">Departments</div>
            <div class="role_p" *ngFor="let depart of datas?.data?.department">
                <div class="paye">{{ depart?.name || 'None' }}</div>
                <!-- <div class="edit" (click)="edit()">Edit</div> -->
            </div>
            <!-- <div class="department">Role</div>
            <div class="role_p" *ngFor="let role of datas?.data?.groups">
                <div class="paye">{{ role.name || 'None' }}</div>
                <div class="edit" (click)="edit()">Edit</div>
            </div> -->
            <div class="department">OFFICE</div>
            <div class="role_p">
                <div class="paye">{{ datas?.data?.location?.name || 'None' }}</div>
                <!-- <div class="edit" (click)="edit()">Edit</div> -->
            </div>
        </div>
        <div class="view-user-right">
            <div class="role_p">
                <div class="paye">Personal Information</div>
                <div class="edit" (click)="edit()">Edit</div>
            </div>
            <div class="personal_info">
                <span class="text1">Username:</span>
                <span class="text2">{{ datas?.data?.username }}</span>
            </div>
            <div class="personal_info">
                <span class="text1">First Name:</span>
                <span class="text2">{{ datas?.data?.first_name }}</span>
            </div>
            <div class="personal_info">
                <span class="text1">Last Name:</span>
                <span class="text2">{{ datas?.data?.last_name }}</span>
            </div>
            <div class="paye" style="margin-top: 1.5rem;">Account information</div>
            <div class="personal_info">
                <span class="text1">Account Creation Time:</span>
                <span class="text2" style="margin-left: 16%;">{{ datas?.data?.created_at | date:"medium" }}</span>
            </div>
            <div class="personal_info">
                <span class="text1">Last Login Time:</span>
                <span class="text2" style="margin-left: 25%;">{{ datas?.data?.last_login | dateAgo }}</span>
            </div>

        </div>
    </div>
</div>