.wrapper2 {
  color: var(--white);
  overflow-y: auto;

  .logo_p {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    width: 70px;
    height: 70px;
  }

  %shared-dash-text {
    font: normal normal 15px/19px var(--mont);
    letter-spacing: 0px;
    cursor: pointer;
    font-weight: 500;
    padding: 0.3rem;
  }

  .button {
    margin-top: 1rem;
    margin-left: 1.7rem;
    margin-right: 1.7rem;

    .hambugger {
      float: right;
      background: var(--white);
      color: var(--green);
      margin-right: -10px;
    }

    .dash-text {
      @extend %shared-dash-text;
      margin-top: 3rem;
    }

    .dash-text2 {
      @extend %shared-dash-text;
      margin-top: 1.5rem;
    }

    .active {
      background: #ffffff66;
    }

    .back {
      vertical-align: middle;
      font: normal normal 15px/19px var(--mont);
      letter-spacing: 0px;
      color: var(--white);
      margin-top: 2rem;
      font-weight: 500;
      cursor: pointer;
      opacity: 1;
    }

    .back mat-icon {
      vertical-align: middle;
    }

    .pay_as_you_earn {
      margin-top: 1rem;
      color: rgba(255, 255, 255, 0.5);
      font: normal normal 700 20px/24px var(--mont);
      letter-spacing: 0px;
      cursor: pointer;
    }
  }
}
