@import "~bootstrap/dist/css/bootstrap.css";

$card-back: rgba(255, 255, 255, 0.7) 0% 0% no-repeat padding-box;
$card-box-shadow: 0px 6px 6px #00000029;
$header-text: normal normal normal 15px/19px Montserrat;
$header-color: #3c66a3;

.card_p {
  margin-top: 2rem;

  .card1 {
    float: left;
    width: 49.1%;
    padding: 1rem;
    margin-right: 5px;
    background: $card-back;
    box-shadow: $card-box-shadow;
    border-radius: 10px;
  }

  .card2 {
    float: left;
    width: 49.1%;
    padding: 1rem;
    margin-left: 5px;
    background: $card-back;
    box-shadow: $card-box-shadow;
    border-radius: 10px;
  }

  .line {
    height: 370px;
    width: 370px;
  }

  .header {
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font: $header-text;
    letter-spacing: 0px;
    color: $header-color;
    opacity: 1;
  }

  .chart {
    display: flex;
    justify-content: left;
    align-self: left;
    word-wrap: break-word;
    word-break: break-all;
    overflow-wrap: break-word;
  }

  .chart-catalog {
    margin-top: auto;
    margin-bottom: auto;
  }

  .chart-catalog div {
    margin-bottom: 10px;
    font: normal normal normal 12px/15px Montserrat;
    letter-spacing: 0px;
    color: #565656;
    opacity: 1;
  }

  .catalog-payee {
    background: #224478;
    color: #224478;
  }

  .catalog-vehicle {
    background: #bc333e;
    color: #bc333e;
  }

  .catalog-direct {
    background: #286c65;
    color: #286c65;
  }

  .catalog-land {
    background: #4b9934;
    color: #4b9934;
  }

  .catalog-other {
    background: #c36f38;
    color: #c36f38;
  }

  .catalog-a {
    background: #4f3f8e;
    color: #4f3f8e;
  }

  .catalog-b {
    background: #4d3e00;
    color: #4d3e00;
  }

  .catalog-c {
    background: #cecb4c;
    color: #cecb4c;
  }

  .catalog-d {
    background: #69388a;
    color: #69388a;
  }

  .catalog-o {
    background: #2e1301;
    color: #2e1301;
  }
}

@media (max-width: 1300px) {
  .chart {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
