/* You can add global styles to this file, and also import other style files */

@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~material-icons/iconfont/material-icons.css";
@import "../node_modules/font-awesome/css/font-awesome";
@import "./assets/css/roboto.css";
@import "./assets/css/montserrat.css";
@import "./assets/css/inter.css";

:root {
  --white: #ffffff;
  --inter: Inter;
  --mont: Montserrat;
  --roboto: Roboto;
  --black: #000000;
  --red: #b5130e;
  --green: #038541;
  --orange: orange;
  --blue: #3c66a3;
  --yellow-bg: #b9a005 0% 0% no-repeat padding-box;
  --yellow: #b9a005;
  --form-gray: #565656;
  --card-shadow: #00000029;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: var(--roboto), "Helvetica Neue", sans-serif;
}

.mat-snack-bar-container.success {
  color: var(--white);
  background: var(--green);
}

.mat-snack-bar-container.error {
  color: var(--white);
  background: var(--red);
}

.mat-snack-bar-container.warning {
  color: var(--orange);
}

.mat-simple-snackbar-action button {
  color: var(--white);
}

.cdk-overlay-container
  .cdk-overlay-backdrop.cdk-overlay-dark-backdrop.cdk-overlay-backdrop-showing {
  background: rgba(3, 133, 65, 0.2);
  backdrop-filter: blur(6px);
}

.mat-dialog-container {
  border-radius: 10px !important;
}

.cdk-global-overlay-wrapper {
  overflow-y: auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
