/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~material-icons/iconfont/material-icons.css';
@import '../node_modules/font-awesome/css/font-awesome';


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.success {
    color: lightgreen;
  }
  
.error {
    color: lightcoral;
}

.cdk-overlay-container .cdk-overlay-backdrop.cdk-overlay-dark-backdrop.cdk-overlay-backdrop-showing {
  background: #000000 0% 0% no-repeat padding-box;
  opacity: 0.6;
}

.mat-dialog-container {
  border-radius: 20px !important;
}