<div class="wrapper">

    <p class="back" [routerLink]="['/dashboard/dashboard3/taxpayer/payee/lists']">
        <mat-icon>keyboard_backspace</mat-icon> Back
    </p>

    <div class="header">
        <div class="header-container">
            <div class="soft_pattern">Softpattern Pattern Technology</div>
            <div class="reg_buss">Tax ID: 34546678844</div>
        </div>
    </div>

    <!-- table container -->

    <div class="table-container">

        <div class="PayE">Company PayE Assessment</div>

        <div class="column">
            <div class="column1">
                <div class="employee-salary">Description</div>
                <div class="left_right">
                    <div class="left">
                        <div class="title">Assessment Period</div>
                        <div class="title">Tax Type</div>
                        <div class="title">No. Of employee</div>
                        <div class="title">Currency</div>
                        <div class="title">Date of assessment</div>
                        <div class="title">Total monthly Gross</div>
                        <div class="title">Total Taxable Income</div>
                        <div class="title">Consolidated relief allowance</div>
                        <div class="title">Monthly tax Liability</div>
                        <div class="title2">TOTAL PAYE PAYABLE</div>
                    </div>
                </div>

            </div>

            <div class="column2">
                <div class="deduction">Amount</div>
                <div class="left_right">
                    <div class="left2">
                        <div class="title">January</div>
                        <div class="title">PAYE</div>
                        <div class="title">2</div>
                        <div class="title">NGN</div>
                        <div class="title">01/12/2020</div>
                        <div class="title">NGN 10,000</div>
                        <div class="title">NGN 10,000</div>
                        <div class="title">NGN 5,000</div>
                        <div class="title">NGN 5,000</div>
                        <div class="title2">NGN 10,000</div>
                    </div>
                </div>
            </div>
        </div>

        <div style="clear: both;"></div>

    </div>

    <div style="clear: both; padding-top: 3rem;"></div>


</div>