$wrapper-back: #f5f7fa;
$soft-pattern-font: normal normal normal 15px/19px Montserrat;
$soft-pattern-color: #3c66a3;
$tin-color: #565656;
$reg-buss-font: normal normal normal 15px/19px Montserrat;
$white: #ffffff;

.wrapper {
  padding-left: 20px;

  .back {
    margin-top: 1.5rem;
    color: #b9a005;
    font: $soft-pattern-font;
    font-weight: 500;
    cursor: pointer;
  }

  .back mat-icon {
    vertical-align: middle;
  }

  .header {
    margin-top: 2rem;
    width: 80%;
    background: #ffffff 0% 0% no-repeat padding-box;
    opacity: 1;
    padding: 3rem;

    .soft_pattern {
      font: $soft-pattern-font;
      letter-spacing: 0px;
      color: $soft-pattern-color;
      font-weight: 500;
      opacity: 1;
    }

    .icons-rounded {
      vertical-align: middle;
      color: #038541;
    }

    .reg_buss {
      font: $reg-buss-font;
      letter-spacing: 0px;
      color: $tin-color;
      font-weight: 500;
      margin-top: 10px;
      margin-bottom: 10px;
      opacity: 1;
    }
  }

  .table-container {
    margin-top: 3rem;
    padding: 1rem 3rem;
    width: 80%;
    background: $white 0% 0% no-repeat padding-box;
  }

  .table-container2 {
    display: flex;
    justify-content: space-between;
  }

  .PayE {
    font: normal normal normal 14px/16px Montserrat;
    letter-spacing: 0px;
    color: #565656;
    font-weight: 550;
    margin-top: 1rem;
    margin-bottom: 2rem;
    opacity: 1;
  }

  .column {
    width: 60%;
  }

  .column1 {
    float: left;
    width: 50%;
  }

  .column2 {
    float: right;
    width: 50%;
  }

  .employee-salary,
  .deduction {
    background: #697692 0% 0% no-repeat padding-box;
    opacity: 1;
    padding: 0.6rem 15px;
    font: normal normal normal 14px/17px Montserrat;
    font-weight: 500;
    letter-spacing: 0px;
    color: $white;
    opacity: 1;
  }

  .left_right {
    display: flex;
  }

  .left {
    float: left;
    width: 100%;
  }

  .left2 {
    float: left;
    width: 100%;
  }

  .title {
    font: normal normal normal 13px/16px Montserrat;
    font-weight: 500;
    letter-spacing: 0px;
    color: #565656;
    opacity: 1;
    vertical-align: middle;
    padding: 15px;
    height: 1rem;
    display: flex;
    justify-content: left;
    align-items: center;
  }

  .title2 {
    font: normal normal normal 13px/16px Montserrat;
    font-weight: 600;
    letter-spacing: 0px;
    color: #565656;
    opacity: 1;
    vertical-align: middle;
    text-transform: uppercase;
    padding: 15px;
    height: 2rem;
    display: flex;
    justify-content: left;
    align-items: center;
  }

  .blue {
    color: $soft-pattern-color;
  }

  .green {
    color: #038541;
  }

  .red {
    color: #e9322c;
  }

  .generate_bill {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: 2rem;
  }

  .gen_notice {
    border: 1px solid #b9a005;
    border-radius: 10px;
    font: normal normal normal 15px/20px Montserrat;
    letter-spacing: 0px;
    color: #b9a005;
    padding: 0.6rem;
    opacity: 1;
  }

  .gen_bill {
    background: #b9a005 0% 0% no-repeat padding-box;
    border-radius: 10px;
    font: normal normal normal 15px/20px Montserrat;
    letter-spacing: 0px;
    padding: 0.6rem;
    color: $white;
    opacity: 1;
  }

  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em 0 0.5em 0;
  }

  .bubble {
    animation: expand 0.75s ease-in-out infinite;
    border-radius: 20px;
    display: inline-block;
    transform-origin: center center;
    margin: 0 3px;
    width: 7px;
    height: 7px;
  }

  .bubble:nth-child(1) {
    background: $white;
  }

  .bubble:nth-child(2) {
    animation-delay: 180ms;
    background: $white;
  }

  .bubble:nth-child(3) {
    animation-delay: 360ms;
    background: $white;
  }

  .bubble:nth-child(4) {
    animation-delay: 540ms;
    background: $white;
  }

  @keyframes expand {
    0% {
      transform: scale(1);
    }
    25% {
      transform: scale(1.55);
    }
  }
}

@media (max-width: 1300px) {
  .wrapper {
    .column {
      width: 80%;
    }
  }
}

@media (max-width: 1050px) {
  .wrapper {
    .column {
      width: 95%;
    }
  }
}
