<div class="footer">
    <div class="menu">
        <div mat-button [matMenuTriggerFor]="menu">
            <div class="d-h-l">
                <div class="category">
                    <img src="assets/images/emoji.png" class="category-icon2" alt=""/>
                    <div>
                        <div class="right_text1" *ngIf="profile?.is_staff">
                            Welcome, Admin
                        </div>
                        <div class="right_text1" *ngIf="!profile?.is_staff">Welcome</div>
                        <div class="right_text2" *ngIf="profile">
                            {{ limit(profile.username) }}
                        </div>
                        <div class="right_text2" *ngIf="!profile">
                            {{ limit("Unknown") }}
                        </div>
                    </div>
                    <span class="fa fa-chevron-up fa-lg category-icon" aria-hidden="true"></span>
                </div>
            </div>
        </div>
    </div>

    <mat-menu #menu="matMenu">
        <button mat-menu-item>
            <mat-icon>dialpad</mat-icon>
            <span>Redial</span>
        </button>
        <button mat-menu-item disabled>
            <mat-icon>voicemail</mat-icon>
            <span>Check voice mail</span>
        </button>
        <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon>
            <span>Disable alerts</span>
        </button>
    </mat-menu>
</div>
