<div class="footer">
    <div class="menu">
        <div mat-button [matMenuTriggerFor]="menu">
            <div class="d-h-l">
                <div class="category">
                    <img src="assets/images/emoji.png" class="category-icon2" alt=""/>
                    <div>
                        <div class="right_text1">
                            Welcome, {{ profile?.department?.name }}
                        </div>
                        <div class="right_text2" *ngIf="profile">
                            {{ limit(profile.username) }}
                        </div>
                        <div class="right_text2" *ngIf="!profile">
                            {{ limit("Unknown") }}
                        </div>
                    </div>
                    <span class="fa fa-chevron-up fa-lg category-icon" aria-hidden="true"></span>
                </div>
            </div>
        </div>
    </div>

    <mat-menu #menu="matMenu">
        <div class="mat-menu">
            <button mat-menu-item="mat-menu-item" style="color: #3C66A3;" class="mat-menu" [routerLink]="['/dashboard/dashboard5/account']">View profile</button>
            <button mat-menu-item="mat-menu-item" (click)="logout()" style="color: red;" class="mat-menu">Logout</button>
        </div>
    </mat-menu>
</div>
