<div class="wrapper">
    <!-- session1 -->
    <div class="session">

        <div class="session-header">Personal Details</div>

        <form class="form1" novalidate [formGroup]="feedbackForm3" #fform3="ngForm" (ngSubmit)="onSubmit()">
            <p>
                <!-- firstname -->
                <mat-form-field class="half" appearance="outline">
                    <mat-label>First name</mat-label>
                    <input matInput formControlName="firstname" required>
                    <mat-error>{{formErrors.firstname}}</mat-error>
                </mat-form-field>
                <!-- surname -->
                <mat-form-field class="half" appearance="outline">
                    <mat-label>Surname</mat-label>
                    <input matInput formControlName="surname" required>
                    <mat-error>{{formErrors.surname}}</mat-error>
                </mat-form-field>
            </p>
            <p style="margin-top: 1rem;">
                <!-- phone -->
                <mat-form-field class="half-width2" appearance="outline">
                    <mat-label>Contact number</mat-label>
                    <input matInput formControlName="contact" type="tel" required>
                    <mat-error>{{formErrors.contact}}</mat-error>
                </mat-form-field>
                <!-- email -->
                <mat-form-field class="half-full" appearance="outline">
                    <mat-label>Email Address</mat-label>
                    <input matInput type="email" formControlName="contact_email" email required>
                    <mat-error>{{formErrors.contact_email}}</mat-error>
                </mat-form-field>
            </p>

            <div class="session-header">MDA Collection</div>
            <p></p>

            <p>
                <!-- mda_name -->
                <mat-form-field class="full" appearance="outline">
                    <mat-label>Name of MDA</mat-label>
                    <input matInput formControlName="mda_name" [matAutocomplete]="auto" required>
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option"
                            (click)="getMdaRev(option)">
                            {{option}}
                        </mat-option>
                    </mat-autocomplete>
                    <button type="button" matSuffix mat-icon-button class="drop_down">
                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                    </button>
                    <mat-hint *ngIf="mdaLoading" align="end">Loading...</mat-hint>
                    <mat-hint *ngIf="mdaError" align="end">
                        <button type="button" (click)="saveMda()">Reload</button>
                    </mat-hint>
                    <mat-error>{{formErrors.mda_name}}</mat-error>
                </mat-form-field>
            </p>
            <p>
                <!-- service_name -->
                <mat-form-field class="full" appearance="outline">
                    <mat-label>Name of Service/Purpose</mat-label>
                    <input matInput formControlName="service_name" [matAutocomplete]="auto2" required>
                    <mat-autocomplete autoActiveFirstOption #auto2="matAutocomplete">
                        <mat-option *ngFor="let option of filteredOptions2 | async" [value]="option"
                            (click)="getRevMdaAmt(option)">
                            {{option}}
                        </mat-option>
                    </mat-autocomplete>
                    <button matSuffix type="button" mat-icon-button class="drop_down">
                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                    </button>
                    <mat-error>{{formErrors.service_name}}</mat-error>
                </mat-form-field>
            </p>
            <p>
                <!-- amount -->
                <mat-form-field class="half" appearance="outline">
                    <mat-label>Fixed Amount To Pay (&#8358;)</mat-label>
                    <input matInput formControlName="amount" type="number">
                    <button type="button" matSuffix mat-icon-button class="lock">
                        <mat-icon>lock</mat-icon>
                    </button>
                </mat-form-field>
            </p>

            <div class="final_submit">
                <button type="submit" mat-button class="verify" [disabled]="disabled2 === true">
                    <span *ngIf="!loading2">Generate Bill</span>
                    <div *ngIf="loading2" class="loader">
                        <div class="bubble"></div>
                        <div class="bubble"></div>
                        <div class="bubble"></div>
                        <div class="bubble"></div>
                    </div>
                </button>
            </div>
        </form>
    </div>
</div>