.wrapper {
  padding-left: 20px;
}

.session {
  background: rgba(62, 95, 168, 0.05);
  padding: 1em 1em 0 1em;
  margin-top: 32px;
  margin-bottom: 32px;
  opacity: 1;
  width: 800px;
  padding-left: 20px;

  .session-header {
    font: normal normal 15px/19px var(--mont);
    letter-spacing: 0px;
    color: #8650ae;
    font-weight: bold;
    opacity: 1;
  }

  input[type="text"] {
    background: var(--form-gray);
  }

  ::ng-deep .mat-select-arrow {
    color: var(--green);
    opacity: 1;
  }

  .form1 {
    margin-top: 16px;
  }

  mat-form-field {
    color: 1px solid var(--green);
  }

  @mixin form($width) {
    width: $width;
    margin-right: 2%;
  }

  .half-width {
    @include form($width: 20%);
  }

  .half-width2 {
    @include form($width: 30%);
  }

  .half-width3 {
    @include form($width: 27.3%);
  }

  .half-full {
    @include form($width: 54%);
  }

  .full-half {
    @include form($width: 64%);
  }

  .full {
    @include form($width: 86%);
  }

  .half {
    @include form($width: 42%);
  }

  .radio_button {
    margin-left: 30px;
  }

  .lock {
    color: var(--green);
  }

  .drop_down {
    color: #3e538f;
  }

  mat-error {
    text-transform: capitalize;
    transition: all 0.5s;
    font: normal normal normal 12px/15px var(--mont);
    letter-spacing: 0px;
  }

  .final_submit {
    margin-top: 48px;
    padding-bottom: 48px;

    @mixin theme($back, $color, $font, $border) {
      letter-spacing: 0px;
      font: $font;
      background: $back;
      border: $border;
      border-radius: 10px;
      color: $color;
      font-weight: 500;
      opacity: 1;
      padding: 16px;
    }

    .verify {
      width: 150px;
      font-weight: 500;
      @include theme(
        $back: transparent
          linear-gradient(150deg, var(--blue) 0%, var(--green) 100%) 0% 0%
          no-repeat padding-box,
        $color: var(--white),
        $font: normal normal normal 12px/15px var(--mont),
        $border: unset
      );
    }

    .verify:disabled {
      color: var(--white);
    }

    .verify2 {
      margin-right: 20px;
      width: 150px;
      @include theme(
        $back: var(--white),
        $color: var(--green),
        $font: normal normal normal 12px/15px var(--mont),
        $border: 1px solid var(--green)
      );
    }

    .verify:hover,
    .verify2:hover {
      background: transparent
        linear-gradient(180deg, #4be63d 0%, var(--green) 100%) 0% 0% no-repeat
        padding-box;
      box-shadow: 0px 3px 6px var(--card-shadow);
      color: var(--white);
    }

    .loader {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.5em 0 0.5em 0;
    }

    .bubble {
      animation: expand 0.75s ease-in-out infinite;
      border-radius: 20px;
      display: inline-block;
      transform-origin: center center;
      margin: 0 3px;
      width: 7px;
      height: 7px;
    }

    .bubble:nth-child(1) {
      background: var(--white);
    }

    .bubble:nth-child(2) {
      animation-delay: 180ms;
      background: var(--white);
    }

    .bubble:nth-child(3) {
      animation-delay: 360ms;
      background: var(--white);
    }

    .bubble:nth-child(4) {
      animation-delay: 540ms;
      background: var(--white);
    }

    @keyframes expand {
      0% {
        transform: scale(1);
      }
      25% {
        transform: scale(1.55);
      }
    }
  }

  ::ng-deep .mat-step-header .mat-step-icon-selected,
  .mat-step-header .mat-step-icon-state-done,
  .mat-step-header .mat-step-icon-state-edit {
    background-color: var(--green);
  }

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: var(--green);
  }

  ::ng-deep
    .mat-form-field-appearance-outline.mat-focused
    .mat-form-field-outline-thick {
    color: var(--green);
  }

  ::ng-deep .mat-input-element {
    caret-color: var(--green);
  }

  ::ng-deep .mat-form-field-label {
    color: var(--form-gray);
  }

  ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: var(--form-gray);
  }

  ::ng-deep .mat-form-field-underline,
  ::ng-deep .mat-form-field-ripple {
    background: var(--blue);
  }

  ::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color: var(--blue);
  }

  ::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: var(--white); /*inner circle color change*/
  }

  ::ng-deep
    .mat-radio-button.mat-accent.mat-radio-checked
    .mat-radio-outer-circle {
    border-color: var(--blue); /*outer ring color change*/
    background: var(--blue);
  }
}

@media (max-width: 1400px) {
  .session {
    width: 95%;
    overflow-x: hidden;
  }
}
