<ngx-loading-bar [color]="'#47A83E'" height="5px"></ngx-loading-bar>
<div class="main">

    <mat-toolbar class="nav">
        <span class="spacer"></span>
        <img src="assets/images/Group414.svg" alt="">
    </mat-toolbar>

    <div class="login-container">
        <div class="login-imagee">
            <img src="assets/images/gombelogo.png" alt="">
        </div>
        <form novalidate [formGroup]="feedbackForm" #fform="ngForm" (ngSubmit)="onSubmit()">
            <div class="login-text">Login ID</div>

            <mat-form-field class="full-width" appearance="standard">
                <input matInput formControlName="username" type="text" placeholder="Type ID here"
                    class="email">
                <mat-error *ngIf="formErrors.username">{{formErrors.username}}</mat-error>
            </mat-form-field>

            <mat-form-field class="full-width" appearance="standard">
                <input matInput formControlName="password" type="password" placeholder="Password"
                    class="password">
                <mat-error *ngIf="formErrors.password">{{formErrors.password}}</mat-error>
            </mat-form-field>

            <div class="submit_p">
                <button mat-button type="submit" [disabled]="fform.form.invalid || disabled === true"
                    class="submit">
                    <span *ngIf="!loading">Access</span>
                    <div *ngIf="loading" class="loader">
                        <div class="bubble"></div>
                        <div class="bubble"></div>
                        <div class="bubble"></div>
                        <div class="bubble"></div>
                    </div>
                </button>
            </div>

            <div class="dont" [routerLink]="['/register']">Don't have an account? Register</div>
            <div class="forget" [routerLink]="['/forget-password']">Forget password</div>
        </form>
    </div>
</div>