.main {
  overflow: auto;
  position: relative;
  background-repeat: no-repeat;
  background-position: fit;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      rgba(71, 168, 62, 0.2),
      rgba(42, 169, 119, 0.2)
    ),
    url("/assets/images/Gombe-556x312.jpg");

  .nav {
    height: 5rem;
    padding: 1rem;
    background: var(--white) 0% 0% no-repeat padding-box;
    opacity: 1;
  }

  .nav img {
    margin-right: 2rem;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .login-container {
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 23rem;
    background: var(--white) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px;
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .login-imagee img {
    width: 100px;
    height: 100px;
    margin-top: -50px;
  }

  form {
    padding: 2rem;
    margin-top: 2rem;
    margin-top: 2rem;
    text-align: center;
  }

  .login-text {
    font: normal normal normal 20px/24px var(--mont);
    letter-spacing: 0px;
    color: var(--green);
    font-weight: 500;
    opacity: 1;
    margin-top: -3rem;
  }

  .full-width {
    width: 80%;
  }

  ::ng-deep .mat-form-field-underline,
  ::ng-deep .mat-form-field-ripple {
    background: grey;
  }

  mat-label {
    color: #00000029;
    opacity: 0.5;
  }

  mat-error {
    text-transform: capitalize;
    transition: all 0.5s;
    font: normal normal normal 14px/19px var(--mont);
  }

  input[type="text"],
  input[type="password"] {
    caret-color: var(--black);
    background: none;
  }

  .submit_p {
    text-align: center;
  }

  .submit {
    background: var(--yellow-bg);
    border-radius: 10px;
    opacity: 1;
    width: 50%;
    text-align: center;
    font: normal normal normal 20px/24px var(--mont);
    letter-spacing: 0px;
    color: var(--white);
    padding: 0.7rem;
    margin-top: 1.5rem;
  }

  .dont,
  .forget {
    font: normal normal normal 15px/19px var(--mont);
    font-weight: 500;
    letter-spacing: 0px;
    color: var(--blue);
    opacity: 1;
    cursor: pointer;
  }

  .dont {
    margin-top: 1.5rem;
  }

  .forget {
    margin-top: 10px;
  }

  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em 0 0.5em 0;
  }

  .bubble {
    animation: expand 0.75s ease-in-out infinite;
    border-radius: 20px;
    display: inline-block;
    transform-origin: center center;
    margin: 0 3px;
    width: 7px;
    height: 7px;
  }

  .bubble:nth-child(1) {
    background: var(--white);
  }

  .bubble:nth-child(2) {
    animation-delay: 180ms;
    background: var(--white);
  }

  .bubble:nth-child(3) {
    animation-delay: 360ms;
    background: var(--white);
  }

  .bubble:nth-child(4) {
    animation-delay: 540ms;
    background: var(--white);
  }

  @keyframes expand {
    0% {
      transform: scale(1);
    }
    25% {
      transform: scale(1.55);
    }
  }
}
