$back-white: #f4f6fa;
$background: transparent linear-gradient(180deg, #47a83e 0%, #2aa977 100%) 0% 0%
  no-repeat padding-box;
$white: #ffffff;
$ttc: normal normal normal 20px/24px Montserrat;
$black-shadow: #00000029;
$font: Montserrat;
$login-text-green: #44a842;
$need-green: #31a869;
$need-font: normal normal normal 15px/19px Montserrat;
$grey: grey;
$black: black;

.main {
  height: 100vh;
  width: 100%;
  background: $background;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  .right {
    height: 100%;
    width: 50%;
    background: $back-white 0% 0% no-repeat padding-box;
    border-radius: 100px 0px 0px 100px;
    opacity: 1;

    .right-main {
      position: relative;
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .right_green_login {
      position: absolute;
      background: $background;
      height: 95px;
      width: 230px;
      padding: 2rem 1.3rem 1.3rem;
      text-align: center;
      top: 90px;
      right: 25%;
      opacity: 1;
    }

    .right_white_login_parent {
      position: absolute;
      height: 300px;
      width: 220px;
      top: 170px;
      right: 40%;
    }

    .right_white_login {
      width: 100%;
      height: 100%;
      background: $white 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px $black-shadow;
      border-radius: 30px;
      padding: 2rem;
      opacity: 1;
    }

    .ad_ac_log {
      font: $ttc;
      letter-spacing: 0px;
      color: $white;
      opacity: 1;
      font-weight: 500;
    }

    .login_text {
      margin-top: 1.5rem;
      text-align: left;
      font: $ttc;
      letter-spacing: 0px;
      color: $login-text-green;
      font-weight: 500;
      opacity: 1;
    }

    .full-width {
      width: 100%;
    }

    ::ng-deep .mat-form-field-underline,
    ::ng-deep .mat-form-field-ripple {
      background: $need-green;
    }

    mat-label {
      color: $grey;
    }

    input[type="text"],
    input[type="password"] {
      caret-color: $black;
    }

    .submit_p {
      text-align: center;
    }

    .submit {
      margin-top: 1rem;
      width: 90%;
      height: 3rem;
      background: $background;
      border-radius: 10px;
      text-align: center;
      font: $ttc;
      letter-spacing: 0px;
      font-weight: 500;
      color: $white;
      opacity: 1;
    }

    .loader {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.5em 0 0.5em 0;
    }

    .bubble {
      animation: expand 0.75s ease-in-out infinite;
      border-radius: 20px;
      display: inline-block;
      transform-origin: center center;
      margin: 0 3px;
      width: 7px;
      height: 7px;
    }

    .bubble:nth-child(1) {
      background: $white;
    }

    .bubble:nth-child(2) {
      animation-delay: 180ms;
      background: $white;
    }

    .bubble:nth-child(3) {
      animation-delay: 360ms;
      background: $white;
    }

    .bubble:nth-child(4) {
      animation-delay: 540ms;
      background: $white;
    }

    @keyframes expand {
      0% {
        transform: scale(1);
      }
      25% {
        transform: scale(1.55);
      }
    }

    .need {
      position: absolute;
      bottom: -100px;
      font: $need-font;
      letter-spacing: 0px;
      color: $need-green;
      font-weight: 500;
      margin-top: 1rem;
      width: 100%;
      text-align: center;
      width: 100%;
      // margin-left: 10%;
      opacity: 1;
    }

    .click {
      cursor: pointer;
    }
  }

  .left {
    height: 100%;
    width: 50%;
    padding-left: 1em;
    padding-right: 1em;
    background: $background;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .left-image {
      width: 75%;
      height: auto;
    }

    .ttc {
      text-align: center;
      font: $ttc;
      letter-spacing: 0px;
      color: $white;
      font-weight: bold;
      opacity: 1;
    }
  }
}
