$white: #ffffff;
$text1-font: normal normal 18px/20px Montserrat;
$nav-color: #038541 0% 0% no-repeat padding-box;
$text1-font: normal normal 15px/19px Montserrat;
$text2-font: normal normal 300 12px/15px Montserrat;
$right1-font: normal normal 400 15px/19px Montserrat;

.preview_wrapper {
  background: rgba(60, 102, 163, 0.1);
  min-height: 100%;

  .nav_preview {
    color: $white;
    background: $nav-color;
    height: 90px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;

    .logo {
      margin-left: 30px;
      margin-right: 50px;
    }

    .logo img {
      position: absolute;
      top: 50%;
      width: 80px;
    }

    .spacer {
      flex: 1 1 auto;
    }

    .fa {
      font-size: 30px;
    }

    .module {
      font: $text1-font;
      letter-spacing: 0px;
      font-weight: 500;
      color: $white;
      text-transform: capitalize;
      opacity: 1;
      margin-left: 3rem;
    }

    .bell-icon {
      color: $white;
      margin-right: 30px;
    }

    @mixin theme($theme) {
      letter-spacing: 0px;
      font: $theme;
      color: #3c66a3;
      text-align: left;
      margin-left: 10px;
    }

    .left_text1 {
      @include theme($theme: $text1-font);
      font-weight: bold;
    }

    .left_text2 {
      @include theme($theme: $text2-font);
      margin-top: 2px;
    }

    .right_text1 {
      @include theme($theme: $right1-font);
    }

    .right_text2 {
      @include theme($theme: $text1-font);
      font-weight: bold;
    }

    .identity {
      font-size: 20px;
      color: #3c66a3;
    }

    .button-menu {
      outline: none;
      background: none;
      background: $white 0% 0% no-repeat padding-box;
      border: 1px solid $white;
      opacity: 1;
      margin-right: 2rem;
      padding: 0.5rem;
      border-radius: unset;
    }

    .category {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 40px;
    }

    .category-icon {
      display: flex;
      justify-content: left;
      align-items: center;
      margin-right: 10px;
      margin-top: auto;
      margin-bottom: auto;
    }

    .loader {
      border: 5px solid #aac7f4;
      border-top: 5px solid #3c66a3;
      border-radius: 50%;
      width: 10px;
      height: 10px;
      animation: spin 5s linear infinite;
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }

  .container {
    padding: 3rem 3rem 4rem 3rem;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
  }

  .card {
    background: $white 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    padding: 1rem;
    width: 10rem;
    margin-bottom: 30px;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s;
  }

  .card:hover {
    transform: scale(1.2);
  }

  .text {
    margin-left: 5px;
    font: normal normal normal 15px/19px Montserrat;
    letter-spacing: 0px;
    font-weight: 500;
    color: #ffffff;
    text-transform: capitalize;
    opacity: 1;
  }

  @mixin background-theme($theme) {
    background: $theme;
  }

  .dashboard-background {
    @include background-theme($theme: #038541 0% 0% no-repeat padding-box);
  }

  .enumeration-background {
    @include background-theme($theme: #c43217 0% 0% no-repeat padding-box);
  }

  .payee-background {
    @include background-theme($theme: #3c66a3 0% 0% no-repeat padding-box);
  }

  .direct-background {
    @include background-theme($theme: #d56545 0% 0% no-repeat padding-box);
  }

  .vehicle-background {
    @include background-theme($theme: #668c89 0% 0% no-repeat padding-box);
  }

  .mda-background {
    @include background-theme($theme: #d56545 0% 0% no-repeat padding-box);
  }

  .with-background {
    @include background-theme($theme: #c2bb00 0% 0% no-repeat padding-box);
  }

  .pre-background {
    @include background-theme($theme: #003547 0% 0% no-repeat padding-box);
  }

  .wallet-background {
    @include background-theme($theme: #005e54 0% 0% no-repeat padding-box);
  }

  .reporting-background {
    @include background-theme($theme: #413431 0% 0% no-repeat padding-box);
  }

  .admin-background {
    @include background-theme($theme: #a1a2a6 0% 0% no-repeat padding-box);
  }

  .ref-background {
    @include background-theme($theme: #05aff2 0% 0% no-repeat padding-box);
  }

  .enforce-background {
    @include background-theme($theme: #a6033f 0% 0% no-repeat padding-box);
  }

  .audit-background {
    @include background-theme($theme: #400036 0% 0% no-repeat padding-box);
  }

  .tcc-background {
    @include background-theme($theme: #b47079 0% 0% no-repeat padding-box);
  }

  .stamp-background {
    @include background-theme($theme: #203aa2 0% 0% no-repeat padding-box);
  }
}
