<div class="preview_wrapper">

    <mat-toolbar class="nav_preview">

        <div class="logo">
            <img src="assets/images/side_nav_logo.svg" alt="">
        </div>

        <div class="module">all modules</div>

        <span class="spacer"></span>

        <button mat-button class="bell-icon" (click)="logout()">
            <i class="fa fa-sign-out fa-lg" aria-hidden="true"></i>
        </button>

        <button mat-icon-button class="bell-icon">
            <span class="fa fa-bell"></span>
        </button>

    </mat-toolbar>

    <div class="container" fxLayoutGap="30px">
        <div class="card" [routerLink]="['/dashboard']">
            <div class="icon"><img src="assets/images/3669363_dashboard_ic_icon.svg" alt=""></div>
            <div class="text">dashboard</div>
        </div>
        <div class="card" [routerLink]="['/dashboard/dashboard2/taxpayer']">
            <div class="icon"><img src="assets/images/211873_person_stalker_icon.svg" alt=""></div>
            <div class="text">Tax payer</div>
        </div>
        <div class="card" [routerLink]="['/dashboard/dashboard3/taxpayer/payee/business-list']">
            <div class="icon"><img src="assets/images/3668836_bill_fee_tax_icon.svg" alt=""></div>
            <div class="text">Pay as you Earn</div>
        </div>
        <div class="card" [routerLink]="['/dashboard/dashboard5/vehicle']">
            <div class="icon"><img src="assets/images/8725588_car_wash_icon.svg" alt=""></div>
            <div class="text">Vehicle Licensing</div>
        </div>
        <div class="card" [routerLink]="['/dashboard/dashboard3/mda']">
            <div class="icon"><img src="assets/images/Icon awesome-building.svg" alt=""></div>
            <div class="text">MDA</div>
        </div>
        <div class="card" [routerLink]="['/dashboard/dashboard5/direct']">
            <div class="icon"><img src="assets/images/3668836_bill_fee_tax_icon.svg" alt=""></div>
            <div class="text">Direct Assessment</div>
        </div>
        <div class="card" [routerLink]="['/dashboard/dashboard5/admin-console']">
            <div class="icon"><img src="assets/images/3018587_admin_administrator_ajax_options_permission_icon.svg" alt=""></div>
            <div class="text">Admin Console</div>
        </div>
        <div class="card">
            <div class="icon"><img src="assets/images/329-Document Report.svg" alt=""></div>
            <div class="text">Reporting</div>
        </div>
    </div>

</div>