<div class="wrapper">
    <div>
        <div class="verify">

            <div class="department">Location | Showing Lists of all Locations (Offices)</div>

            <mat-toolbar class="header3">
                <button mat-button class="add_user" (click)="openDialog('', 'add-location')">
                    Add location
                </button>
            </mat-toolbar>

            <mat-toolbar class="header2">
                <div class="indcom">
                    Location
                </div>
                <div class="spacer"></div>

                <div class="search_icon_header">
                    <form class="search-form_header">
                        <button matSuffix mat-icon-button class="form-icon_header">
                            <mat-icon>search</mat-icon>
                        </button>
                        <input [ngModel]="search" (ngModelChange)="modelChange($event)" name="search" type="text" placeholder="Search for TaxID, Tax name., etc">
                    </form>
                </div>

            </mat-toolbar>

                <div class="table-container">
                    <div class="table-responsive">
                        <table datatable="datatable" [dtOptions]="dtOptions" class="row-border table table-striped table-hover table-borderless">
                            <thead>
                                <tr>
                                    <th class="align-middle text-center">S/N</th>
                                    <th class="align-middle text-center">Location</th>
                                    <th class="align-middle text-center">Code</th>
                                    <th class="align-middle text-center">No. Of members</th>
                                    <th class="align-middle text-center"></th>
                                    <th class="align-middle text-center"></th>
                                </tr>
                            </thead>
                            <!-- individual -->
                            <tbody *ngIf="datas?.length !== 0">
                                <tr *ngFor="let data of datas; let i=index">
                                    <td class="align-middle text-center">{{i+1}}</td>
                                    <td class="align-middle text-center">{{ data.name }}</td>
                                    <td class="align-middle text-center">{{ data.code }}</td>
                                    <td class="align-middle text-center">{{ data.usercount }}</td>
                                    <td class="align-middle text-center">
                                        <span class="view" *ngIf="getLoding !== data.id" (click)="getAssignUsers(data, data.id)">View</span>
                                        <span *ngIf="getLoding === data.id" class="fa fa-cog fa-lg loader-spin" aria-hidden="true"></span>
                                    </td>
                                    <td class="align-middle text-center">
                                        <button mat-button [matMenuTriggerFor]="menu">
                                            <i class="fa fa-ellipsis-h fa-lg" aria-hidden="true"></i>
                                        </button>
                                        <mat-menu #menu="matMenu">
                                            <button mat-menu-item="mat-menu-item" style="color: #5EA55A;" class="mat-menu" (click)="openDialog(data, 'edit-location')">Edit</button>
                                        </mat-menu>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="datas?.length === 0">
                                <tr>
                                    <td class="no-data-available text-center">No data!</td>
                                    <td class="no-data-available text-center">No data!</td>
                                    <td class="no-data-available text-center">No data!</td>
                                    <td class="no-data-available text-center">No data!</td>
                                    <td class="no-data-available text-center">No data!</td>
                                    <td class="no-data-available text-center">No data!</td>
                                </tr>
                            </tbody>

                            <div *ngIf="isLoading" class="loader loading">
                                <div class="bubble"></div>
                                <div class="bubble"></div>
                                <div class="bubble"></div>
                                <div class="bubble"></div>
                            </div>

                            <button mat-raised-button class="reload" (click)="reload2()">
                                <span *ngIf="!is_reload">Reload</span>
                                <div *ngIf="is_reload" class="loader">
                                    <div class="bubble"></div>
                                    <div class="bubble"></div>
                                    <div class="bubble"></div>
                                    <div class="bubble"></div>
                                </div>
                            </button>
                        </table>
                        <p-paginator [rows]="50" [totalRecords]="totalRecords" (onPageChange)="renderTable($event)"></p-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
