<div class="wrapper">

    <div>
        <div class="verify">

            <div class="department">Location | Showing Lists of all Locations (Offices)</div>

            <mat-toolbar class="header3">
                <button mat-button class="add_user" (click)="OpenDialog('', 'add-location')">
                    Add location
                </button>
            </mat-toolbar>

            <mat-toolbar class="header2">
                <div class="indcom">
                    Location
                </div>
                <div class="spacer"></div>
                <div class="search_icon_p">
                    <form class="search-form">
                        <input [ngModel]="search" (ngModelChange)="modelChange($event)" name="search" type="text" class="input"></form>
                        <mat-icon class="search_icon">search</mat-icon>
                    </div>
                </mat-toolbar>

                <div class="table-container">
                    <div class="table-responsive">
                        <table datatable="datatable" [dtOptions]="dtOptions" class="row-border table table-striped table-hover table-borderless">
                            <thead>
                                <tr>
                                    <th>S/N</th>
                                    <th>Location</th>
                                    <th>Code</th>
                                    <th>No. Of members</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <!-- individual -->
                            <tbody *ngIf="datas?.length != 0">
                                <tr *ngFor="let data of datas; let i=index">
                                    <td class="align-middle">{{i+1}}</td>
                                    <td class="align-middle">{{ data.name }}</td>
                                    <td class="align-middle">{{ data.code }}</td>
                                    <td class="align-middle">{{ data.usercount }}</td>
                                    <td class="align-middle">
                                        <button mat-button class="view" *ngIf="getLoding != data.id" (click)="getAssignUsers(data, data.id)">View</button>
                                        <div *ngIf="getLoding == data.id" class="loader-spin"></div>
                                    </td>
                                    <td class="align-middle">
                                        <button mat-button [matMenuTriggerFor]="menu">
                                            <i class="fa fa-ellipsis-h fa-lg" aria-hidden="true"></i>
                                        </button>
                                        <mat-menu #menu="matMenu">
                                            <button mat-menu-item="mat-menu-item" style="color: #5EA55A;" class="mat-menu" (click)="OpenDialog(data, 'edit-location')">Edit</button>
                                        </mat-menu>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="datas?.length == 0">
                                <tr>
                                    <td class="no-data-available">No data!</td>
                                    <td class="no-data-available">No data!</td>
                                    <td class="no-data-available">No data!</td>
                                    <td class="no-data-available">No data!</td>
                                    <td class="no-data-available">No data!</td>
                                    <td class="no-data-available">No data!</td>
                                </tr>
                            </tbody>

                            <div *ngIf="isLoading" class="loader loading">
                                <div class="bubble"></div>
                                <div class="bubble"></div>
                                <div class="bubble"></div>
                                <div class="bubble"></div>
                            </div>

                            <button mat-raised-button="mat-raised-button" class="reload" (click)="reload2()">
                                <span *ngIf="!is_reload">RELOAD</span>
                                <div *ngIf="is_reload" class="loader">
                                    <div class="bubble"></div>
                                    <div class="bubble"></div>
                                    <div class="bubble"></div>
                                    <div class="bubble"></div>
                                </div>
                            </button>

                        </table>
                    </div>
                </div>
            </div>
        </div>


    </div>
