<ngx-loading-bar [color]="'#47A83E'" height="5px"></ngx-loading-bar>
<div class="main">

    <mat-toolbar class="nav">
        <span class="spacer"></span>
        <img src="assets/images/Group414.svg" alt="">
    </mat-toolbar>

    <div>

    <div class="login-container">
        <div class="login-imagee">
            <img src="assets/images/gombelogo.jpeg" alt="">
        </div>
        <form novalidate [formGroup]="feedbackForm" #fform="ngForm" (ngSubmit)="onSubmit()">
            <div class="login-text">Reset Password</div>

            <!-- email -->
            <mat-form-field class="full-width">
                <mat-label>Email Address</mat-label>
                <input matInput type="email" formControlName="nin" email required>
                <mat-error>{{formErrors.nin}}</mat-error>
            </mat-form-field>

            <div class="submit_p">
                <button mat-button type="submit" [disabled]="fform.form.invalid || disabled === true"
                    class="submit">
                    <span *ngIf="!loading">Reset</span>
                    <div *ngIf="loading" class="loader">
                        <div class="bubble"></div>
                        <div class="bubble"></div>
                        <div class="bubble"></div>
                        <div class="bubble"></div>
                    </div>
                </button>
            </div>

            <div class="dont" [routerLink]="['/']">Remember Password? Login</div>
            
        </form>
    </div>

</div>