$wrapper-back: #f5f7fa;
$soft-pattern-font: normal normal normal 15px/19px Montserrat;
$soft-pattern-color: #3c66a3;
$tin-color: #565656;
$reg-buss-font: normal normal normal 15px/19px Montserrat;
$white: #ffffff;
$radio-color: #3c66a3;


.wrapper {
  background: $wrapper-back;
  overflow: auto;
  min-height: 100vh;

  .header {
    background: #ffffff 0% 0% no-repeat padding-box;
    opacity: 1;
    padding: 3rem;

    .soft_pattern {
      font: $soft-pattern-font;
      letter-spacing: 0px;
      color: $soft-pattern-color;
      font-weight: 500;
      opacity: 1;
    }

    .reg_buss {
      font: $reg-buss-font;
      letter-spacing: 0px;
      color: $tin-color;
      font-weight: 500;
      margin-top: 10px;
      margin-bottom: 10px;
      opacity: 1;
    }

    .button-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 1rem;
    }

    @mixin theme($back) {
      background: $back 0% 0% no-repeat padding-box;
      border-radius: 10px;
      opacity: 1;
      padding: 0.7rem;
      width: 7rem;
      font: normal normal normal 14px/17px Montserrat;
      letter-spacing: 0px;
      color: $white;
      font-weight: 500;
    }

    .blue-button {
      @include theme($back: #3c66a3);
      margin-right: 15px;
    }

    .red-button {
      @include theme($back: #b52d2d);
    }
  }

  .table-container {
    margin-top: 3rem;
    padding-right: 3rem;
  }

  .column1 {
    float: left;
    width: 44%;
  }

  .column2 {
    float: right;
    width: 44%;
  }

  .employee-salary,
  .deduction {
    background: #697692 0% 0% no-repeat padding-box;
    opacity: 1;
    padding: 0.6rem 15px;
    font: normal normal normal 14px/17px Montserrat;
    font-weight: 500;
    letter-spacing: 0px;
    color: $white;
    opacity: 1;
  }

  .left_right {
    display: flex;
  }

  .left {
    float: left;
    width: 50%;
    border-right: 1px solid #565656;
  }

  .right {
    float: left;
    width: 50%;
  }

  .left2 {
    float: left;
    width: 35%;
    border-right: 1px solid #565656;
  }

  .right2 {
    float: left;
    width: 65%;
  }

  .title {
    font: normal normal normal 13px/16px Montserrat;
    font-weight: 550;
    letter-spacing: 0px;
    color: #565656;
    opacity: 1;
    vertical-align: middle;
    padding: 15px;
  }

  .title:nth-child(even),
  .sub-title:nth-child(even) {
    background: $white;
  }

  .sub-title {
    font: normal normal normal 13px/16px Montserrat;
    font-weight: 500;
    letter-spacing: 0px;
    color: #565656;
    opacity: 1;
    vertical-align: middle;
    padding: 15px;
  }

  .radio_button {
      margin-right: 15px;
  }

  ::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color: $radio-color;
  }

  ::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: $white; /*inner circle color change*/
  }

  ::ng-deep
    .mat-radio-button.mat-accent.mat-radio-checked
    .mat-radio-outer-circle {
    border-color: $radio-color; /*outer ring color change*/
    background: $radio-color;
  }
}

@media (max-width: 1300px) {
  .wrapper {
    .column1,
    .column2 {
      width: 48%;
    }
  }
}

@media (max-width: 1024px) {
  .wrapper {
    .column1,
    .column2 {
      width: 100%;
    }
  }
}
