<div class="wrapper">

    <form novalidate [formGroup]="feedbackForm" id="ngForm" #fform="ngForm" (ngSubmit)="onSubmit()">
        <p>
            <!-- Vehicle Model -->
            <mat-form-field class="half-width" appearance="outline">
                <mat-label>Vehicle Model</mat-label>
                <input matInput formControlName="model" required>
                <mat-error>{{ formErrors.model }}</mat-error>
            </mat-form-field>
            <!-- Vehicle Make -->
            <mat-form-field class="half-width" appearance="outline">
                <mat-label>Vehicle Make</mat-label>
                <input matInput formControlName="make" required>
                <mat-error>{{formErrors.make}}</mat-error>
            </mat-form-field>
        </p>
        <p>
            <!-- Vehicle Type * -->
            <mat-form-field class="half-width" appearance="outline">
                <mat-label>Vehicle Type</mat-label>
                <mat-select matInput formControlName="vehicle_type" required>
                    <mat-option *ngFor="let t of vehicleType" [value]="t?.id">{{ t?.name}}</mat-option>
                </mat-select>
                <mat-error>{{formErrors.vehicle_type}}</mat-error>
                <mat-hint *ngIf="vehicle_error && !vehicle_loading" align="end" (click)="getVehicleType()">
                    <button>Reload</button>
                </mat-hint>
                <mat-hint *ngIf="vehicle_loading" align="end">
                    loading...
                </mat-hint>
            </mat-form-field>
            <!-- Number of carry -->
            <mat-form-field class="half-width" appearance="outline">
                <mat-label>Number of carry</mat-label>
                <input matInput formControlName="no_carry" type="number" required>
                <mat-error>{{formErrors.no_carry}}</mat-error>
            </mat-form-field>
        </p>
        <p>
            <!-- Vehicle Chassis Number / VIN -->
            <mat-form-field class="half-width" appearance="outline">
                <mat-label>Vehicle Chassis Number / VIN</mat-label>
                <input matInput formControlName="vin" required>
                <mat-error>{{formErrors.vin}}</mat-error>
            </mat-form-field>
            <!-- year -->
            <mat-form-field class="half-width" appearance="outline">
                <mat-label>Vehicle Year</mat-label>
                <input matInput formControlName="year" type="number" required>
                <mat-error>{{formErrors.year}}</mat-error>
            </mat-form-field>
        </p>
        <p>
            <!-- Vehicle Colour -->
            <mat-form-field class="half-width" appearance="outline">
                <mat-label>Vehicle Colour</mat-label>
                <input matInput formControlName="color" required>
                <mat-error>{{formErrors.color}}</mat-error>
            </mat-form-field>
            <!-- Engine capacity -->
            <mat-form-field class="half-width" appearance="outline">
                <mat-label>Engine capacity</mat-label>
                <mat-select matInput formControlName="engine_capacity" required>
                    <mat-option value="1.2-1.6">Between 1.2-1.6</mat-option>
                    <mat-option value="1.7-2.0">Between 1.7-2.0</mat-option>
                    <mat-option value="2.1-3.0">Between 2.1-3.0</mat-option>
                    <mat-option value="3.1">Above 3.0</mat-option>
                </mat-select>
                <mat-error>{{formErrors.engine_capacity}}</mat-error>
            </mat-form-field>
        </p>
        <p>
            <!-- Type of Fuel -->
            <mat-form-field class="half-width" appearance="outline">
                <mat-label>Type of Fuel</mat-label>
                <mat-select matInput formControlName="fuel" required>
                    <mat-option value="desiel">Desiel</mat-option>
                    <mat-option value="petrol">Petrol</mat-option>
                    <mat-option value="gas">Gas</mat-option>
                </mat-select>
                <mat-error>{{formErrors.fuel}}</mat-error>
            </mat-form-field>
            <!-- plate -->
            <mat-form-field class="half-width" appearance="outline">
                <mat-label>Select Plate Number</mat-label>
                <mat-select *ngIf="!renew" matInput formControlName="plate" required>
                    <mat-option *ngFor="let p of plateMsg;" [value]="p">{{ p?.name }} ({{ p?.type }})</mat-option>
                </mat-select>
                <input *ngIf="renew" matInput formControlName="plate" required>
                <mat-error>{{formErrors.plate}}</mat-error>
            </mat-form-field>
        </p>
        <p *ngIf="renew">
            <!-- Vehicle usage -->
            <mat-form-field class="half-width" appearance="outline">
                <mat-label>Vehicle usage</mat-label>
                <mat-select matInput formControlName="vehicle_usage" required>
                    <mat-option value="private">Private</mat-option>
                    <mat-option value="commercial">Commercial</mat-option>
                    <mat-option value="government">Government</mat-option>
                    <mat-option value="fancy">Fancy</mat-option>
                </mat-select>
                <mat-error>{{formErrors.vehicle_usage}}</mat-error>
            </mat-form-field>
        </p>
    
        <div class="final_submit">
            <button *ngIf="update || renew" mat-button class="verify2" (click)="back()" type="button">Back</button>
            <button type="submit" mat-button class="verify">
                <span *ngIf="!loading && update">Update</span>
                <span *ngIf="!loading && renew">Renew</span>
                <span *ngIf="!loading && !renew && !update">Save and continue</span>
                <div *ngIf="loading" class="loader">
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                </div>
            </button>
        </div>
    
    </form>

    
</div>