$white: #ffffff;

.account-wrapper {
  padding: 20px;

  .profile {
    font: normal normal normal 20px/29px Montserrat;
    font-weight: 500;
    letter-spacing: 0.14px;
    color: #565656;
    text-transform: capitalize;
    opacity: 1;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .container {
    background: $white 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    padding: 2rem;
    width: 80%;
  }

  .profile-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .profile-icon_p {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
  }

  .text1 {
    font: normal normal normal 23px/28px Montserrat;
    font-weight: 500;
    letter-spacing: 0.19px;
    color: #565656;
    opacity: 1;
  }

  .text2 {
    font: normal normal normal 12px/24px Montserrat;
    font-weight: 500;
    letter-spacing: 0.11px;
    color: #565656;
    opacity: 1;
  }

  .edit {
    background: #B9A005 0% 0% no-repeat padding-box;
    border-radius: 10px;
    padding: 0.7rem;
    width: 7rem;
    opacity: 1;
    font: normal normal normal 14px/19px Montserrat;
    text-transform: capitalize;
    letter-spacing: 0px;
    color: $white;
  }

  .details-container_p {
    display: flex;
    gap: 20%;
    margin-top: 2rem;
  }

  .details1 {
    margin-top: 3rem;
    margin-bottom: 1rem;
  }

  .full-name {
    color: rgba(86, 86, 86, 0.7);
    font: normal normal normal 15px/19px Montserrat;
    font-weight: 500;
    margin-bottom: 20px;
    letter-spacing: 0px;
  }

  .details-name {
    font: normal normal normal 15px/19px Montserrat;
    letter-spacing: 0px;
    font-weight: 500;
    margin-left: 20px;
    color: #565656;
    opacity: 1;
  }
}
