.payee_wrapper {
  padding-left: 24px;

  .container {
    padding-top: 48px;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
  }

  .card {
    background: var(--white) 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    padding: 16px;
    width: 220px;
    height: 80px;
    margin-right: 35px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s;
  }

  .card:hover {
    transform: scale(1.2);
  }

  .text {
    margin-left: 10px;
    font: normal normal normal 15px/19px var(--mont);
    letter-spacing: 0px;
    font-weight: 500;
    color: var(--blue);
    opacity: 1;
    text-transform: capitalize;
  }

  .mat-badge-content {
    background: #dd5f5f;
    font: normal normal normal 15px/25px var(--mont);
    font-weight: 500;
    letter-spacing: 0px;
    color: #f0f0f0;
    display: flex;
    justify-content: center;
    padding: 4.8px;
    align-items: center;
    opacity: 1;
  }
}
