<div class="payee_wrapper">

    <div class="container" fxLayoutGap="30px">
        <div class="card" [routerLink]="['generate']" matBadge="1" matBadgeSize="medium">
            <div class="icon"><img src="assets/images/Icon awesome-building.svg" alt=""></div>
            <div class="text">Pay MDA</div>
        </div>
        <div class="card" [routerLink]="['bill']" matBadge="45" matBadgeSize="medium">
            <div class="icon"><img src="assets/images/8726296_receipt_alt_icon.svg" alt=""></div>
            <div class="text">Generated Bills</div>
        </div>
    </div>

</div>